{% extends "::layout.html.twig" %}

{% block titrePage %} Support {% endblock %}

{% block messageAccueil %}Support SI{% endblock %}

{% block contenu %}
    
    
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">        
        
        <!-- Av. projet -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_avancement_projet') }}">
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Calendar-Date-04-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Calendar-Date-04-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Calendar-Date-04-128.png') }}';"
                        alt="Av. projet"
                        > 
                    <div class="caption text-center text-blue">Av. projet</div>
                </a>
            </div>
        </div>

        <!-- Demande de matériels, logiciels -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_demande_materiel') }}">
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Mobile-Phone-Message-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Mobile-Phone-Message-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Mobile-Phone-Message-128.png') }}';"
                        alt="Demande de matériels, logiciels"
                        > 
                    <div class="caption text-center text-blue">Demande de matériels, logiciels</div>
                </a>
            </div>
        </div>

        <!-- Information -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_information') }}">
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Message-Information-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Message-Information-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Message-Information-128.png') }}';"
                        alt="Information"
                        > 
                    <div class="caption text-center text-blue">Information</div>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">  

        {% if is_granted('ROLE_SUPER_ADMIN') %} 
        <!-- Licences -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_support_licenses') }}">
                        <img 
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetsupportsi/images/Verify-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Verify-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Verify-128.png') }}';"
                            alt="Licences"
                            > 
                        <div class="caption text-center text-blue">Licences</div>
                    </a>
                </div>
            </div>
        {% endif %}

        <!-- Ticketing -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_support_ticketing') }}">
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Ticketing-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Ticketing-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Ticketing-128.png') }}';"
                        alt="Ticketing"
                        > 
                    <div class="caption text-center text-blue">Ticketing</div>
                </a>
            </div>
        </div>

        <!-- Base de connaissances -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_support_base_de_connaissances') }}">
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Help-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Help-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Help-128.png') }}';"
                        alt="Base de connaissances"
                        > 
                    <div class="caption text-center text-blue">Base de connaissances</div>
                </a>
            </div>
        </div>

        <!-- Wiki -->
        <div class="vignette-section col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <a href="{{ path('nox_intranet_support_wiki') }}" class="icon" target='_blank'>
                    <img 
                        class="img-rounded"
                        src="{{ asset('bundles/noxintranetsupportsi/images/Book-Open-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Book-Open-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetsupportsi/images/Book-Open-128.png') }}';"
                        alt="Wiki"
                        > 
                    <div class="caption text-center text-blue">Wiki</div>
                </a>
            </div>
        </div>
    </div>
</div>
                 
{% endblock %}