{% extends "::layout.html.twig" %}

{% block titrePage %} Demande de matériel/logiciel {% endblock %}

{% block messageAccueil %} Demande de matériel/logiciel {% endblock %}

{% block contenu %}

    <div style='font-size: 0.8vw;'>

        {{ form_start(formDemandeMateriel, {'attr': {'style': 'border: 2px outset #1F4E79; background-color: rgba(255,255,255, 0.6);' }}) }}
        {{ form_errors(formDemandeMateriel) }}

        <div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 3%;">
            {{ form_label(formDemandeMateriel.agence, 'Agence:') }}
            {{ form_errors(formDemandeMateriel.agence) }}
            {{ form_widget(formDemandeMateriel.agence, {'attr': {'style': 'text-align: center;'}}) }}
        </div><!--

        --><div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 3%;">
            {{ form_label(formDemandeMateriel.demandeur, 'Collaborateur:') }}
            {{ form_errors(formDemandeMateriel.demandeur) }}
            {{ form_widget(formDemandeMateriel.demandeur, {'attr': {'style': 'text-align: center;'}}) }}
        </div>

        <div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 1%;">
            {{ form_label(formDemandeMateriel.materielCheckbox, 'Matériel') }}
            {{ form_errors(formDemandeMateriel.materielCheckbox) }}
            {{ form_widget(formDemandeMateriel.materielCheckbox) }}
        </div><!--

        --><div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 1%;">
            {{ form_label(formDemandeMateriel.logicielCheckbox, 'Logiciel') }}
            {{ form_errors(formDemandeMateriel.logicielCheckbox) }}
            {{ form_widget(formDemandeMateriel.logicielCheckbox) }}
        </div>

        <div style="display: none; width: 50%; text-align: center; margin-bottom: 3%; float: left;">
            {{ form_label(formDemandeMateriel.materielList, 'Type de matériel') }} <br />
            {{ form_errors(formDemandeMateriel.materielList) }}
            {{ form_widget(formDemandeMateriel.materielList) }}
        </div><!--

        --><div style="display: none; width: 50%; text-align: center; margin-bottom: 3%; float: right;">
            {{ form_label(formDemandeMateriel.logicielName, 'Nom du/des logiciel(s)') }} <br />
            {{ form_errors(formDemandeMateriel.logicielName) }}
            {{ form_widget(formDemandeMateriel.logicielName) }}
        </div>

        <div style='padding-left: 15%; margin-bottom: 3%; clear: both;'>
            {{ form_label(formDemandeMateriel.raison, 'Raison de la demande') }} <br />
            {{ form_errors(formDemandeMateriel.raison) }}
            {{ form_widget(formDemandeMateriel.raison) }}
        </div>

        <div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 3%;">
            {{ form_label(formDemandeMateriel.date, 'Date désirée:') }}
            {{ form_errors(formDemandeMateriel.date) }}
            {{ form_widget(formDemandeMateriel.date, {'attr': {'style': 'display: inline-block;'}}) }}
        </div><!--

        --><div style="display: inline-block; width: 50%; text-align: center; margin-bottom: 3%;">
            {{ form_label(formDemandeMateriel.mailSuperieur, 'Mail du supérieur hiérarchique:') }}
            {{ form_errors(formDemandeMateriel.mailSuperieur) }}
            {{ form_widget(formDemandeMateriel.mailSuperieur) }}
        </div>

        <div style='text-align: center;'>       
            {{ form_widget(formDemandeMateriel.Valider, {'attr': {'class': 'boutonFormulaire', 'style': 'font-size: 1vw'}}) }}
        </div>

        {{ form_end(formDemandeMateriel) }}
    </div>

    <script>
        $(window).load(function () {
            // Détecte les changement sur la checkbox du matériel...
            $('#form_materielCheckbox').change(function () {
                // ...Et fait apparaitre la liste de type de matériel.
                if ($(this).is(':checked')) {
                    $('#form_materielList').parent('div').css('display', 'inline-block');
                    $('#form_materielList').attr('required', true);
                }
                // ...Et fait disparaitre la liste de type de matériel.
                else {
                    $('#form_materielList').parent('div').hide();
                    $('#form_materielList').attr('required', false);
                }
            });

            // Détecte les changement sur la checkbox de logiciel...
            $('#form_logicielCheckbox').change(function () {
                // ...Et fait apparaitre la zone de texte de logiciel.
                if ($(this).is(':checked')) {
                    $('#form_logicielName').parent('div').css('display', 'inline-block');
                    $('#form_logicielName').attr('required', true);
                }
                // ...Et fait disparaitre la zone de texte de logiciel.
                else {
                    $('#form_logicielName').parent('div').hide();
                    $('#form_logicielName').attr('required', false);
                }
            });

            // Lors de la validation du formulaire.
            $('#form_Valider').click(function () {
                // Si aucune checkbox n'est cochée, affiche une message d'erreur et bloque l'envoi du formulaire.
                if ($('#form_materielCheckbox:checked').length === 0 && $('#form_logicielCheckbox:checked').length === 0) {
                    alert('Veuillez cocher au moins un type de contenu pour votre demande !');
                    return false;
                }
                // Si la date spécifié est inférieur à la date du jour, affiche une message d'erreur et bloque l'envoi du formulaire.
                if (new Date($('#form_date_year').val(), $('#form_date_month').val() - 1, $('#form_date_day').val()) < new Date()) {
                    alert('Veuillez entrer une date supérieur à la date du jour !');
                    return false;
                }
            });
        });
    </script>

{% endblock %}
