{% extends "::layoutV2.html.twig" %}

{% block titrePage %} Recrutement {% endblock %}

{% block messageAccueil %}Recrutement{% endblock %}

{% block contenu %}
    <style>
        #example1 td a{
            color: black;
            text-decoration: none;
        }
        .cree{
            margin-bottom: 15px;
        }
        
    </style>
   <!-- Main content -->                     
    <section class="content">
        <a href="{{ path('nox_intranet_cree_recrutement') }}"><button class="btn btn-primary cree">Crée une demande d'embauche</button></a>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Demande D'Embauche</h3>
                    </div>
                    
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Référence</th>
                                    <th>Contrat</th>
                                    <th>Ville</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in demande %}
                                    <tr>
                                        <td><a href="{{ path('nox_intranet_consultation_recrutement', { 'reference':  data.reference }) }}"> {{ data.titre }}</a></td>
                                        <td><a href="{{ path('nox_intranet_consultation_recrutement', { 'reference':  data.reference }) }}"> {{ data.reference }}</a></td>
                                        <td><a href="{{ path('nox_intranet_consultation_recrutement', { 'reference':  data.reference }) }}"> {{ data.contrat }}</a></td>
                                        <td><a href="{{ path('nox_intranet_consultation_recrutement', { 'reference':  data.reference }) }}"> {{ data.ville }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

   
   <script>
       $(".dataTables_info")[0].textContent.replace()
   </script>
   
{% endblock %}