{% extends "::layout.html.twig" %}

{% block titrePage %} Edition annonces {{ categorie }} {% endblock %}

{% block messageAccueil %}Edition annonces {{ categorie }}{% endblock %}

{% block contenu %}

    <div id='DivFormulaireSuppresionAnnonce'>
        {{ form_start(formSuppressionAnnonce, {'attr': {'class': 'formulaireSuppressionAnnonce'}}) }}
        {{ form_errors(formSuppressionAnnonce) }}

        <fieldset>

            <legend>Supprimer annonce</legend>

            {{ form_errors(formSuppressionAnnonce.Message) }}
            {{ form_widget(formSuppressionAnnonce.Message, {'attr': {'class': 'selectFormulaireSuppressionAnnonce', 'size': 15}}) }}

            {{ form_widget(formSuppressionAnnonce._token) }}

            {{ form_widget(formSuppressionAnnonce.Supprimer, {'attr': {'class': 'boutonAnnonce' }}) }}

        </fieldset>

        {{ form_end(formSuppressionAnnonce) }}

    </div>

    <div id='DivFormulaireAjoutAnnonce'>
        {{ form_start(formAjoutAnnonce, {'attr': {'class': 'formulaireAjoutAnnonce'}}) }}
        {{ form_errors(formAjoutAnnonce) }}

        <fieldset>

            <legend>Ajouter annonce</legend>

            {{ form_errors(formAjoutAnnonce.Message) }}
            {{ form_widget(formAjoutAnnonce.Message, {'attr': {'class': 'textFormulaireAjoutAnnonce', 'width': '98%'}}) }}

            {{ form_widget(formAjoutAnnonce._token) }}

            {{ form_widget(formAjoutAnnonce.Ajouter, {'attr': {'class': 'boutonAnnonce' }}) }}

        </fieldset>

        {{ form_end(formAjoutAnnonce) }}

    </div>

{% endblock %}
