N° ordre : {{ donneesMessage.numOrdre }} <br /><br />

Bonjour, <br />

L'utilisateur <strong>{{ donneesMessage.demandeur }}</strong> situé dans l'agence de <strong>{{ donneesMessage.agence }}</strong> a fait
la/les demande(s) suivante(s) : <br/><br/>
{% if donneesMessage.materielCheckbox == true %}
    - Matériel :  <strong>{{ donneesMessage.materiel }}</strong>. <br />
{% endif %}
{% if donneesMessage.logicielCheckbox == true %}
    - Logiciel : <strong>{{ donneesMessage.logiciel }}.</strong> <br />
{% endif %}
<br />
Raison de la demande : {{ donneesMessage.raison }}
<br /><br />
Date désirée : <strong>{{ donneesMessage.date|date('d/m/Y') }}</strong>
<br /><br />
{% if prixEstime != null %}
    Le prix estimé par la DSI est de <strong>{{ prixEstime }}</strong> €. <br /><br />
{% endif %}
Pour <span style='color: green;'>valider</span> la demande, merci de <a style="color: green;" href="{{ absolute_url(path('nox_intranet_demande_materiel_confirmation_superieur_hierarchique', {cleDemande: cle, reponse: 'validation'})) }}">cliquer ici</a>.
Pour <span style='color: red;'>refuser</span> la demande, merci de <a style="color: red;" href="{{ absolute_url(path('nox_intranet_demande_materiel_confirmation_superieur_hierarchique', {cleDemande: cle, reponse: 'rejet'})) }}">cliquer ici</a>.