{% extends "::layout.html.twig" %}

{% block titrePage %} Erreur: {{ status_code }} {% endblock %}

{% block messageAccueil %}Erreur: {{ status_code }}{% endblock %}

{% block contenu %}

    <div style="width: 70%; margin: auto;">
        <p style="font-size: 0.9vw;">
            Une erreur s'est produite, vous pouvez contacter l'administateur de l'intranet à l'adresse <a href="mailto:t.besson@groupe-nox.com?subject=Erreur: {{ status_code }}&body=%0D%0A%0D%0ACode erreur: {{ status_code }}%0D%0ATexte erreur: {{ status_text }}">t.besson@groupe-nox.com</a> en lui précisant ce que vous étiez en train de faire au moment de l'erreur.
        </p>
    </div>

{% endblock %}