{% extends "::layout.html.twig" %}

{% block titrePage %}Administration Liens{% endblock %}

{% block messageAccueil %}Administration Liens{% endblock %}

{% block contenu %}

    <div id="divAdministrationLien">

        <div id="administrationLien">
            <form action='{{ path('nox_intranet_ajout_lien') }}' >            
                <label> Ajouter un(e) lien/catégorie : </label> <br />  <br />
                <label for="type"> Type : </label>
                <input type="radio" name="type" value="lien" id="radioLien" checked > Lien </input>
                <input type="radio" name="type" value="categorie" id="radioCategorie"> Catégorie </input> <br />  <br />
                <label for="lienlibelle"> Libellé : </label>
                <input type="text" name='lienlibelle' id="lienlibelle" /> <br />  <br />
                <label for="lien"> Lien : </label>
                <input type="text" name='lien' id="lien" placeholder="Lien" />
                <label for="categorie"> Catégorie : </label>
                <select name="categorie" id="categorie">
                    <option value="Aucune">Aucune</option>
                    {% for categorie in catégories %}
                        <option value="{{ categorie.libelle }}">{{ categorie.libelle }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="Ajouter" value="Ajouter" class="boutonFormulaire" >
            </form>
        </div>

        <table>

            <tr>
                <td> Libelle </td>
                <td> Type </td>
                <td> Catégorie </td>
                <td> Modifier </td>
                <td> Supprimer </td>
            </tr>

            {% for lien in liens %}

                <tr>
                    <td> <p> {{ lien.libelle }} <p> </td>
                    <td> 
                        <p>
                            {% if lien.liens == null %}
                                Catégorie
                            {% else %}
                                Lien ({{ lien.liens }})
                            {% endif %}
                        <p> 
                    </td>
                    <td {% if lien.parent == 'Aucune' %} style="background-color:lightgrey;" {% endif %}> <p> {% if lien.parent != 'Aucune' %} {{ lien.parent }} {% endif %} <p> </td>
                    <td> <a href='{{ path('nox_intranet_modification_lien', {'lienID': lien.id}) }}'> <img id="editionLienImg" src='{{ asset('bundles/noxintranetadministration/images/Data-Edit-32.png') }}'> </a> </td>
                    <td> <a href='{{ path('nox_intranet_suppression_lien', {'lienID': lien.id}) }}'> <img id="suppressionLienImg" src='{{ asset('bundles/noxintranetadministration/images/Delete-48.png') }}'> </a> </td>
                </tr>

            {% endfor %}

        </table>

    </div>
{% endblock %}
