{% extends "::layout.html.twig" %}

{% block titrePage %}
    Administration DB
{% endblock %}

{% block messageAccueil %}Administration base de données utilisateurs{% endblock %}

{% block contenu %}

    <div class="iconContener">

        {% if confirmation is defined and confirmation == true %}

            <p> Voulez-vous mettre à jours la base de donnée utilisateur ? </p>
            
            <!-- Confirmer -->
            <a href="{{ path('nox_intranet_user_updateDB') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Confirm-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Confirm-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Confirm-128.png') }}';"
                        > 
                    <figcaption>Confirmer</figcaption>
                </figure>
            </a>

            <!-- Annuler -->
            <a href="{{ path('nox_intranet_administration_userDB') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Delete-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Delete-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Delete-128.png') }}';"
                        > 
                    <figcaption>Annuler</figcaption>
                </figure>
            </a>

        {% elseif confirmationRestauration is defined and confirmationRestauration == true %}
            
            <p> Voulez-vous restaurer la base de donnée utilisateur ? </p>
            
            <!-- Confirmer -->
            <a href="{{ path('nox_intranet_restaurationBDDConfirmation') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Confirm-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Confirm-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Confirm-128.png') }}';"
                        > 
                    <figcaption>Confirmer</figcaption>
                </figure>
            </a>

            <!-- Annuler -->
            <a href="{{ path('nox_intranet_administration_userDB') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Delete-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Delete-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Delete-128.png') }}';"
                        > 
                    <figcaption>Annuler</figcaption>
                </figure>
            </a>

        {% else %}

            <!-- Mise à jour base de données utilisateurs -->
            <a href="{{ path('nox_intranet_user_verifupdateDB') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Data-Refresh-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Refresh-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Refresh-128.png') }}';"
                        > 
                    <figcaption>Mise à jour</figcaption>
                </figure>
            </a>

            <!-- Restauration des bases de données -->
            <a href="{{ path('nox_intranet_restaurationBDD') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Data-Find-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Find-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Find-128.png') }}';"
                        > 
                    <figcaption>Restauration BDD</figcaption>
                </figure>
            </a>

            <!-- Sauvegarde des bases de données -->
            <a href="{{ path('nox_intranet_sauvegardeBDD') }}" class="icon">
                <figure>
                    <img 
                        src="{{ asset('bundles/noxintranetadministration/images/Data-Copy-128.png') }}" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Copy-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Copy-128.png') }}';"
                        > 
                    <figcaption>Sauvegarde BDD</figcaption>
                </figure>
            </a>

        {% endif %}

    </div>

    {% if ajout is defined and ajout == true %}

        {% for output in outputs %}

            {{ output|raw }} 

        {% endfor %}

    {% endif %}


{% endblock %}