{% extends "::layoutV2.html.twig" %}

{% block titrePage %}
    Entité
{% endblock %}

{% block messageAccueil %}Administration Entité{% endblock %}


{% block contenu %}
       
    <style>
        .content{
            padding-top: 0px;
        }
        button.cree{
            margin-bottom: 10px;
        }
        
    </style>
    
    <!-- Main content -->
    <section class="content">
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('nox_intranet_administration_add_entite') }}"><button class="btn btn-primary col-sm-4 col-md-3 col-lg-2 cree">Crée Nouvelle Entite</button></a>
            {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Entite</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Societe</th>
                                    <th>Etablissement</th>
                                    <th>AA</th>
                                    <th>DA</th>
                                    <th>ARH</th>
                                    <th>N+2</th>
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <th>Option</th>
                                    {% endif %}

                                </tr>
                                
                            </thead>
                            <tbody>
                                {% for data in entite %}
                                    
                                    <tr>
                                        <td>{{ data.societe }}</td>
                                        <td>{{ data.etablissement }}</td>
                                        <td>{{ data.aa }}</td>
                                        <td>{{ data.da }}</td>
                                        <td>{{ data.arh }}</td>
                                        <td>{{ data.n2 }}</td>
                                        {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <td class="">
             
                                            <a href="{{ path('nox_intranet_administration_modif_entite', { 'id':  data.id }) }}"><button class="btn btn-warning col-sm-12">Modifier</button></a>
                                            <button type="button" class="btn btn-danger col-sm-12" data-toggle="modal" data-target=#modal-default-{{data.id}}>Supprimer</button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            {% if app.user and is_granted('ROLE_ADMIN') %}
                {% for data in entite %}
                    <div class="modal fade" id=modal-default-{{data.id}} style="display: none;">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Confirmation Suppresion Entite</h4>
                          </div>
                          <div class="modal-body">
                            <p>Voulez-vous vraiment supprimer l'entite suivante :</p>
                            <p><strong>Sociéte :</strong> {{ data.societe }}</p>
                            <p><strong>Etablissement :</strong> {{ data.etablissement }}</p>
                            <p><strong>AA :</strong> {{ data.aa }}</p>
                            <p><strong>DA :</strong> {{ data.da }}</p>
                            <p><strong>ARH :</strong> {{ data.arh }}</p>
                            <p><strong>N+2 :</strong> {{ data.n2 }}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Retour</button>
                            <a href="{{ path('nox_intranet_administration_supp_entite', { 'id':  data.id }) }}"><button class="btn btn-danger">Supprimer</button></a>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                {% endfor %}
            {% endif %}
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

   
   <script>
       $(".dataTables_info")[0].textContent.replace()
   </script>
{% endblock %}