{% extends "::layout.html.twig" %}

{% block style %}
    {% stylesheets '@NoxIntranetAdministrationBundle/Resources/public/css/administration.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block titrePage %}Administration{% endblock %}

{% block messageAccueil %}Administration{% endblock %}
{% block sousMessageAccueil %}Veuillez sélectionner le type de contenu à gérer.{% endblock %}

{% block contenu %}
    {% if app.user and is_granted('ROLE_ADMIN') %}

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h4>Configuration Intranet :</h4>

                {% if app.user and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN'))%}
                    <!-- Administration Administrateur -->
                    <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="thumbnail">
                            <a href="{{ path('nox_intranet_administration_user_admin') }}">
                                <img 
                                    class="img-rounded"
                                    src="{{ asset('bundles/noxintranetadministration/images/User-Shield-128.png') }}" 
                                    onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/User-Shield-128-hover.png') }}';" 
                                    onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/User-Shield-128.png') }}';"
                                    alt="Administrateurs"
                                    > 
                                <div class="caption text-center text-blue">Administrateurs</div>
                            </a>
                        </div>
                    </div>

                    {% if app.user and app.user.local == true %}
                        <!-- Mot de passe -->
                        <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="thumbnail">
                                <a href="{{ path('nox_intranet_admin_mdp') }}">
                                    <img 
                                        class="img-rounded"
                                        src="{{ asset('bundles/noxintranetadministration/images/Password-Text-01-128.png') }}" 
                                        onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Password-Text-01-128-hover.png') }}';" 
                                        onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Password-Text-01-128.png') }}';"
                                        alt="Mot de passe"
                                        > 
                                    <div class="caption text-center text-blue">Mot de passe</div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                <!-- Synchro. AD -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_userDB') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Data-Connect-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Connect-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Data-Connect-128.png') }}';"
                                alt="Synchro. AD"
                                > 
                            <div class="caption text-center text-blue">Synchro. AD</div>
                        </a>
                    </div>
                </div>

                <!-- Utilisateurs -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_user') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/User-Group-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/User-Group-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/User-Group-128.png') }}';"
                                alt="Utilisateurs"
                                > 
                            <div class="caption text-center text-blue">Utilisateurs</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h4>Publication DSI :</h4>

                <!-- Archives -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_archives') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Archive-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Archive-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Archive-128.png') }}';"
                                alt="Archives"
                                > 
                            <div class="caption text-center text-blue">Archives</div>
                        </a>
                    </div>
                </div>

                <!-- Avancement Projet -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_avancement_projet') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Calendar-Date-04-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Calendar-Date-04-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Calendar-Date-04-128.png') }}';"
                                alt="Avancement Projet"
                                > 
                            <div class="caption text-center text-blue">Avancement Projet</div>
                        </a>
                    </div>
                </div>   

                <!-- Demande Mat/log -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_materiel') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Mobile-Phone-Message-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Mobile-Phone-Message-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Mobile-Phone-Message-128.png') }}';"
                                alt="Demande Mat/log"
                                > 
                            <div class="caption text-center text-blue">Demande Mat/log</div>
                        </a>
                    </div>
                </div>   

                <!-- Informations -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_information') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Message-Information-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Message-Information-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Message-Information-128.png') }}';"
                                alt="Informations"
                                > 
                            <div class="caption text-center text-blue">Informations</div>
                        </a>
                    </div>
                </div>   

                <!-- Message d'alerte -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_message_alerte') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Message-Warning-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Message-Warning-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Message-Warning-128.png') }}';"
                                alt="Message d'alerte"
                                > 
                            <div class="caption text-center text-blue">Message d'alerte</div>
                        </a>
                    </div>
                </div>   

                <!-- Monitoring charte informatique -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_charte_informatique_monitoring') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Bullets-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Bullets-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Bullets-128.png') }}';"
                                alt="Monitoring charte informatique"
                                > 
                            <div class="caption text-center text-blue">Monitoring charte informatique</div>
                        </a>
                    </div>
                </div>   

                <!-- Monitoring scripts planifiés -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_monitoring_scheduled_scripts') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Bullets-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Bullets-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Bullets-128.png') }}';"
                                alt="Monitoring scripts planifiés"
                                > 
                            <div class="caption text-center text-blue">Monitoring scripts planifiés</div>
                        </a>
                    </div>
                </div>   

                <!-- News DSI -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_news') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Newspaper-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Newspaper-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Newspaper-128.png') }}';"
                                alt="News DSI"
                                > 
                            <div class="caption text-center text-blue">News DSI</div>
                        </a>
                    </div>
                </div>   

                <!-- Serveurs -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_serveurs') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Server-02-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Server-02-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Server-02-128.png') }}';"
                                alt="Serveurs"
                                > 
                            <div class="caption text-center text-blue">Serveurs</div>
                        </a>
                    </div>
                </div>   

                <!-- Statistique VPN -->
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_vpn_stats_upload') }}">
                            <img 
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Bar-Chart-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Bar-Chart-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Bar-Chart-128.png') }}';"
                                alt="Statistique VPN"
                                > 
                            <div class="caption text-center text-blue">Statistique VPN</div>
                        </a>
                    </div>
                </div>
                                
            </div>
        </div>  
    {% endif %}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>Publication Collaborateurs :</h4>
            
            <!-- Assistant d'affaire -->
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_administration_affaires') }}">
                            <img
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Business-Man-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Business-Man-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Business-Man-128.png') }}';"
                                alt="Assistant d'affaire"
                                > 
                            <div class="caption text-center text-blue">Assistant d'affaire</div>
                        </a>
                    </div>
                </div> 
            {% endif %}  
              
            <!-- Assurance qualité -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_aq') }}">
                        <img
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetadministration/images/Hand-Sign-06-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Hand-Sign-06-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Hand-Sign-06-128.png') }}';"
                            alt="Assurance qualité"
                            >
                        <div class="caption text-center text-blue">Assurance qualité</div>
                    </a>
                </div>
            </div>
                            
            <!-- Communication -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_communication') }}">
                        <img
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetadministration/images/Messages-Information-01-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Messages-Information-01-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Messages-Information-01-128.png') }}';"
                            alt="Communication"
                            >
                        <div class="caption text-center text-blue">Communication</div>
                    </a>
                </div>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- FAQ -->
            {% if app.user and is_granted('ROLE_FAQ') %}
                <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('nox_intranet_faq') }}">
                            <img
                                class="img-rounded"
                                src="{{ asset('bundles/noxintranetadministration/images/Help-128.png') }}" 
                                onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Help-128-hover.png') }}';" 
                                onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Help-128.png') }}';"
                                alt="FAQ"
                                > 
                            <div class="caption text-center text-blue">FAQ</div>
                        </a>
                    </div>
                </div> 
            {% endif %}
            
            <!-- Liens -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_administration_liens') }}">
                        <img
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetadministration/images/Link-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Link-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Link-128.png') }}';"
                            alt="Liens"
                            >
                        <div class="caption text-center text-blue">Liens</div>
                    </a>
                </div>
            </div>
                            
            <!-- Références -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_references') }}">
                        <img
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetadministration/images/Sort-Ascending-01-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Sort-Ascending-01-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Sort-Ascending-01-128.png') }}';"
                            alt="Références"
                            >
                        <div class="caption text-center text-blue">Références</div>
                    </a>
                </div>
            </div>
                            
            <!-- Ticketing -->
            <div class="vignette-section col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <a href="{{ path('nox_intranet_administration_ticketing') }}">
                        <img
                            class="img-rounded"
                            src="{{ asset('bundles/noxintranetadministration/images/Ticketing-128.png') }}" 
                            onmouseover="this.src = '{{ asset('bundles/noxintranetadministration/images/Ticketing-128-hover.png') }}';" 
                            onmouseout="this.src = '{{ asset('bundles/noxintranetadministration/images/Ticketing-128.png') }}';"
                            alt="Ticketing"
                            >
                        <div class="caption text-center text-blue">Ticketing</div>
                    </a>
                </div>
            </div> 
              
        </div>
    </div>

    <!-- DRH -->
    
    <div class="col-lg-10 col-lg-offset-1">
        {% if app.user and is_granted('ROLE_RH') %}

        <div class="sousMessageAcceuil"> 
            <h4> DRH :  </h4>
        </div>

        <table id='DRHTable' class="table">
            <thead>
                <tr>
                    <th>Pointage</th>
                    <th>Développement professionnel</th>
                    <th>Autre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'RH'}) }}">Assistant(e) RH - Correction/Validation compilation</a></div>
                    </td>
                    <td>
                        {% if app.user.username == 'n.rigaudeau' or app.user.username == 'a.forestier' or app.user.username == 't.besson' %}
                            <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_developpement_professionnel_synthese_excel') }}">Synthèse</a></div>
                        {% endif %}
                    </td>
                    <td>
                        <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_prestation_administration_da') }}">Prestations internes - Administration des DA</a></div>
                    </td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'Final'}) }}">Consultation des compilations validées</a></div></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path('nox_intranet_developpement_professionnel_monitoring_formulaire') }}">Suivis des entretiens</a></div></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_info_file_uploading") }}">Import des informations de matrice de compétence</a></div></td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href="https://noxingenierie-my.sharepoint.com/personal/l_morisseau_groupe-nox_com/_layouts/15/WopiFrame.aspx?sourcedoc=%7B84616442-030A-4A6D-8CD9-B17A0FB1D49C%7D&file=COMPILATION%20FICHIER%20HIERARCHIQUE%20110117.xlsx&action=default" target="_blank">Fichier de hiérarchie RH</a></div></td>
                    <td></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_export_matrice_competence") }}">Export des compétences des collaborateurs</a></div></td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href='{{ asset('Pointage/Aide/Prise en main du pointage RH.pdf') }}' target='_blank'>Consulter la notice</a></div></td>
                    <td></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_consultation_matrice_competence") }}">Tableau de consultation des compétences</a></div></td>
                </tr>
            </tbody>
        </table>

        {% endif %} 
    </div>
    <!-- Fin DRH -->
{% endblock %}
