{% extends "::layoutV2.html.twig" %}

{% block titrePage %}
    Administration
{% endblock %}

{% block messageAccueil %}Administration{% endblock %}
{% block sousMessageAccueil %}Veuillez sélectionner le type de contenu à gérer.{% endblock %}


{% block contenu %}

    <style>
        #DRHTable {
            width: 50%;
            margin: auto;
            margin-bottom: 5em;
        }

        #DRHTable, #DRHTable tr, #DRHTable th, #DRHTable td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        #DRHTable th {
            color: white;
            background-color: #1F4E79;
        }

        #DRHTable tr {
            border: none;
        }

        #DRHTable td {
            padding: 1% 2% 1% 2%;
            border-top: none;
            border-bottom: none;
        }

        #DRHTable td .DRHLinkDiv {
            display: inline-block;
            padding: 2%;
            border-top: solid 1px rgb(192,0,0);
            border-bottom: solid 1px rgb(192,0,0);
        }

        #DRHTable td .DRHLinkDiv:hover {
            border-top: solid 1px black;
            border-bottom: solid 1px black;
        }

        #DRHTable td a, #DRHTable td a:visited {
            color: #1F4E79;
            text-decoration: none;
        } 
        
        
        
        
        
        .iconContener .row figure{
            text-align: center;
                margin: 25px 0;
        } 
        
        .iconContener .row span{
            font-size: 100px;
            background-color: rgb(31,78,121);
            width: 150px;
            height: 150px;
            text-align: center;
            line-height: 150px;
            color: #fff;

        } 
        
        .iconContener .row a:hover span  {
            background-color: #fff ;
            color: rgb(31,78,121);
        }
        .iconContener .row a:hover span figcaption{
            color: rgb(31,78,121);
            font-weight: bold;
        } 
        
        .iconContener .row span figcaption{
            height: 87px;
            margin-top: -87px;
            color: #fff;
            font-size: 12px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
        } 
        
        .iconContener .row figcaption.deuxligne{
            height: 87px;
            margin-top: -38px;
            color: #fff;
            font-size: 12px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
            line-height: 19px;
            
        } 

        .iconContener .row h4{
            margin-left: 15px;
        } 

        @media (min-width: 768px) and (max-width: 991px) { 
            .iconContener .row span{
                width: 125px;
                height: 150px;
            }
            .iconContener .row figcaption.deuxligne{
                height: 87px;
                margin-top: -37px;
                color: #fff;
                font-size: 12px;
                font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-weight: 400;
                line-height: 19px;
            } 
        }
    </style>

    <div class="iconContener">
        <div class="row">
        {% if app.user and is_granted('ROLE_ADMIN') %}

            <div class="sousMessageAcceuil"> 
                <h4> Configuration Intranet :  </h4>
            </div>

            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}

                <!-- Administration Administrateur -->
                <a href="{{ path('nox_intranet_administration_user_admin') }}" class="icon">
                    <figure class="col-xs-3" >
                        <span class="fa fa-group"><figcaption>Administrateurs</figcaption></span>
                    </figure>
                </a>

            {% endif %}

            <!-- Licenses (A faire) 
            <a href="{{ path('nox_intranet_administration_userDB') }}" class="icon">
                <figure>
                    <span class="fa fa-files-o"><figcaption>Licenses</figcaption></span>
                </figure>
            </a>
            -->

            {% if app.user and app.user.local == true %}

                <!-- Mot de passe -->

                    <a href="{{ path('nox_intranet_admin_mdp') }}" class="icon">
                        <figure class="col-xs-3" >
                            <span class="fa fa-database"><figcaption>Modif. MDP</figcaption></span>
                        </figure>
                    </a>
 
            {% endif %}

            <!-- Synchro. AD -->

                <a href="{{ path('nox_intranet_administration_userDB') }}" class="icon">
                    <figure class="col-xs-3" >
                        <span class="fa fa-database"><figcaption>Synchro. AD</figcaption></span>
                    </figure>
                </a>

                
            <!-- Administration Utilisateurs -->
            <a href="{{ path('nox_intranet_administration_user') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-group"><figcaption>Utilisateurs</figcaption></span>
                </figure>
            </a>

            </div>
            <div class="row">
                
            <div class="sousMessageAcceuil"> 
                <h4> Publication DSI :  </h4>
            </div>

            <!-- Archives -->
            <a href="{{ path('nox_intranet_archives') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-archive"><figcaption>Archives</figcaption></span>
                </figure>
            </a>

            <!-- Avancement Projet -->
            <a href="{{ path('nox_intranet_avancement_projet') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-calendar"><figcaption>Av. projet</figcaption></span>
                </figure>
            </a>

            <!-- Demande Mat/log -->
            <a href="{{ path('nox_intranet_administration_materiel') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-shopping-basket"><figcaption>Demande Mat/log</figcaption></span>
                </figure>
            </a> 

            </div>
            <div class="row">

            <!-- Imprimantes (A faire)
            <a href="{{ path('nox_intranet_administration_imprimantes') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-print"><figcaption>Imprimantes</figcaption></span>
                </figure>
            </a> 
            -->

            <!-- Informations -->
            <a href="{{ path('nox_intranet_information') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-info"><figcaption>Informations</figcaption></span>
                </figure>
            </a>  

            <!-- Message d'alerte -->
            <a href="{{ path('nox_intranet_administration_message_alerte') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-warning"><figcaption>Message d'alerte</figcaption></span>
                </figure>
            </a>

            <!-- Monitoring charte informatique -->
            <a href="{{ path('nox_intranet_charte_informatique_monitoring') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-list"><figcaption class="deuxligne">Monitoring charte informatique</figcaption></span>
                </figure>
            </a>

            </div>
            <div class="row">

            <!-- Monitoring scripts planifiés -->
            <a href="{{ path('nox_intranet_monitoring_scheduled_scripts') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-list"><figcaption class="deuxligne">Monitoring scripts planifiés</figcaption></span>
                </figure>
            </a>

            <!-- News DSI -->
            <a href="{{ path('nox_intranet_administration_news') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-newspaper-o"><figcaption>News DSI</figcaption></span>
                </figure>
            </a>

            <!-- Serveurs -->
            <a href="{{ path('nox_intranet_administration_serveurs') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-server"><figcaption>Serveurs</figcaption></span>
                </figure>
            </a>   

            <!-- Statistique VPN -->
            <a href="{{ path('nox_intranet_vpn_stats_upload') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-bar-chart"><figcaption>Statistique VPN</figcaption></span>
                </figure>
            </a>   

        {% endif %}

        </div>
        <div class="row">
        
            <div class="sousMessageAcceuil"> 
                <h4> Publication Collaborateurs :  </h4>
            </div>

            {% if app.user and is_granted('ROLE_ADMIN') %}

                <!-- Assistant d'affaire -->
                <a href="{{ path('nox_intranet_administration_affaires') }}" class="icon">
                    <figure class="col-xs-3" >
                        <span class="fa fa-handshake-o"><figcaption>Assistant d'affaire</figcaption></span>
                    </figure>
                </a>

            {% endif %}

            <!-- Assurance qualité -->
            <a href="{{ path('nox_intranet_aq') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-check-square-o"><figcaption>Assurance qualité</figcaption></span>
                </figure>
            </a>

            <!-- Communication -->
            <a href="{{ path('nox_intranet_communication') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-comments"><figcaption>Communication</figcaption></span>
                </figure>
            </a>    

        </div>
        <div class="row">

            {% if app.user and is_granted('ROLE_FAQ') %}        
                <!-- FAQ -->
                <a href="{{ path('nox_intranet_faq') }}" class="icon">
                    <figure class="col-xs-3" >
                        <span class="fa fa-question"><figcaption>FAQ</figcaption></span>
                    </figure>
                </a>

            {% endif %}

            <!-- Liens -->
            <a href="{{ path('nox_intranet_administration_liens') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-link"><figcaption>Liens</figcaption></span>
                </figure>
            </a>

            <!-- Procédures (A ajouté)
            <a href="{{ path('nox_intranet_administration_liens') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-file-text-o"><figcaption>Procédures</figcaption></span>
                </figure>
            </a>
            -->

            <!-- Références -->
            <a href="{{ path('nox_intranet_references') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-puzzle-piece"><figcaption>Références</figcaption></span>
                </figure>
            </a>

            <!-- Ticketing -->
            <a href="{{ path('nox_intranet_administration_ticketing') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-ticket"><figcaption>Ticketing</figcaption></span>
                </figure>
            </a>
                
            <!-- user -->
            <a href="{{ path('nox_intranet_administration_gestion_users') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-ticket"><figcaption>Users</figcaption></span>
                </figure>
            </a>
                
            <!-- entite -->
            <a href="{{ path('nox_intranet_administration_entite') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-ticket"><figcaption>Gestion Entite</figcaption></span>
                </figure>
            </a>
                
                
                
                
        </div>
            
                
                
                
                
                
                
                
                
        <!-- DRH -->
        {% if app.user and is_granted('ROLE_RH') %}

            <div class="sousMessageAcceuil"> 
                <h4> DRH :  </h4>
            </div>

            <table id='DRHTable' class="table text-center">
                <tr>
                    <th>Pointage</th>
                    <th>Développement professionnel</th>
                    <th>Autre</th>
                </tr>
                <tr>
                    <td>
                        <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'RH'}) }}">Assistant(e) RH - Correction/Validation compilation</a></div>
                    </td>
                    <td>
                        {% if app.user.username == 'n.rigaudeau' or app.user.username == 'a.forestier' or app.user.username == 't.besson' %}
                            <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_developpement_professionnel_synthese_excel') }}">Synthèse</a></div>
                        {% endif %}
                    </td>
                    <td>
                        <div class='DRHLinkDiv'><a href="{{ path('nox_intranet_prestation_administration_da') }}">Prestations internes - Administration des DA</a></div>
                    </td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'Final'}) }}">Consultation des compilations validées</a></div></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path('nox_intranet_developpement_professionnel_monitoring_formulaire') }}">Suivis des entretiens</a></div></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_info_file_uploading") }}">Import des informations de matrice de compétence</a></div></td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href="https://noxingenierie-my.sharepoint.com/personal/l_morisseau_groupe-nox_com/_layouts/15/WopiFrame.aspx?sourcedoc=%7B84616442-030A-4A6D-8CD9-B17A0FB1D49C%7D&file=COMPILATION%20FICHIER%20HIERARCHIQUE%20110117.xlsx&action=default" target="_blank">Fichier de hiérarchie RH</a></div></td>
                    <td></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_export_matrice_competence") }}">Export des compétences des collaborateurs</a></div></td>
                </tr>
                <tr>
                    <td><div class='DRHLinkDiv'><a href='{{ asset('Pointage/Aide/Prise en main du pointage RH.pdf') }}' target='_blank'>Consulter la notice</a></div></td>
                    <td></td>
                    <td><div class='DRHLinkDiv'><a href="{{ path("nox_intranet_matrice_collaborateur_consultation_matrice_competence") }}">Tableau de consultation des compétences</a></div></td>
                </tr>
            </table>

        {% endif %}
        <!-- Fin DRH -->

    </div>

{% endblock %}
