{% extends "::layout.html.twig" %}

{% block titrePage %}Upload fichier hiérarchie RH{% endblock %}

{% block messageAccueil %}Upload fichier hiérarchie RH{% endblock %}

{% block contenu %}
    <div style='width: 70%; margin: auto; text-align: center;'>
        {{ form_start(formUpload, {'attr': {'style': 'width: 70%; margin: auto; text-align: center; background-color: rgba(255,255,255, 0.6); border: 2px outset #1F4E79;'}}) }}
        {{ form_label(formUpload.fichierRH, "Envoi d'un nouveau fichier de hiérarchie.") }}<br />
        <p style='margin: 0; color: red;'>Veillez à respecter la syntaxe du fichier pour le bon fonctionnement de la lecture du fichier, le modèle est disponible <a href='{{ pathExemple }}' target='_blank' style='color: red;'>ici</a>.</p>
        <p style='margin: 0; color: red;'>Le fichier doit être au format 'xlsx'.</p>
        {{ form_widget(formUpload.fichierRH, {'attr': {'style': 'margin-top: 1%; margin-bottom: 3%;'}}) }}<br />
        {{ form_widget(formUpload.envoiFichier, {'attr': {'class': 'boutonFormulaire'}}) }}
        {{ form_end(formUpload) }}
        <p style='margin-top: 3%; margin-bottom: 5%;'>Vous pouvez <span style='font-weight: bold;'>télécharger le fichier courant</span> en <a href='{{ pathFichierHierarchie }}' target='_blank' style='color: #1F4E79;'>cliquant ici</a>.</p>
    </div>
{% endblock %}
