{% extends "::layoutV2.html.twig" %}

{% block titrePage %} Communication {% endblock %}

{% block messageAccueil %}Communication{% endblock %}

{% block contenu %}
    
    <style>
        div.panel .box-header h4{
            width: 100%;
        }
        .panel-collapse .box-body h4{
            padding-left: 50px;
        }
        .box-body h4 span, .box-body a h4 {
            color: rgb(31,78,121);
        }

        
    </style>
    
    
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Collapsible Accordion</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-group" id="accordion">
                  <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                        <div class="box-header">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                <h4 class="box-title ">
                                    <span>Externe</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                <div id='sousMenuExterne' class='menu'>
                                    <!-- Support (a ajouter)
                                    <div class="sousMessageAcceuil" id='menuSupport' onclick="showSubMenu('#sousMenuSupport', this);"> 
                                        <h4> Supports <img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='menuImgDown'></h4>
                                    </div>

                                    <div id="sousMenuSupport" class='sousMenu'>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/plaquettesInstitutionnelleLecture', 'Plaquette Institutionnelle');"> Plaquettes institutionnelle </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/presentationPowerpointLecture', 'Présentation Powerpoint');"> Présentation Powerpoint </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5  onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/fichesMetierLecture', 'Fiches Métier');" > Fiches Métier </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5  onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/dossierTypeAppelOffreLecture', 'Dossier type appel d\'offre');"> Dossier type appel d'offre </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/CVTypeLecture', 'CV Type');"> CV Type </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/courriersTypeLecture', 'Courriers Type');"> Courriers Type </h5>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <h5 onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/papierEnteteLecture', 'Papier à entête');"> Papier à entête </h5>
                                        </div>
                                    </div>
                                    -->

                                    <!-- Video Institutionnelle (a ajouter)
                                    <div class="sousMessageAcceuil" id='menuVideoInstitutionnelle' onclick="showSubMenu('#sousMenuVideoInstitutionnelle', this);"> 
                                        <h4> Vidéo institutionnelle <img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='menuImgDown'></h4>
                                    </div>

                                    <div id="sousMenuVideoInstitutionnelle" class='sousMenu'>

                                        <div class="sousSousMessageAcceuil"> 
                                            <a href='https://www.youtube.com/watch?v=b3RqpsYbx04' target='_blank'> <h5> Vidéo Institutionnelle </h5> </a>
                                        </div>

                                        <div class="sousSousMessageAcceuil"> 
                                            <a href='https://www.youtube.com/watch?v=CtlxttbjFsI' target='_blank'> <h5> Survol drone polygone Riviera </h5> </a>
                                        </div>

                                    </div>
                                    -->

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Externe/NoxLetters', 'dossier': 'NOX Letters', 'config': 'noxLetters' }) }}'> <h4> NoxLetters </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Externe/NoxDansLaPresse', 'dossier': 'NOX dans la presse', 'config': 'noxDansLaPresse' }) }}'> <h4> Nox dans la presse </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Externe/PlaquettesInstitutionnelle', 'dossier': 'Plaquettes institutionnelle', 'config': 'plaquettesInstitutionnelle' }) }}'> <h4> Plaquettes institutionnelles </h4> </a>
                                    </div>


                                    <div id="sousMenuReseauxSociaux" class='sousMenu'>
                                            <div class="">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapsefive-one" class="collapsed" aria-expanded="false">
                                                        <span>Nox sur les réseaux sociaux</span>
                                                        <span class="pull-right-container">
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapsefive-one" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="box-body">
                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='https://www.facebook.com/Groupe-Nox-140402782816064/' target='_blank'> <img src="{{ asset('bundles/noxintranetcommunication/images/Facebook.png') }}" alt="Facebook" class="imgReseauxSociaux"> <h4> Facebook </h4> </a>
                                                    </div>

                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='https://www.linkedin.com/company/groupe-nox' target='_blank'> <img src="{{ asset('bundles/noxintranetcommunication/images/LinkedIn.png') }}" alt="Facebook" class="imgReseauxSociaux"> <h4> LinkedIn </h4> </a>
                                                    </div>

                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='http://fr.viadeo.com/fr/company/groupe-nox' target='_blank'> <img src="{{ asset('bundles/noxintranetcommunication/images/Viadeo.jpg') }}" alt="Facebook" class="imgReseauxSociaux"> <h4> Viadeo </h4> </a>
                                                    </div>

                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='https://www.youtube.com/user/bammezn/videos' target='_blank'> <img src="{{ asset('bundles/noxintranetcommunication/images/YouTube.png') }}" alt="Facebook" class="imgReseauxSociaux"> <h4> Youtube </h4> </a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div id="sousMenuReseauxSociaux" class='sousMenu'>

                                            <div class="">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapsefive-two" class="collapsed" aria-expanded="false">
                                                        <span>Banques d'images</span>
                                                        <span class="pull-right-container">
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapsefive-two" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="box-body">
                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Externe/BanqueImages/logoNox', 'dossier': 'Logo Nox', 'config': 'logoNox' }) }}'> <h4> Logo Nox </h4> </a>
                                                    </div>

                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Externe/BanqueImages/cellesDuSiteInternet', 'dossier': 'Celles du site internet', 'config': 'cellesDuSiteInternet' }) }}'> <h4> Celles du site internet </h4> </a>
                                                    </div>

                                                    <div class="sousSousMessageAcceuil"> 
                                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Externe/BanqueImages/cellesDesSupports', 'dossier': 'Celles des supports', 'config': 'cellesDesSupports' }) }}'> <h4> Celles des supports </h4> </a>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="" aria-expanded="true">
                                <h4 class="box-title">
                                    <span>Interne</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="true" style="">
                            <div class="box-body">
                                <div id='sousMenuInterne' class='menu'>
                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/Trombinoscope', 'dossier': 'Trombinoscope', 'config': 'trombinoscope' }) }}'><h4> Trombinoscope </h4> </a>
                                    </div>

                                    <div class="">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo-one" class="collapsed" aria-expanded="false">
                                                <span>Organigrammes</span>
                                                <span class="pull-right-container">
                                                    <i class="fa fa-angle-left pull-right"></i>
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsetwo-one" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="box-body">
                                            <div class="sousSousMessageAcceuil"> 
                                                <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/Organigrammes/OrganigrammeStrategique', 'dossier': 'Organigramme stratégique', 'config': 'organigrammeStrategique' }) }}'> <h4> Organigramme stratégique </h4> </a>
                                            </div>

                                            <div class="sousSousMessageAcceuil"> 
                                                <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/Organigrammes/OrganigrammeFonctionnel', 'dossier': 'Organigramme fonctionnel', 'config': 'organigrammeFonctionnel' }) }}'> <h4> Organigramme fonctionnel </h4> </a>
                                            </div>

                                            <div class="sousSousMessageAcceuil"> 
                                                <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/Organigrammes/OrganigrammeAgence', 'dossier': 'Organigramme agence', 'config': 'organigrammeAgence' }) }}'> <h4> Organigramme agence </h4> </a>
                                            </div>

                                            <div class="sousSousMessageAcceuil"> 
                                                <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/Organigrammes/OrganigrammesSocietes', 'dossier': 'Organigrammes sociétés', 'config': 'organigrammesSocietes' }) }}'> <h4> Organigrammes sociétés </h4> </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/AnnuaireAgences', 'dossier': 'Annuaire Agences', 'config': 'annuaireAgences' }) }}'> <h4> Annuaire Agences </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/NoxNews', 'dossier': 'NOX News', 'config': 'noxNews' }) }}'> <h4> NoxNews </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/LeMoniteur', 'dossier': 'Le moniteur', 'config': 'leMoniteur' }) }}'> <h4> Le moniteur </h4> </a>
                                    </div>

                                    <!--
                                    <div class="sousMessageAcceuil">
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/CE', 'dossier': 'CE', 'config': 'CE' }) }}'> <h4> CE </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/CHSCT', 'dossier': 'CHSCT', 'config': 'CHSCT' }) }}'> <h4> CHSCT </h4> </a>
                                    </div>
                                    -->

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/MailingInterne', 'dossier': 'Mailing Interne', 'config': 'mailingInterne' }) }}'><h4> Mailing Interne </h4> </a>
                                    </div>


                                    <div id="sousMenuReseauxSociaux" class='sousMenu'>

                                        <div class="">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo-two" class="collapsed" aria-expanded="false">
                                                    <span>Vie de l'entreprise</span>
                                                    <span class="pull-right-container">
                                                        <i class="fa fa-angle-left pull-right"></i>
                                                    </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsetwo-two" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                            <div class="box-body">
                                                <div class="sousSousMessageAcceuil"> 
                                                     <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/VieDeLentreprise/NotePersonnel', 'dossier': 'Note au personnel', 'config': 'notePersonnel' }) }}'> <h4> Notes au personnel </h4> </a>
                                                 </div>

                                                 <div class="sousSousMessageAcceuil"> 
                                                     <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/VieDeLentreprise/PosteAPourvoir', 'dossier': 'Poste à pourvoir', 'config': 'posteAPourvoir' }) }}'> <h4> Postes à pourvoir </h4> </a>
                                                 </div>

                                                 <div class="sousSousMessageAcceuil"> 
                                                     <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'Interne/VieDeLentreprise/NominationOrganisation', 'dossier': 'Nomination &#47; Organisation', 'config': 'nominationOrganisation' }) }}'> <h4> Nominations / organisation </h4> </a>
                                                 </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                                <h4 class="box-title">
                                    <span>Marketing</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                <div id='sousMenuMarketing' class='menu'>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Marketing/NoxALaConquete', 'dossier': 'NOX à la conquête', 'config': 'noxALaConquete' }) }}'> <h4> NOX à la conquête </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Marketing/ilYAForcementPlusSimple', 'dossier': 'Il y a forcément plus simple', 'config': 'ilYAForcementPlusSimple' }) }}'> <h4> Il y a forcément plus simple </h4> </a>
                                    </div>


                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Marketing/noxFournisseurDeTalents', 'dossier': 'NOX fournisseur de talents', 'config': 'noxFournisseurDeTalents' }) }}'> <h4> NOX fournisseur de talents </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Marketing/nos5Valeurs', 'dossier': 'Nos 5 valeurs', 'config': 'nos5Valeurs' }) }}'> <h4> Nos 5 valeurs </h4> </a>
                                    </div>

                                    <div class="sousMessageAcceuil"> 
                                        <a href='{{ path('nox_intranet_affichageImages', { 'chemin': 'Marketing/BuildYourFuture', 'dossier': 'Build your future', 'config': 'buildYourFuture' }) }}'> <h4> Build your future </h4> </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" class="collapsed" aria-expanded="false">
                                <h4 class="box-title">
                                    <span>SI</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                <div class="sousMessageAcceuil"> 
                                    <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'SI/NewsSI', 'dossier': 'News SI', 'config': 'newsSI' }) }}'> <h4> News SI </h4> </a>
                                </div>
                                <div class="sousMessageAcceuil">  
                                    <a href='{{ path('nox_intranet_communication_bim') }}'> <h4> BIM </h4> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive" class="collapsed" aria-expanded="false">
                                <h4 class="box-title">
                                    <span>BIM</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                <div class="sousMessageAcceuil"> 
                                    <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'BIM/Communication', 'dossier': 'Communication', 'config': 'bimCommunication', 'uploadAcess': 'f.delapparent,s.blanchard,l.morisseau'|encryptString }) }}'> <h4> Communication </h4> </a>
                                </div>
                                <div class="sousMessageAcceuil">  
                                    <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'BIM/Formation', 'dossier': 'Formation', 'config': 'bimFormation', 'uploadAcess': 'f.delapparent,s.blanchard,l.morisseau'|encryptString }) }}'> <h4> Formation </h4> </a>
                                </div>
                                <div class="sousMessageAcceuil">  
                                    <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'BIM/Notices', 'dossier': 'Notices', 'config': 'bimNotices', 'uploadAcess': 'f.delapparent,s.blanchard,l.morisseau'|encryptString }) }}'> <h4> Notices </h4> </a>
                                </div>
                                <div class="sousMessageAcceuil">  
                                    <a href='{{ path('nox_intranet_affichageContenu', { 'chemin': 'BIM/Protocole', 'dossier': 'Protocole', 'config': 'bimProtocole', 'uploadAcess': 'f.delapparent,s.blanchard,l.morisseau'|encryptString }) }}'> <h4> Protocole </h4> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="clearfix"></div>                         
<script>
    $("h4.box-title").click(function(){
        if($(this).find("i").attr("class") == "fa fa-angle-left pull-right"){
            $(this).find("i").attr("class", "fa fa-angle-down pull-right");
        }else if($(this).find("i").attr("class") == "fa fa-angle-down pull-right"){
            $(this).find("i").attr("class", "fa fa-angle-left pull-right");
        } 
    })
</script>
{% endblock %}
