{% extends "::layout.html.twig" %}

{% block titrePage %}{{ dossier|raw }}{% endblock %}

{% block messageAccueil %}{{ dossier|raw }}{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_COMMUNICATION') %} 

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/{{ config }}', 'Gestionnaire de fichiers - {{ dossier|raw }}');"> <h3> Ouvrir le gestionnaire de fichier </h3> </a>
        </div>

    {% endif %}

    {% for new in news %} 

        <div class="divNews">

            <a onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '{{ new.Lien }}', 'Nox Letters');">
                <img 
                    src="{{ app.request.schemeAndHttpHost }}/Symfony/web/ImagePDF/{{ new.Nom|convert_encoding('UTF-8', 'ISO-8859-1') }}.png" alt="PDF" 
                    onmouseover="$(this).css('box-shadow', '0px 0px 10px #1F4E79');" 
                    onmouseout="$(this).css('box-shadow', 'none');"
                    >
            </a>

            <ul>

                <li> Nom du fichier : {{ new.Nom }} </li>

                {% if new.Title != null %} <li> Titre : {{ new.Title }} </li> {% endif %}

                {% if new.Author != null %} <li> Auteur : {{ new.Author }} </li> {% endif %}

                {% if new.Subject != null %} <li> Sujet : {{ new.Subject }} </li> {% endif %}

                {% if new.Keywords != null %} <li> Mots : {{ new.Keywords }} </li> {% endif %}

                {% if new.Pages != null %} <li> Nombre de page(s) : {{ new.Pages }} </li> {% endif %}

                <li> Posté le : {{ new.dateEnvoi }} </li>

            </ul>

        </div>

    {% endfor %}

{% endblock %}
