{% extends "::layout.html.twig" %}

{% block titrePage %}{{ dossier }}{% endblock %}

{% block messageAccueil %}{{ dossier }}{% endblock %}
{% block sousMessageAccueil %}Pour télécharger une image faite un clic-droit dessus puis "Enregistrer l'image sous..."{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_COMMUNICATION') %} 

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/{{ config }}', 'Gestionnaire de fichiers - {{ dossier }}');"> <h3> Ouvrir le gestionnaire de fichier </h3> </a>
        </div>

    {% endif %}

    <div id="divAffichageImages">

        {% for image in images %}

            <img src="{{ asset(image) }}" class="downloadable" />

        {% endfor %}

    </div>

{% endblock %}
