{% extends "::layout.html.twig" %}

{% block titrePage %}{{ dossier }}{% endblock %}

{% block messageAccueil %}{{ dossier }}{% endblock %}
{% block sousMessageAccueil %}Pour télécharger une image faite un clic-droit dessus puis "Enregistrer l'image sous..."{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_COMMUNICATION') %} 

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/{{ config }}', 'Gestionnaire de fichiers - {{ dossier }}');"> <h3> Ouvrir le gestionnaire de fichier </h3> </a>
        </div>

    {% endif %}

    <div id="choixPage">

        {% if nbPage > 1 %}

            <!-- Affiche un lien vers la première page si ce n'est pas la page actuel -->
            {% if page > 1 %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': 1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> << </a>
            {% endif %}
            <!-------------------------------------------------------------------------->

            <!-- Affiche un lien vers la page précédente si elle existe -->
            {% if page-1  >= 1 %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': page-1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> < </a>
            {% endif %}
            <!---------------------------------------------------------->

            <!-- Affichage des liens vers les pages précédente. -->
            {% if page-1  >= 1 %}
                {% for i in 1..page-1 %}

                    {% if i >= (page - 2) %}
                        <a href="{{ path('nox_intranet_affichageImages', { 'page': i, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> {{ i }} </a>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!--------------------------------------------------->

            <!-- Page courante -->
            <a href="{{ path('nox_intranet_affichageImages', { 'page': page, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> <p id="pageActuel">{{ page }}</p> </a>
            <!------------------->

            <!-- Affichage des liens vers les pages suivantes. -->
            {% if page+1  <= nbPage %}
                {% for i in page+1..nbPage %}

                    {% if i <= (page + 2) %}
                        <a href="{{ path('nox_intranet_affichageImages', { 'page': i, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> {{ i }} </a>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!--------------------------------------------------->

            <!-- Affiche un lien vers la page suivante si elle existe -->
            {% if page+1  <= nbPage %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': page+1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> > </a>
            {% endif %}
            <!------------------------------------------------------------>

            <!-- Affiche un lien vers la dernière page si ce n'est pas la page actuel -->
            {% if page < nbPage %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': nbPage, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> >> </a>
            {% endif %}
            <!-------------------------------------------------------------------------->

        {% endif %}

    </div>

    <div id="divAffichageImages">

        {% for image in images %}

            <img src="{{ asset(image) }}" class="downloadable" />

        {% endfor %}

    </div>

    <div id="choixPage">

        {% if nbPage > 1 %}

            <!-- Affiche un lien vers la première page si ce n'est pas la page actuel -->
            {% if page > 1 %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': 1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> << </a>
            {% endif %}
            <!-------------------------------------------------------------------------->

            <!-- Affiche un lien vers la page précédente si elle existe -->
            {% if page-1  >= 1 %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': page-1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> < </a>
            {% endif %}
            <!---------------------------------------------------------->

            <!-- Affichage des liens vers les pages précédente. -->
            {% if page-1  >= 1 %}
                {% for i in 1..page-1 %}

                    {% if i >= (page - 2) %}
                        <a href="{{ path('nox_intranet_affichageImages', { 'page': i, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> {{ i }} </a>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!--------------------------------------------------->

            <!-- Page courante -->
            <a href="{{ path('nox_intranet_affichageImages', { 'page': page, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> <p id="pageActuel">{{ page }}</p> </a>
            <!------------------->

            <!-- Affichage des liens vers les pages suivantes. -->
            {% if page+1  <= nbPage %}
                {% for i in page+1..nbPage %}

                    {% if i <= (page + 2) %}
                        <a href="{{ path('nox_intranet_affichageImages', { 'page': i, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> {{ i }} </a>
                    {% endif %}

                {% endfor %}
            {% endif %}
            <!--------------------------------------------------->

            <!-- Affiche un lien vers la page suivante si elle existe -->
            {% if page+1  <= nbPage %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': page+1, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> > </a>
            {% endif %}
            <!------------------------------------------------------------>

            <!-- Affiche un lien vers la dernière page si ce n'est pas la page actuel -->
            {% if page < nbPage %}
                <a href="{{ path('nox_intranet_affichageImages', { 'page': nbPage, 'dossier': dossier, 'config': config, 'chemin': chemin}) }}"> >> </a>
            {% endif %}
            <!-------------------------------------------------------------------------->

        {% endif %}

    </div>

{% endblock %}
