{% extends "::layout.html.twig" %}

{% block titrePage %} Gestion des propositions {% endblock %}

{% block messageAccueil %}Gestion des propositions{% endblock %}

{% block contenu %} 

    <div id='savingNotification'>Changement sauvegardé</div>

    <table id='tableValidationProposition' >
        {% for proposition in propositions %}
            <tr>
                <td>
                    {{ DA2[proposition.DA2].Firstname }} {{ DA2[proposition.DA2].Lastname }}
                </td>
                <td>
                    <form action="#" username='{{ proposition.DA2 }}'>
                        <input type='radio' name='validateProposition' value='validate' id='{{ proposition.DA2 }}_validate' style='vertical-align: middle;' {% if proposition.Status == 'Validé par le DA1' %}checked{% endif %}><label for='{{ proposition.DA2 }}_validate'>Valider</label><br />
                        <input type='radio' name='validateProposition' value='denie' id='{{ proposition.DA2 }}_denie' style='vertical-align: middle;' {% if proposition.Status == 'Refusé par le DA1' %}checked{% endif %}><label for='{{ proposition.DA2 }}_denie'>Refuser</label>
                    </form>
                </td>
                <td>
                    <div class='textarea' username='{{ proposition.DA2 }}' contenteditable='true' placeholder='Ajoutez ici les éventuels échanges.'>{{ proposition.Echanges }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <script>
        $(window).load(function () {
            ajaxSaveDA2PropositionAnswer();
            ajaxSaveEchanges();
        });

        // Sauvegarde les réponses aux propositions en base de donnée.
        function ajaxSaveDA2PropositionAnswer() {
            // Lorsque une réponse est séléctionnée
            $("#tableValidationProposition form input[type='radio']").change(function () {
                var username = $(this).parent('form').attr('username'); // On récupére le nom du DA2.
                var answer = $(this).val(); // On récupére la réponse.
                // On execute la requête Ajax de sauvegarde en base de données.
                $.ajax({
                    url: '{{ path('nox_intranet_ajax_save_proposition_da1_answer') }}',
                    type: 'POST',
                    data: {'username': username, 'answer': answer, 'cleDemande': '{{ cleDemande }}'},
                    success: function () {
                        if ($('#savingNotification').queue().length === 0) {
                            $('#savingNotification').fadeIn(500).delay(2000).fadeOut(1000); // On affiche brievement une notification de sauvegarde.
                        }
                    }
                });
            });
        }

        // Sauvegarde les échanges en base de données.
        function ajaxSaveEchanges() {
            // Initialisation d'un timer pour executer la fonction après 0.5 seconde sans frappe.
            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            // Lorque du texte est entré dans la zone de texte.
            $('.textarea').on('keyup paste change', function () {
                var username = $(this).attr('username'); // On récupére le nom du DA2.
                var echanges = $(this).text(); // On récupére le texte de échanges.
                // On execute la requête Ajax de sauvegarde en base de données.
                typewatch(function () {
                    $.ajax({
                        url: '{{ path('nox_intranet_ajax_save_echanges') }}',
                        type: 'POST',
                        data: {'username': username, 'echanges': echanges, 'cleDemande': '{{ cleDemande }}'},
                        success: function () {
                            if ($('#savingNotification').queue().length === 0) {
                                $('#savingNotification').fadeIn(500).delay(2000).fadeOut(1000); // On affiche brievement une notification de sauvegarde.
                            }
                        }
                    });
                }, 500);
            });
        }

    </script>

{% endblock %}