{% extends "::layout.html.twig" %}

{% block titrePage %} Résumé de la demande "{{ demande.Libelle }}" {% endblock %}

{% block messageAccueil %}Résumé de la demande "{{ demande.Libelle }}"{% endblock %}

{% block contenu %} 
    <div style='clear: both; width: 70%; margin: auto; text-align: center;'>
        <!-- Si l'utilisateur est le DA1 de la demande. -->
        {% if app.security.getToken().getUser().getUsername() == demande.DA1 %}
            <div class='demandeSummaryTips'>
                <p>
                    Vous êtes le DA émetteur associé à cette demande. <span class='demandeSummaryTipsClose'>&#10006;</span>
                </p>
            </div>
            {% if demande.Status == "Chargé d'affaire"%}
                <!-- Si le status de la demande est "Chargé d'affaire". -->
                <div class='demandeSummaryTips demandeSummaryTipsUrgent'>
                    <p>
                        Votre reponse est en attente pour cette demande, veuillez <a href='{{ path('nox_intranet_validation_da1', {'cleDemande': demande.cleDemande}) }}'>cliquez ici</a> pour la traiter. <span class='demandeSummaryTipsClose'>&#10006;</span>
                    </p>
                </div>   
            {% endif %}
            <!-- Pour chaque propositions -->
            {% for proposition in propositions %}
                <!-- Si le status de la proposition est 'Demande acceptée'. -->
                {% if proposition.Status == 'Demande acceptée' %}
                    <div class='demandeSummaryTips demandeSummaryTipsUrgent'>
                        <p>
                            Votre reponse est en attente pour la proposition de {{ users[proposition.DA2].Firstname }} {{ users[proposition.DA2].Lastname }}, veuillez <a href='{{ path('nox_intranet_gestion_proposition', {'cleDemande': proposition.cleDemande}) }}'>cliquez ici</a> pour traiter le proposition. <span class='demandeSummaryTipsClose'>&#10006;</span>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}     
        {% endif %}
        <!-- Si l'utilisateur un des DA2 de la demande. -->
        {% if DA2[app.security.getToken().getUser().getUsername()] is defined %}
            <div class='demandeSummaryTips'>
                <p>
                    Vous êtes l'un des DA destinataire associé à cette demande. <span class='demandeSummaryTipsClose'>&#10006;</span>
                </p>
            </div>
            <!-- Pour chaque propositions -->
            {% for proposition in propositions %}
                <!-- Si l'utilisateur est le DA2 de la proposition et que le status de la proposition est 'Attente validation DA2'. -->
                {% if proposition.DA2 == app.security.getToken().getUser().getUsername() and proposition.Status == 'Attente validation DA2' %}
                    <div class='demandeSummaryTips demandeSummaryTipsUrgent'>
                        <p>
                            Votre reponse est en attente pour cette demande, veuillez <a href='{{ path('nox_intranet_reponse_da2', {'cleDemande': proposition.cleDemande, 'reponse': 'valider'}) }}' style='color: green;'>cliquez ici</a> si vous <span style='color: green;'>pouvez</span> répondre à la demande ou <a href='{{ path('nox_intranet_reponse_da2', {'cleDemande': proposition.cleDemande, 'reponse': 'refuser'}) }}' style='color: red;'>cliquez ici</a> si vous <span style='color: red;'>ne pouvez pas</span> répondre à la demande. <span class='demandeSummaryTipsClose'>&#10006;</span>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Si l'utilisateur est le demandeur de la demande. -->
        {% if app.security.getToken().getUser().getUsername() == demande.Demandeur %}
            <div class='demandeSummaryTips'>
                <p>
                    Vous êtes le créateur de cette demande. <span class='demandeSummaryTipsClose'>&#10006;</span>
                </p>
            </div>
        {% endif %}
    </div>

    <table id='validationD1Sum'>
        <tr>
            <th class='trLabel' colspan='2' style='padding-top: 5%; padding-bottom: 5%;'>Demande de prestation interne</th>
        </tr>
        <tr>
            <td class='trLabel'>Libellé</td>
            <td class='editableField' contenteditable='true' field='Libelle'>{{ demande.Libelle }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Demandeur</td>
            <td>{{ demandeur.Firstname() }} {{ demandeur.Lastname() }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de création de la demande</td>
            <td>{{ demande.dateCreation|date('d/m/Y à H:i:s') }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de l'opération</td>
            <td class='editableField' contenteditable='true' field='LieuOperation'>{{ demande.LieuOperation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de la prestation</td>
            <td class='editableField' contenteditable='true' field='LieuPrestation'>{{ demande.LieuPrestation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Descriptif de la prestation</td>
            <td style='padding: 0;'>
                <div class='editableField' contenteditable='true' field='Descriptif' style="height: 10em; overflow: auto; word-wrap: break-word;">{{ demande.Descriptif }}</div>
            </td>
        </tr>
        <tr>
            <td class='trLabel'>Déplacements à prévoir</td>
            <td class='editableField' contenteditable='true' field='Deplacement'>{{ demande.Deplacement }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de démarrage de la prestation</td>
            <td class='editableFieldDate' field='DateDemarrage'>
                <select class='editableFieldDateDay'>
                    {% for i in 1..31 %}
                        <option value='{{ i }}' {% if demande.DateDemarrage|date('d') == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select class='editableFieldDateMonth'>
                    {% set months = { 01: 'Janvier', 02: 'Février', 03: 'Mars', 04: 'Avril', 05: 'Mai', 06: 'Juin', 07: 'Juillet', 08: 'Août', 09: 'Septembre', 10: 'Octobre', 11: 'Novembre', 12: 'Décembre' } %}
                    {% for i in 1..12 %}
                        <option value='{{ i }}' {% if demande.DateDemarrage|date('m') == i %}selected{% endif %}>{{ months[i] }}</option>
                    {% endfor %}     
                </select>
                <select class='editableFieldDateYear'>
                    {% for i in demande.DateDemarrage|date('Y')-50..demande.DateDemarrage|date('Y')+50 %}
                        <option value='{{ i }}' {% if demande.DateDemarrage|date('Y') == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}     
                </select>
            </td>
        </tr>
        <tr>
            <td class='trLabel'>Date de rendu</td>
            <td class='editableFieldDate' field='DateRendu'>
                <select class='editableFieldDateDay'>
                    {% for i in 1..31 %}
                        <option value='{{ i }}' {% if demande.DateRendu|date('d') == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <select class='editableFieldDateMonth'>
                    {% for i in 1..12 %}
                        <option value='{{ i }}' {% if demande.DateRendu|date('m') == i %}selected{% endif %}>{{ months[i] }}</option>
                    {% endfor %}     
                </select>
                <select class='editableFieldDateYear'>
                    {% for i in demande.DateRendu|date('Y')-50..demande.DateRendu|date('Y')+50 %}
                        <option value='{{ i }}' {% if demande.DateRendu|date('Y') == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}     
                </select>
            </td>
        </tr>
        <tr>
            <td class='trLabel'>Livrables attendus</td>
            <td style='padding: 0;'>
                <div class='editableField' contenteditable='true' field='Livrables' style="height: 10em; overflow: auto; word-wrap: break-word;">{{ demande.Livrables }}</div>
            </td>
        </tr>
        <tr>
            <td class='trLabel'>Volume de sous traitance envisagé (€)</td>
            <td class='editableField' contenteditable='true' field='VolumeSousTraitance'>{{ demande.VolumeSousTraitance }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Status</td>
            <td style='background: {{ status[demande.Status].color }}; color: white;'>{{ status[demande.Status].message }}</td>
        </tr>
    </table>

    <table id='demandeSummaryPropositions'>
        <tr>
            <th colspan='4'>
                Propositions de prestations interne
            </th>
        </tr>
        <tr>
            <td class='trLabel'>DA destinataire</td>
            <td class='trLabel'>Status</td>
            <td class='trLabel'>Echanges</td>
            <td class='trLabel'>Traiter</td>
        </tr>
        {% if propositions != null %}
            {% for proposition in propositions %}
                <tr>
                    <td>{{ users[proposition.DA2].Firstname }} {{ users[proposition.DA2].Lastname }}</td>
                    <td style='background: {{ status[proposition.Status].color }}; color: white;'>{{ status[proposition.Status].message }}</td>
                    <td class='demandeSummmaryPropositionsToggleEchanges' {% if proposition.Echanges == null %}style='background: lightgrey;'{% endif %}>
                        <img src='{{ asset('bundles/noxintranetressources/images/Arrowhead-Right-48.png') }}' echange='close' {% if proposition.Echanges == null %}style='cursor: default;'{% endif %}>
                        <img src='{{ asset('bundles/noxintranetressources/images/Arrowhead-Down-01-48.png') }}' style='display: none;' echange='open'>
                    </td>
                    {% if app.security.getToken().getUser().getUsername() == demande.DA1 and loop.first %}
                        <td rowspan='{{ propositions|length*2 }}'>
                            <a href='{{ path('nox_intranet_gestion_proposition', {'cleDemande': proposition.cleDemande}) }}'><img src='{{ asset('bundles/noxintranetressources/images/Arrowhead-Right-48.png') }}' style='vertical-align: middle; width: 30%; cursor: pointer;'></a>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan='3' style='display: none; padding: 0;'><div style='height: 10em; overflow: auto; padding: 0.5em; {% if proposition.Echanges == null %}background-color: lightgrey;{% else %}background-color: white;{% endif %}'>{{ proposition.Echanges }}</div></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan='3'>Il n'y a aucun résultat à afficher.</td></tr>
        {% endif%}
    </table>

    <script>

        $(window).load(function () {
            toggleEchanges();
            closeTooltip();
            editDemande();
        });

        // Affiche/Cache le texte des échanges.
        function toggleEchanges() {
            // Lors d'un clic sur la flêche de déploiement.
            $('.demandeSummmaryPropositionsToggleEchanges').click(function () {
                // Si le contenu des échanges n'est pas vide.
                if ($(this).parent('tr').next('tr').find('td').text() !== '') {
                    $(this).find("img[echange='close']").toggle(); // On affiche/cache la fléche d'ouverture.
                    $(this).find("img[echange='open']").toggle(); // On affiche/cache la fléche de fermeture.
                    $(this).parent('tr').next('tr').find('td').toggle(); // On affiche/cache le texte de l'échange.
                }
            });
        }

        // Permet de faire disparaitre les tooltips.
        function closeTooltip() {
            $('.demandeSummaryTipsClose').click(function () {
                $(this).parent('p').parent('.demandeSummaryTips').remove();
            });
        }

        // Permet d'éditer les valeurs des champs de la demande.
        function editDemande() {
            // Lorsqu'un champ text est séléctionné.
            $('#validationD1Sum .editableField').focus(function () {
                $(this).css('background-color', 'seashell'); // On change la couleur de fond.
            });
            // Lorsqu'un champ texte n'est plus séléctionné.
            $('#validationD1Sum .editableField').blur(function () {
                $(this).css('background-color', 'initial'); // On lui redonne sa couleur d'origine.
            });

            // Initialisation d'un timer pour executer la fonction après # seconde sans frappe.
            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            // Lorsqu'on modifie la valeur d'un champ texte.
            $('#validationD1Sum .editableField').on("keyup paste input", function () {
                var ajaxFieldInput = $(this); // On récupére le champ.
                typewatch(function () {
                    // On enregistre sa nouvelle valeur avec un appel Ajax.
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('nox_intranet_ajax_edit_demande') }}',
                        data: {'field': ajaxFieldInput.attr('field'), 'value': ajaxFieldInput.text(), 'cleDemande': '{{ demande.CleDemande }}'}
                    });
                }, 500);
            });

            // Lorsque qu'on modifie les valeurs des sélécteurs de date.
            $('#validationD1Sum .editableFieldDate select').change(function () {
                // On récupére la nouvelle date.
                var date = $(this).parent('.editableFieldDate').children('.editableFieldDateYear').val() + '-' + $(this).parent('.editableFieldDate').children('.editableFieldDateMonth').val() + '-' + $(this).parent('.editableFieldDate').children('.editableFieldDateDay').val();
                // On enregistre sa nouvelle valeur avec un appel Ajax.        
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_ajax_edit_demande') }}',
                    data: {'field': $(this).parent('.editableFieldDate').attr('field'), 'value': date, 'cleDemande': '{{ demande.CleDemande }}'}
                });
            });
        }

    </script>
{% endblock %}