{% extends "::layout.html.twig" %}

{% block titrePage %} Nouvelle demande de prestation interne {% endblock %}

{% block messageAccueil %}Nouvelle demande de prestation interne{% endblock %}

{% block contenu %} 

    <div style='width: 70%; margin: auto;'>

        {{ form_start(formNewSearch, {'attr': {'style': 'text-align: center; border: 2px outset #1F4E79; background-color: rgba(255,255,255, 0.6);'}}) }}
        
        {{ form_label(formNewSearch.Libelle, "Libellé :") }}
        {{ form_widget(formNewSearch.Libelle) }}<br />

        {{ form_label(formNewSearch.LieuOperation, "Lieu de l'opération :") }}
        {{ form_widget(formNewSearch.LieuOperation) }}<br />

        {{ form_label(formNewSearch.LieuPrestation, "Lieu de la prestation :") }}
        {{ form_widget(formNewSearch.LieuPrestation) }}<br />

        <p style='margin: 0;'>
            {{ form_label(formNewSearch.Descriptif, "Descriptif de la prestation :", {'attr': { 'style': 'vertical-align: top;'}}) }}
            {{ form_widget(formNewSearch.Descriptif, {'attr': { 'style': 'vertical-align: top;'}}) }}
        </p>

        {{ form_label(formNewSearch.Deplacement, "Déplacement à prévoir :") }}
        {{ form_widget(formNewSearch.Deplacement) }}<br />

        {{ form_label(formNewSearch.DateDemarrage, "Date de démarrage de la prestation :") }}
        {{ form_widget(formNewSearch.DateDemarrage) }}<br />

        {{ form_label(formNewSearch.DateRendu, "Date de rendu :") }}
        {{ form_widget(formNewSearch.DateRendu) }}<br />

        {{ form_label(formNewSearch.Livrables, "Livrables attendus :") }}
        {{ form_widget(formNewSearch.Livrables) }}<br />

        {{ form_label(formNewSearch.VolumeSousTraitance, "Volume de sous traitance envisagé (€) :") }}
        {{ form_widget(formNewSearch.VolumeSousTraitance) }}<br />

        {{ form_label(formNewSearch.EmailDA, "Email du DA :") }}
        {{ form_widget(formNewSearch.EmailDA) }}<br />

        {{ form_widget(formNewSearch.Valider, {'attr': {'class': 'boutonFormulaire' }}) }}

        {{ form_end(formNewSearch) }}

    </div>

{% endblock %}
