{% extends "::layout.html.twig" %}

{% block titrePage %} Status des demandes {% endblock %}

{% block messageAccueil %}Status des demandes{% endblock %}

{% block contenu %} 

    <table id='tablePrestationsInternesReporting'>

        <tr>
            <th rowspan='2'>Demandeur</th>
            <th rowspan='2'>DA1</th>
            <th rowspan='2'>Status</th>
            <th colspan='3'>Propositions</th>
        </tr>

        <tr>
            <th>DA2</th>
            <th>Status</th>
            <th>Echange</th>
        </tr>

        {% for demande in demandes %}
            <tr>
                <td {% if propositions[demande.CleDemande] is defined %}rowspan='{{ propositions[demande.CleDemande]|length+1 }}'{% else %}rowspan='2'{% endif %}>{% if users[demande.Demandeur] is defined %}{{ users[demande.Demandeur].Firstname }} {{ users[demande.Demandeur].Lastname }}{% endif %}</td>
                <td {% if propositions[demande.CleDemande] is defined %}rowspan='{{ propositions[demande.CleDemande]|length+1 }}'{% else %}rowspan='2'{% endif %}>{% if users[demande.DA1] is defined %}{{ users[demande.DA1].Firstname }} {{ users[demande.DA1].Lastname }}{% endif %}</td>
                <td {% if propositions[demande.CleDemande] is defined %}rowspan='{{ propositions[demande.CleDemande]|length+1 }}'{% else %}rowspan='2'{% endif %}{% if status[demande.Status] is defined %} style='background-color: {{ status[demande.Status].color }}; color: white;'{% endif %}>{% if status[demande.Status] is defined %}{{ status[demande.Status].message }}{% endif %}</td>
            </tr>

            {% if propositions[demande.CleDemande] is defined %}       
                {% for proposition in propositions[demande.CleDemande] %}
                    <tr>
                        <td>{{ users[proposition.DA2].Firstname }} {{ users[proposition.DA2].Lastname }}</td>
                        <td {% if status[proposition.Status] is defined %}style='background-color: {{ status[proposition.Status].color }}; color: white;'{% endif %}>{% if status[proposition.Status] is defined %}{{ status[proposition.Status].message }}{% endif %}</td>
                        <td {% if proposition.Echanges == null %}style='background-color: lightgrey;'{% endif %}>{{ proposition.Echanges }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td style='background-color: lightgrey;'></td>
                    <td style='background-color: lightgrey;'></td>
                    <td style='background-color: lightgrey;'></td>
                </tr>
            {% endif %}
        {% endfor %}

    </table>

{% endblock %}
