{% extends "::layout.html.twig" %}

{% block titrePage %} Nouvelle demande de prestation interne {% endblock %}

{% block messageAccueil %}Nouvelle demande de prestation interne{% endblock %}

{% block contenu %} 

    <table id='validationD1Sum'>
        <tr>
            <td class='trLabel'>Demandeur</td>
            <td>{{ demandeur.Firstname() }} {{ demandeur.Lastname() }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de l'opération</td>
            <td>{{ demande.LieuOperation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de la prestation</td>
            <td>{{ demande.LieuPrestation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Descriptif de la prestation</td>
            <td>{{ demande.Descriptif }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Déplacements à prévoir</td>
            <td>{{ demande.Deplacement }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de démarrage de la prestation</td>
            <td>{{ demande.DateDemarrage|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de rendu</td>
            <td>{{ demande.DateRendu|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Livrables attendus</td>
            <td>{{ demande.Livrables }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Volume de sous traitance envisagé (€)</td>
            <td>{{ demande.VolumeSousTraitance }}</td>
        </tr>
    </table>

    {{ form_start(formValidationRefus) }}

    <div style='display: inline-block; width: 100%;'>
        <div style='display: inline-bloc; float: left;'>
            {{ form_label(formValidationRefus.ValidationRefus.children[0], formValidationRefus.ValidationRefus.children[0].vars.label, {'label_attr': {'style': 'vertical-align: middle;' }}) }}{{ form_widget(formValidationRefus.ValidationRefus.children[0], {'attr': {'style': 'vertical-align: middle;' }}) }}
        </div>
        <div style='display: inline-bloc; float: right;'>
            {{ form_label(formValidationRefus.ValidationRefus.children[1], formValidationRefus.ValidationRefus.children[1].vars.label, {'label_attr': {'style': 'vertical-align: middle;' }}) }}{{ form_widget(formValidationRefus.ValidationRefus.children[1], {'attr': {'style': 'vertical-align: middle;' }}) }}
        </div>
    </div>

    <p style='margin: 1% 0 1% 0;'>
        {{ form_label(formValidationRefus.RaisonRefus, 'Si vous le souhaitez, indiquer la raison du refus :') }}<br />
        {{ form_widget(formValidationRefus.RaisonRefus, {'attr': {'style': 'box-sizing: border-box;'}}) }}
    </p>

    <div style='display: inline-block; width: 100%;'>
        <p style='display: inline-block; width: 40%; margin: 0; float: left;'>
            {{ form_label(formValidationRefus.ChoixDA2, "Directeurs d'agence disponibles") }}
            {{ form_widget(formValidationRefus.ChoixDA2, {'attr': {'size': 5, 'style': 'width: 100%;' }}) }}
        </p>

        <p style='display: inline-block; width: 40%; margin: 0; float: right;'>
            {{ form_label(formValidationRefus.SelectionDA2, "Directeurs d'agence sélectionnés") }}
            {{ form_widget(formValidationRefus.SelectionDA2, {'attr': {'size': 5, 'style': 'width: 100%;' }}) }}
        </p>
    </div>

    {{ form_end(formValidationRefus) }}

{% endblock %}