{% extends "::layout.html.twig" %}

{% block titrePage %} Nouvelle demande de prestation interne {% endblock %}

{% block messageAccueil %}Nouvelle demande de prestation interne{% endblock %}

{% block contenu %} 

    <table id='validationD1Sum'>
        <tr>
            <td class='trLabel'>Demandeur</td>
            <td>{{ demandeur.Firstname() }} {{ demandeur.Lastname() }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de l'opération</td>
            <td>{{ demande.LieuOperation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Lieu de la prestation</td>
            <td>{{ demande.LieuPrestation }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Descriptif de la prestation</td>
            <td>{{ demande.Descriptif }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Déplacements à prévoir</td>
            <td>{{ demande.Deplacement }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de démarrage de la prestation</td>
            <td>{{ demande.DateDemarrage|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Date de rendu</td>
            <td>{{ demande.DateRendu|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Livrables attendus</td>
            <td>{{ demande.Livrables }}</td>
        </tr>
        <tr>
            <td class='trLabel'>Volume de sous traitance envisagé (€)</td>
            <td>{{ demande.VolumeSousTraitance }}</td>
        </tr>
    </table>

    {{ form_start(formValidationRefus, {'attr': {'style': 'font-size: 0.8vw; border: 2px outset #1F4E79; background-color: rgba(255,255,255, 0.6);'}}) }}

    <div style='display: inline-block; width: 100%;'>
        <div style='display: inline-bloc; float: left;'>
            {{ form_label(formValidationRefus.ValidationRefus.children[0], formValidationRefus.ValidationRefus.children[0].vars.label, {'label_attr': {'style': 'vertical-align: middle;' }}) }}{{ form_widget(formValidationRefus.ValidationRefus.children[0], {'attr': {'style': 'vertical-align: middle;' }}) }}
        </div>
        <div style='display: inline-bloc; float: right;'>
            {{ form_label(formValidationRefus.ValidationRefus.children[1], formValidationRefus.ValidationRefus.children[1].vars.label, {'label_attr': {'style': 'vertical-align: middle;' }}) }}{{ form_widget(formValidationRefus.ValidationRefus.children[1], {'attr': {'style': 'vertical-align: middle;' }}) }}
        </div>
    </div>

    <p style='margin: 1% 0 1% 0; display: none; text-align: center;' id='refusDemandeRaison'>
        {{ form_label(formValidationRefus.RaisonRefus, 'Si vous le souhaitez, indiquer la raison du refus.') }}<br />
        {{ form_widget(formValidationRefus.RaisonRefus, {'attr': {'style': 'box-sizing: border-box;'}}) }}
    </p>

    <div style='display: inline-block; width: 100%; position: relative; margin-top: 1%;' id='validationSelectionDA'><!--
        --><label style='display: inline-block; text-align: center; width: 100%; margin-bottom: 2%;'>Séléctionnez les directeurs d'agences à contacter.</label><!--
        --><p style='display: inline-block; width: 40%; margin: 0; float: left; text-align: center;'><!--
            -->{{ form_label(formValidationRefus.ChoixDA2, "Disponible(s)") }}<!--
            -->{{ form_widget(formValidationRefus.ChoixDA2, {'attr': {'size': 5, 'style': 'width: 100%;' }}) }}<!--
            --></p><!--
        --><p style='display: inline-block; width: 20%; margin: 0; position: absolute; top: 77.5%; left: 50%; transform: translateY(-77.5%) translateX(-50%); text-align: center;'><!--
            --><button type='button' name='addDA' style='width: 50%; font-size: 0.8vw; margin-bottom: 2%;'>>></button><br /><!--
            --><button type='button' name='removeDA' style='width: 50%; font-size: 0.8vw; margin-top: 2%;'><<</button><!--
            --></p><!--
        --><p style='display: inline-block; width: 40%; margin: 0; float: right; text-align: center;'><!--
            -->{{ form_label(formValidationRefus.SelectionDA2, "Sélectionné(s)") }}<!--
            -->{{ form_widget(formValidationRefus.SelectionDA2, {'attr': {'size': 5, 'style': 'width: 100%;' }}) }}<!--
            --></p><!--
        --></div>

    <p style='text-align: center; margin-bottom: 0;'>
        {{ form_widget(formValidationRefus.Valider) }}
    </p>

    {{ form_end(formValidationRefus) }}

    <script>

        $(window).load(function () {
            toggleFormValidationRefus();
            selectAndRemoveDA();
        });

        // Affiche/Caches les élément du formulaire en fonction du radiobutton séléctionné.
        function toggleFormValidationRefus() {
            // Lors de la séléction d'un radiobutton.
            $("input[name='formValidationRefus[ValidationRefus]']").change(function () {
                // Si le boutton séléctionné est 'Accepter'.
                if ($(this).val() === 'Validation') {
                    // On cache la zone de texte d'explication du refus.
                    $('#refusDemandeRaison').hide();
                    // On affiche la séléction des DA.
                    $('#validationSelectionDA').show();
                    // On rend la séléction de DA obligatoire.
                    $('#formValidationRefus_SelectionDA2').attr('required', true);
                }
                // Si le button séléctionné est 'Refuser'.
                else if ($(this).val() === 'Refus') {
                    // On affiche la zone de texte d'explication du refus.
                    $('#refusDemandeRaison').show();
                    // On cache la séléction des DA.
                    $('#validationSelectionDA').hide();
                    // On rend la séléction de DA optionnelle.
                    $('#formValidationRefus_SelectionDA2').attr('required', false);
                }
            });
        }

        // Permet d'ajouter/retirer des DA.
        function selectAndRemoveDA() {
            // Lorsque le selecteur de choix de DA est séléctionné.
            $('#formValidationRefus_ChoixDA2').focus(function () {
                $("button[name='addDA']").attr('disabled', false); // On active le bouton d'ajout de DA.
                $("button[name='removeDA']").attr('disabled', true); // On désactive le bouton de retrait de DA.
            });

            // Lorsque le sélécteur de DA choisis est séléctionné.
            $('#formValidationRefus_SelectionDA2').focus(function () {
                $("button[name='addDA']").attr('disabled', true); // On désactive le bouton d'ajout de DA.
                $("button[name='removeDA']").attr('disabled', false); // On active le bouton de retrait de DA.
            });

            // Lors d'un clic sur le bouton d'ajout de DA.
            $("button[name='addDA']").click(function () {
                // Pour chaque option du sélécteur de choix de DA.
                $('#formValidationRefus_ChoixDA2 option').each(function () {
                    // Si la valeur est séléctionné.
                    if ($(this).is(':selected')) {
                        $(this).hide(); // On la cache.
                        $("#formValidationRefus_SelectionDA2 option[value='" + $(this).val() + "']").show(); // On affiche son équivalent dans le sélécteur de DA choisis.
                        $('#formValidationRefus_SelectionDA2').focus(); // On focus le sélécteur de DA choisis.
                    }
                });
            });
            // Lors d'un clic sur le bouton de retrait de DA.
            $("button[name='removeDA']").click(function () {
                // Pour chaque option du sélécteur de DA choisi.
                $('#formValidationRefus_SelectionDA2 option').each(function () {
                    // Si la valeur est séléctionné.
                    if ($(this).is(':selected')) {
                        $(this).hide(); // On la cache.
                        $("#formValidationRefus_ChoixDA2  option[value='" + $(this).val() + "']").show(); // On affiche son équivalent dans le sélécteur de choix de DA.
                        $('#formValidationRefus_ChoixDA2').focus(); // On focus le sélécteur de choix de DA.
                    }
                });
            });
        }

        // Traite envoi le formulaire.
        function checkAndSendForm() {
            // Lors d'un clic sur le bouton de validation du formulaire.
            $('#formValidationRefus_Valider').click(function () {
                // Pour chaque option visible du séélcteur de DA choisis.
                $('#formValidationRefus_SelectionDA2 option:visible').each(function () {
                    $(this).attr('selected', true); // On la séléctionne.
                });
                $('#formValidationRefus_Validator').click(); // On effectu un clic sur un submit caché pour envoyer le formulaire tous en gardant le contrôle de formulaire HTML5.
            });
        }

    </script>

{% endblock %}