{% extends "::layout.html.twig" %}

{% block titrePage %} Ressources {% endblock %}

{% block messageAccueil %}Ressources{% endblock %}

{% block contenu %} 

    <script>
        $(window).load(function () {
            ajaxSendSearchForm();
            sirenTableInfiniteScroll();
        });

        // Rercherche les SIREN correspondant à la recherche et les ajoute au tableau.
        function ajaxSendSearchForm() {
            // Lors de l'envoi du formulaire...
            $("form[name='searchBySIREN']").submit(function (e) {
                e.preventDefault(); // On bloque l'envoi.

                // On affiche le chargement et on supprime les précedent résultats.
                $('#search_waiting_td').hide();
                $('#search_no_result_td').hide();
                $('#search_loading_td').show();
                $('.search_result_tr').remove();

                $("#searchBySIREN_firstRow").val(1);

                $.ajax({
                    url: '{{ path('nox_intranet_ressources_ajax_search_by_siren') }}',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (sirensJSON) {
                        // Résultat sous forme d'objets.
                        var sirens = JSON.parse(sirensJSON);

                        // On cache la fenêter de chargement.
                        $('#search_loading_td').hide();

                        // Ajoute les résultats au tableau.
                        appendSirenResults(sirens);
                    }
                });
            });
        }

        // Ajoute les sirens passé en paramètres au tableau des sirens.
        function appendSirenResults(sirens) {
            if (sirens.length > 0) {
                $.each(sirens, function (index, siren) {
                    var html = "<tr class='search_result_tr'>";
                    html += "<td>" + siren.SIREN + "</td>";
                    html += "<td>" + siren.SIRET + "</td>";
                    html += "<td>" + siren.NumTVAIntra + "</td>";
                    html += "<td>" + siren.NICSIEGE + "</td>";
                    html += "<td>" + siren.RaisonSociale + "</td>";
                    html += "<td>" + siren.SIGLE + "</td>";
                    html += "<td>" + siren.ENSEIGNE + "</td>";
                    html += "<td>" + siren.NAF + "</td>";
                    html += "<td>" + siren.CATJUR + "</td>";
                    html += "<td>" + siren.LIBNJ + "</td>";
                    html += "<td>" + siren.NUMVOIE + "</td>";
                    html += "<td>" + siren.INDREP + "</td>";
                    html += "<td>" + siren.TYPEVOIE + "</td>";
                    html += "<td>" + siren.LIBVOIE + "</td>";
                    html += "<td>" + siren.CP + "</td>";
                    html += "<td>" + siren.CEDEX + "</td>";
                    html += "<td>" + siren.VILLE + "</td>";
                    html += "<td>" + siren.PAYS + "</td>";
                    html += "</tr>";
                    $('#siren_table tbody').append(html);
                });
            } else {
                $('#search_no_result_td').show();
            }
        }

        function sirenTableInfiniteScroll() {
            var isRunning = null;

            // Lors du scroll...
            $("#siren_table_container").scroll(function () {
                // Valeur maximum et valeur courante du scroll.
                var maxScroll = $(this)[0].scrollHeight - $(this).height();
                var currentScroll = $(this).scrollTop();



                // Si le scroll est presque en bas et qu'un requête de récupération des siren n'est pas déjà en cours...
                if (currentScroll >= maxScroll * 0.95 && (isRunning === null || isRunning.readyState === 4)) {
                    $("#searchBySIREN_firstRow").val($(".search_result_tr").length + 1);

                    isRunning = $.ajax({
                        url: '{{ path('nox_intranet_ressources_ajax_search_by_siren') }}',
                        type: 'POST',
                        data: $("form[name='searchBySIREN']").serialize(),
                        success: function (sirensJSON) {
                            // Résultat sous forme d'objets.
                            var sirens = JSON.parse(sirensJSON);

                            // Ajoute les résultats au tableau.
                            appendSirenResults(sirens);
                        }
                    });
                }
            });
        }
    </script>

    <style>
        #siren_table_container {
            width: 100%;
            height: 60%;
            margin: auto;
            overflow: auto;
        }

        #siren_table {
            width: 100%;
        }

        #siren_table, #siren_table tr, #siren_table th, #siren_table td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #siren_table th {
            word-wrap: break-word;
            background-color: rgba(31,78,121,0.8);
            color: white;
        }

        #siren_table th, #siren_table td {
            padding: 0.5em;
            font-size: calc(9px + 0.2vw);
            text-align: center;
        }

        form[name='searchBySIREN'] {
            width: 100%;
            padding: 0;
            margin: 0;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            border: none;
        }

        form[name='searchBySIREN'] p {
            margin: 0;
        }

        #siren_search_container {
            width: 70%;
            margin: auto;
        }

        #search_no_result_td, #search_loading_td {
            display: none;
        }

        #search_loading_td img {
            width: 15em;
        }
    </style>

    <div id="siren_search_container">
        {{ form_start(searchBySIREN) }}
        <p>
            {{ form_label(searchBySIREN.searchValue) }} : {{ form_widget(searchBySIREN.searchValue) }}
            {{ form_widget(searchBySIREN.Search) }}
        </p>
        {{ form_end(searchBySIREN) }}
    </div>
    <div id="siren_table_container">
        <div></div>
        <div>
            <table id="siren_table">
                <thead>
                    <tr>
                        <th>SIREN</th>
                        <th>SIRET</th>
                        <th>NumTVAIntra</th>
                        <th>NICSIEGE</th>
                        <th>RaisonSociale</th>
                        <th>SIGLE</th>
                        <th>ENSEIGNE</th>
                        <th>NAF</th>
                        <th>CATJUR</th>
                        <th>LIBNJ</th>
                        <th>NUMVOIE</th>
                        <th>INDREP</th>
                        <th>TYPVOIE</th>
                        <th>LIBVOIE</th>
                        <th>CP</th>
                        <th>CEDEX</th>
                        <th>VILLE</th>
                        <th>PAYS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="18" id="search_waiting_td">Lancez une recherche pour afficher des résultats.</td>
                    </tr>
                    <tr>
                        <td colspan="18" id="search_no_result_td">Aucun résultat.</td>
                    </tr>
                    <tr>
                        <td colspan="18" id="search_loading_td">
                            <p>Recherche en cours, veuillez patienter...</p>
                            <img src="{{ asset('bundles/noxintranetressources/images/loading.gif') }}" onmousedown="return false;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}