{% extends "::layout.html.twig" %}

{% block titrePage %} Ressources {% endblock %}

{% block messageAccueil %}Ressources{% endblock %}

{% block contenu %} 

    <script>
        $(window).load(function () {
            ajaxSendSearchForm();
        });

        function ajaxSendSearchForm() {
            $("form[name='form']").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '{{ path('nox_intranet_ressources_ajax_search_siren') }}',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (sirens) {
                        console.log(sirens);
                    }
                });
            });
        }
    </script>

    <style>
        #siren_table_container {
            width: 100%;
            margin: auto;
        }

        #siren_table {
            width: 100%;
        }

        #siren_table, #siren_table tr, #siren_table th, #siren_table td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #siren_table th {
            word-wrap: break-word;
            background-color: rgba(31,78,121,0.8);
            color: white;
        }

        #siren_table th, #siren_table td {
            padding: 0.5em;
            font-size: calc(9px + 0.2vw);
            text-align: center;
        }

        form[name='form'] {
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
        }

        #siren_search_container {
            width: 70%;
            margin: auto;
        }
    </style>

    <div id="siren_search_container">
        {{ form_start(searchSirenForm) }}
        <p>
            {{ form_label(searchSirenForm.SIREN) }} : {{ form_widget(searchSirenForm.SIREN) }}
        </p>
        <p>
            {{ form_label(searchSirenForm.SIRET) }} : {{ form_widget(searchSirenForm.SIRET) }}
        </p>
        <p style="text-align: center;">
            {{ form_widget(searchSirenForm.Search) }}
        </p>
        {{ form_end(searchSirenForm) }}
    </div>
    <div id="siren_table_container">
        <div></div>
        <div>
            <table id="siren_table">
                <thead>
                    <tr>
                        <th>SIREN</th>
                        <th>SIRET</th>
                        <th>NumTVAIntra</th>
                        <th>NICSIEGE</th>
                        <th>RaisonSociale</th>
                        <th>SIGLE</th>
                        <th>ENSEIGNE</th>
                        <th>NAF</th>
                        <th>CATJUR</th>
                        <th>LIBNJ</th>
                        <th>NUMVOIE</th>
                        <th>INDREP</th>
                        <th>TYPVOIE</th>
                        <th>LIBVOIE</th>
                        <th>CP</th>
                        <th>CEDEX</th>
                        <th>VILLE</th>
                        <th>PAYS</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}