{% extends "::layout.html.twig" %}

{% block titrePage %} Ressources {% endblock %}

{% block messageAccueil %}Ressources{% endblock %}

{% block contenu %} 

    <script>
        $(window).load(function () {
            ajaxSendSearchForm();
        });

        function ajaxSendSearchForm() {
            $("form[name='searchBySIREN']").submit(function (e) {
                e.preventDefault();

                $('#search_waiting_td').hide();
                $('#search_no_result_td').hide();
                $('#search_loading_td').show();
                $('.search_result_tr').remove();

                $.ajax({
                    url: '{{ path('nox_intranet_ressources_ajax_search_by_siren') }}',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (sirensJSON) {
                        var sirens = JSON.parse(sirensJSON);
                        console.log(sirens.length);

                        $('#search_loading_td').hide();
                        if (sirens.length > 0) {
                            $.each(sirens, function (index, siren) {
                                var html = "<tr class='search_result_tr'>";
                                html += "<td>" + siren.SIREN + "</td>";
                                html += "<td>" + siren.SIRET + "</td>";
                                html += "<td>" + siren.NumTVAIntra + "</td>";
                                html += "<td>" + siren.NICSIEGE + "</td>";
                                html += "<td>" + siren.RaisonSociale + "</td>";
                                html += "<td>" + siren.SIGLE + "</td>";
                                html += "<td>" + siren.ENSEIGNE + "</td>";
                                html += "<td>" + siren.NAF + "</td>";
                                html += "<td>" + siren.CATJUR + "</td>";
                                html += "<td>" + siren.LIBNJ + "</td>";
                                html += "<td>" + siren.NUMVOIE + "</td>";
                                html += "<td>" + siren.INDREP + "</td>";
                                html += "<td>" + siren.TYPEVOIE + "</td>";
                                html += "<td>" + siren.LIBVOIE + "</td>";
                                html += "<td>" + siren.CP + "</td>";
                                html += "<td>" + siren.CEDEX + "</td>";
                                html += "<td>" + siren.VILLE + "</td>";
                                html += "<td>" + siren.PAYS + "</td>";
                                html += "</tr>";
                                $('#siren_table tbody').append(html);
                            });
                        } else {
                            $('#search_no_result_td').show();
                        }


                    }
                });
            });
        }
    </script>

    <style>
        #siren_table_container {
            width: 100%;
            margin: auto;
        }

        #siren_table {
            width: 100%;
        }

        #siren_table, #siren_table tr, #siren_table th, #siren_table td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #siren_table th {
            word-wrap: break-word;
            background-color: rgba(31,78,121,0.8);
            color: white;
        }

        #siren_table th, #siren_table td {
            padding: 0.5em;
            font-size: calc(9px + 0.2vw);
            text-align: center;
        }

        form[name='searchBySIREN'], form[name='searchByRaisonSociale'] {
            padding: 0;
            margin: 0;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            border: none;
        }

        form[name='searchBySIREN'] p, form[name='searchByRaisonSociale'] p {
            display: inline-block;
            margin: 0;
        }

        #siren_search_container {
            width: 70%;
            margin: auto;
        }

        #search_no_result_td, #search_loading_td {
            display: none;
        }

        #search_loading_td img {
            width: 15em;
        }
    </style>

    <div id="siren_search_container">
        {{ form_start(searchBySIREN) }}
        <p>
            {{ form_label(searchBySIREN.searchValue) }} : {{ form_widget(searchBySIREN.searchValue) }}
            {{ form_widget(searchBySIREN.Search) }}
        </p>
        {{ form_end(searchBySIREN) }}
        {{ form_start(searchByRaisonSociale) }}
        <p>
            {{ form_label(searchByRaisonSociale.searchValue) }} : {{ form_widget(searchByRaisonSociale.searchValue) }}
            {{ form_widget(searchByRaisonSociale.Search) }}
        </p>
        {{ form_end(searchByRaisonSociale) }}
    </div>
    <div id="siren_table_container">
        <div></div>
        <div>
            <table id="siren_table">
                <thead>
                    <tr>
                        <th>SIREN</th>
                        <th>SIRET</th>
                        <th>NumTVAIntra</th>
                        <th>NICSIEGE</th>
                        <th>RaisonSociale</th>
                        <th>SIGLE</th>
                        <th>ENSEIGNE</th>
                        <th>NAF</th>
                        <th>CATJUR</th>
                        <th>LIBNJ</th>
                        <th>NUMVOIE</th>
                        <th>INDREP</th>
                        <th>TYPVOIE</th>
                        <th>LIBVOIE</th>
                        <th>CP</th>
                        <th>CEDEX</th>
                        <th>VILLE</th>
                        <th>PAYS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="18" id="search_waiting_td">Lancez une recherche pour afficher des résultats.</td>
                    </tr>
                    <tr>
                        <td colspan="18" id="search_no_result_td">Aucun résultat.</td>
                    </tr>
                    <tr>
                        <td colspan="18" id="search_loading_td">
                            <p>Recherche en cours, veuillez patienter...</p>
                            <img src="{{ asset('bundles/noxintranetressources/images/loading.gif') }}" onmousedown="return false;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}