<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Groupe-Nox / {% block titrePage %}{% endblock %}</title>
        {# app/Resources/views/layout.html.twig #}
        {% stylesheets '@NoxIntranetCommunicationBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/noxintranetcommunication/images/favicon.ico') }}" />
        <style type="text/css">
            @font-face {
                font-family: 'NoxFont'; 
                src:    url({{asset('fonts/MuseoSans_100.otf')}}) format('opentype');
            }
        </style>
    </head>

    <body onload="menuAnimation();">

        <header>

            <div id ="bandeau">  
                <img src="{{ asset('bundles/noxintranetcommunication/images/bandeau.png') }}" id ="image_bandeau" alt="bandeau" onmousedown="return false;">
            </div>

            {{ include('NoxIntranetUserBundle:Security:ADlogin.html.twig') }}

        </header>

        <div id="bar_menu">

            <div id="div_menu">

                <ul id="menu">

                    <li class="menuElement"> <a href="{{ path('nox_intranet_accueil') }}" class="liens"> Accueil </a> </li> 

                    <li class="menuElement"> <a href="{{ path('nox_intranet_communication') }}" class="liens"> Communication </a> </li> 

                    <li class="menuElement"> <a href="{{ path('nox_intranet_ressources') }}" class="liens"> Ressources </a> </li> 

                    <li class="menuElement"> <a href="{{ path('nox_intranet_support_si') }}" class="liens"> Support SI </a> </li> 

                    <li id="google_search"> 
                        <form id="google_form">
                            <img src ="{{ asset('bundles/noxintranetcommunication/images/logoGoogle.png') }}" alt="Logo Google" onmousedown="return false;">
                            <input type="text" id="search_input" name="seach_input" placeholder="Rechercher sur Google">
                            <button id="search" onclick="googleSearch(this);"> Rechercher </button>
                        </form>
                    </li>
                </ul>
            </div>

            <div id="administrationBouton" >
                {% if app.user != null and (is_granted('ROLE_ADMIN') or is_granted('ROLE_REFERENCES') or is_granted('ROLE_COMPETENCES') or is_granted('ROLE_COMMUNICATION') or is_granted('ROLE_PROCEDURES') or is_granted('ROLE_FAQ') or is_granted('ROLE_CE') or is_granted('ROLE_CHSCT') or is_granted('ROLE_LIENS') or is_granted('ROLE_QUALITE')) %}
                    <p> <a href="{{ path('nox_intranet_administration') }}"> Administration </a> </p>
                {% elseif is_granted('ROLE_PUBLICATEUR') %}
                    <p> Publication </p>
                {% endif %}
            </div>
        </div>

        <div id ="section_principal">


            <div id="contenu">

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <p class="flashbag"> 
                        {{ flashMessage }}
                    </p>
                {% endfor %} 

                {% for flashMessage in app.session.flashbag.get('noticeErreur') %}
                    <p class="flashbagErreur"> 
                        {{ flashMessage }}
                    </p>
                {% endfor %} 

                <div class="messageAcceuil"> 
                    <h2> {% block messageAccueil %} {% endblock %} </h2>
                    <h3> {% block sousMessageAccueil %} {% endblock %} </h3>
                    {% block textEncart %}{% endblock %}
                </div>

                {% block contenu %}

                {% endblock %}

            </div>
        </div>

        <script src={{ asset('./js/jquery-2.2.0.min.js') }}></script>
        <script src={{ asset('./js/jquery-ui.min.js') }}></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src={{ asset('./js/googleSearch.js') }}></script>
        <script src={{ asset('./js/menuAnimation.js') }}></script>
        <script src={{ asset('./js/positionement.js') }}></script>
        <script src={{ asset('./js/checkboxClick.js') }}></script>   
        <!-- <script src={{ asset('./js/communicationMenu.js') }}></script> -->
        <script src={{ asset('./js/textareaLogiciel.js') }}></script>  
        <script src="{{ asset('./js/gestionFichiersPopup.js') }}"></script>
        <script src={{ asset('./js/texteEncartActions.js') }}></script>
        <script src={{ asset('./js/popupDownloadArchive.js') }}></script>
        <script src={{ asset('./js/texteActions.js') }}></script>
        <script src={{ asset('./js/menuAdministrationCommunication.js') }}></script>
        <script src={{ asset('./js/formImprimanteScript.js') }}></script>
        <script src={{ asset('./js/editionLiens.js') }}></script>
        <script src={{ asset('./js/jscroller2-1.61.js') }}></script>
    </body>
</html>