<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title> Groupe-Nox / {% block titrePage %}{% endblock %}</title>

        <script src="{{ asset('./js/jquery-2.2.0.min.js') }}"></script>
        <script src="{{ asset('./js/js.cookie.js') }}"></script>
        <script src="{{ asset('./js/texteActions.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="icon" type="image/png" href="{{ app.request.getSchemeAndHttpHost() }}/Symfony/web/favicon.ico" />

        {% stylesheets '@NoxIntranetAccueilBundle/Resources/public/css/layout.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <style type="text/css">
            @font-face {
                font-family: 'NoxFont'; 
                src:    url({{asset('fonts/MuseoSans_100.otf')}}) format('opentype');
            }

            #alert {
                background-image: url({{ asset('bundles/noxintranetaccueil/images/AccueilIntranetBackground.png') }});
                background-position: center; 
                background-repeat: no-repeat;
                background-size: 100%;
            }
        </style>

        {% block style %}
        {% endblock %}
    </head>

    <body>
        <div id="header-container" class="container-fluid blue-background">
            <header class="row">
                <div class="col-md-2">
                    <div class="row">
                        <a onclick="$('#dialog').dialog({width: 970, height: 600});" class="col-lg-12 text-center link-white"> 
                            Plan du site
                            <img class="img-responsive center-block" src="{{ asset('bundles/noxintranetaccueil/images/Map-32.png') }}" alt="Accès au plan de l'intranet" onmousedown="return false;"> 
                        </a> 
                    </div>
                </div>
                <div class="col-md-8">
                    <img id="bandeau_nox_header" class="img-responsive" src="{{ asset('bundles/noxintranetcommunication/images/bandeau.png') }}" alt="Bandeau NOX" onmousedown="return false;">
                </div>
                <div class="col-md-2">
                    {{ include('NoxIntranetUserBundle:Security:ADlogin.html.twig') }}
                </div>
            </header>

            <div id="dialog" title="Plan du site" style="display: none; text-align: center;">
                <img src="{{ asset('bundles/noxintranetaccueil/images/PlanIntranet.png') }}" alt="Plan de l'intranet" style="width: 100%; vertical-align: middle; text-align: center;">
            </div>      

            <div id="menu_div" class="row">
                <div id="EmailHelpdesk" class="col-lg-2 text-center">
                    <a class="link-white" href="mailto:helpdesk@groupe-nox.com">Une question ?</a>
                </div>
                <div class="col-lg-8">
                    <nav id="menu" class="navbar blue-background">
                        <ul class="nav navbar-nav">
                            <li class="menu_section"> 
                                <a class="text-white" href="{{ path('nox_intranet_accueil') }}">Accueil</a>
                            </li> 
                            <li class="menu_section"> 
                                <a class="text-white" href="{{ path('nox_intranet_communication') }}">Communication</a> 
                            </li> 
                            <li class="menu_section"> 
                                <a class="text-white" href="{{ path('nox_intranet_ressources') }}">Ressources</a> 
                            </li> 
                            <li id="Support_SI" class="menu_section blue-tooltip" data-toggle="tooltip" data-placement="bottom" title="Aide pour les problèmes informatiques.">  
                                <a class="text-white" href="{{ path('nox_intranet_support_si') }}">Support SI</a> 
                            </li> 
                        </ul>
                        <form id="google_search_form" class="navbar-form navbar-right">
                            <div class="form-group">
                                <label for="google_seach_input"><img class="image-responsive" src="{{ asset('bundles/noxintranetcommunication/images/logoRecherche.png') }}" alt="Recherche Google" onmousedown="return false;"></label>
                                <input type="text" id="google_seach_input" class="form-control" name="google_seach_input" placeholder="Rechercher sur Google">
                            </div>
                            <button id="google_search" class="btn btn-default" onclick="googleSearch(this);">Rechercher</button>
                        </form>
                    </nav>
                </div>
                <div id="administrationBouton" class="col-lg-2 text-center">
                    {% if app.user != null and (is_granted('ROLE_ADMIN') or is_granted('ROLE_REFERENCES') or is_granted('ROLE_COMPETENCES') or is_granted('ROLE_COMMUNICATION') or is_granted('ROLE_PROCEDURES') or is_granted('ROLE_FAQ') or is_granted('ROLE_CE') or is_granted('ROLE_CHSCT') or is_granted('ROLE_LIENS') or is_granted('ROLE_QUALITE') or is_granted('ROLE_RH')) %}
                        <a class="link-white" href="{{ path('nox_intranet_administration') }}">Administration</a> 
                    {% elseif is_granted('ROLE_PUBLICATEUR') %}
                        <span class="text-white">Publication</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div id="section_principal" style="background-image: url('{{ asset('images/fond2.png')}}');" class="row">

                <div id="contenu" class="col-lg-12">
                    <div class="row">
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <p class="flashbag col-lg-8 col-lg-offset-2 info"> 
                                {{ flashMessage }}
                            </p>
                        {% endfor %} 

                        {% for flashMessage in app.session.flashbag.get('noticeErreur') %}
                            <p class="flashbagErreur col-lg-8 col-lg-offset-2 error"> 
                                {{ flashMessage }}
                            </p>
                        {% endfor %} 
                    </div>

                    <div class="row">
                        <div class="messageAcceuil col-lg-8 col-lg-offset-2"> 
                            <h2> {% block messageAccueil %} {% endblock %} </h2>
                            <h3> {% block sousMessageAccueil %} {% endblock %} </h3>
                            <span>{% block textEncart %}{% endblock %}</span>
                        </div>
                    </div>

                    {% block contenu %}
                    {% endblock %}
                </div>  
            </div>
        </div>

        <footer class="navbar-fixed-bottom blue-background"> 
            <p id="footer_text" class="text-white navbar-text nav-justified text-center">@Copyright {{ date('Y')|date('Y') }} - <a class="link-white" href="http://groupe-nox.com/" target="_blank">GROUPE NOX</a> - IT Dpt, All rights reserved - {{ intranet_version }}</p> 
        </footer>

        <script src="{{ asset('./js/affichageImageResizing.js') }}"></script>
        <script src="{{ asset('./js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script src="{{ asset('./js/googleSearch.js') }}"></script>
        <script src="{{ asset('./js/menuAnimation.js') }}"></script>
        <script src="{{ asset('./js/positionement.js') }}"></script>
        <script src="{{ asset('./js/checkboxClick.js') }}"></script>   
        <script src="{{ asset('./js/textareaLogiciel.js') }}"></script>  
        <script src="{{ asset('./js/gestionFichiersPopup.js') }}"></script>
        <script src="{{ asset('./js/texteEncartActions.js') }}"></script>
        <script src="{{ asset('./js/popupDownloadArchive.js') }}"></script>
        <script src="{{ asset('./js/menuAdministrationCommunication.js') }}"></script>
        <script src="{{ asset('./js/formImprimanteScript.js') }}"></script>
        <script src="{{ asset('./js/editionLiens.js') }}"></script>
        <script src="{{ asset('./js/jscroller2-1.61.js') }}"></script>
        <script src="{{ asset('./js/submitFormAffaires.js') }}"></script>
        <script src="{{ asset('./js/tableurEdition.js') }}"></script>
        <script src="{{ asset('./js/suiviRecherche.js') }}"></script>
        <script src="{{ asset('./js/jquery.transit.min.js') }}"></script>
        <script src="{{ asset('./js/tableHeadFixer.js') }}"></script>
        <script src="{{ asset('./js/bootstrap.js') }}"></script>
        <script>

                                $(document).ready(function () {
                                    $('#Support_SI').tooltip();
                                });
                                /*
                                 function footerAlign() {
                                 $('footer').css('display', 'block');
                                 $('footer').css('height', 'auto');
                                 var footerHeight = $('footer').outerHeight();
                                 
                                 $('footer').css('height', footerHeight);
                                 
                                 
                                 }
                                 
                                 function resizeContenu() {
                                 $('#contenu').height($('footer').offset().top - $('header').height() - $('#bar_menu').height() - $('footer').height() / 5);
                                 }
                                 
                                 
                                 function centerContent()
                                 {
                                 var container = $('footer div');
                                 var content = $('footer div p');
                                 content.css("left", (container.width() - content.width()) / 2);
                                 content.css("top", (container.height() - content.height()) / 2);
                                 }
                                 
                                 $(window).load(function () {
                                 footerAlign();
                                 centerContent();
                                 resizeContenu();
                                 });
                                 
                                 $(window).resize(function () {
                                 footerAlign();
                                 centerContent();
                                 resizeContenu();
                                 });
                                 */
        </script>
    </body>
</html>