{% extends "layout.html.twig" %}

{% block titrePage %} Assitante agence: Compilation des pointages {% endblock %}

{% block messageAccueil %}Assitante agence: Compilation des pointages{% endblock %}

{% block contenu %}

    <div id="pointageSelection">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>Compilation des pointages</legend>
            <div>
                {{ form_label(form.Month, 'Mois:') }}
                {{ form_errors(form.Month) }}
                {{ form_widget(form.Month) }}
            </div><!--
            --><div>
                {{ form_label(form.Year, 'Année:') }}
                {{ form_errors(form.Year) }}
                {{ form_widget(form.Year) }}
            </div>


        </fieldset>
        {{ form_end(form) }}  

        <p>Nombre de pointage(s) collaborateurs non validé(s) : <a href="{{ path('nox_intranet_assistantes_agence_gestion_pointage') }}" style="color: red;">{{ nbPointageNonValide }}</a></p> 

    </div>

    <div id="compilationPointages">   
        <table id="compilationPointagesTable">
            <tr>
                <th id="compilationPointageNomPrenom">Nom/Prénom</th>
                <th id="compilationPointageTitresRepas">Titres repas</th>
                <th id="compilationPointageForfaitsDeplacement">Forfaits déplacement</th>
                <th id="compilationPointagePrimesPanier">Primes panier</th>
                <th id="compilationPointageTitreTransport">Titre transport</th>
                <th>Absences</th>
            </tr>
            {% for pointage in pointagesValides %}
                <tr class="pointageCompile" username='{{ pointage.User }}'>
                    <td>{{ pointage.Lastname }} {{ pointage.Firstname }}</td>
                    <td><input style='text-align: center; max-width: 30%;' type="number" name="titresRepas" step='1' min='0' value='{{ pointage.TitresRepas }}'></td>
                    <td><input style='text-align: center; max-width: 30%;' type="number" name="forfaitsDeplacement" step='0.01' min='0' value='{{ pointage.ForfaitsDeplacement }}'> €</td>
                    <td><input style='text-align: center; max-width: 30%;' type="number" name="primesPanier" min='0' step='0.01' value='{{ pointage.PrimesPanier }}'> €</td>
                    <td><input style='text-align: center; max-width: 30%;' type="number" name="titreTransport" min='0' step='0.01' value='{{ pointage.TitreTransport }}'> €</td>
                    <td style='background-color: white; padding-top: 1%; padding-bottom: 1%;'><img style='vertical-align: middle; width: 20%; cursor: pointer;' src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' alt='Déplier'><img style='vertical-align: middle; display: none; width: 20%; cursor: pointer;' src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' alt='Replier'></td>
                </tr>
                <tr>
                    <td colspan="6" style='background-color: white; border-right: none;' class='compilationPointagesTableAbsencesTd'>
                        <div class="compilationPointagesTableAbsencesDiv">
                            <table class='compilationPointagesTableAbsences'>
                                <tr>
                                    <th>Date</th>
                                    <th>Abscence matin</th>
                                    <th>Abscence après-midi</th>
                                    <th>Commentaires</th>
                                </tr>
                                {% for absenceMatin in pointage.Absences['matin'] %}
                                    <tr>
                                        <td>{{ absenceMatin['date'] }}</td>
                                        <td>
                                            {% if absenceMatin['valeur'] is defined %}
                                                {{ absenceMatin['valeur'] }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if pointage.Absences['am'][loop.index0]['valeur'] is defined %}
                                                {{ pointage.Absences['am'][loop.index0]['valeur'] }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if absenceMatin['commentaires'] is defined %}
                                                {{ absenceMatin['commentaires'] }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        $(window).load(function () {
            $('#form_Month, #form_Year').change(function () {
                ajaxGetAssistanceAgencePointageCompilationByMonthAndYear();
            });
            absencesToggle();
            ajaxSaveCompilationData();
        });

        // Retourne la compilation des pointages collaborateurs validés en fonction du mois, de l'année et de l'assistante d'agence.
        function ajaxGetAssistanceAgencePointageCompilationByMonthAndYear() {

            $('#compilationPointagesTable tr:nth-child(n+2)').remove();

            $.ajax({
                type: 'POST',
                url: '{{ path('nox_intranet_pointage_ajax_get_assistantes_agence_pointage_compilation_by_month_and_year') }}',
                data: {month: $('#form_Month').val(), year: $('#form_Year').val()},
                success: function (response) {
                    var data = JSON.parse(response);

                    var newHtmlContent = "";
                    $.each(data, function (index) {
                        newHtmlContent += "<tr class='pointageCompile'>";
                        newHtmlContent += "<td>" + data[index].lastname + ' ' + data[index].firstname + "</td>";
                        newHtmlContent += "<td><input style='text-align: center; max-width: 30%;' type='number' name='titresRepas' step='1' min='0' value='" + data[index].titresRepas + "'></td>";
                        newHtmlContent += "<td><input style='text-align: center; max-width: 30%;' type='number' name='forfaitsDeplacement' step='0.01' min='0' value='" + data[index].forfaitsDeplacement + "'></td>";
                        newHtmlContent += "<td><input style='text-align: center; max-width: 30%;' type='number' name='primesPanier' min='0' step='0.01' value='" + data[index].primesPanier + "'></td>";
                        newHtmlContent += "<td><input style='text-align: center; max-width: 30%;' type='number' name='titreTransport' min='0' step='0.01' value='" + data[index].titreTransport + "'></td>";
                        newHtmlContent += "<td style='background-color: white; padding-top: 1%; padding-bottom: 1%;'><img style='vertical-align: middle; width: 20%; cursor: pointer;' src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' alt='Déplier'><img style='vertical-align: middle; display: none; width: 20%; cursor: pointer;' src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' alt='Replier'></td>";
                        newHtmlContent += "</tr>";
                        newHtmlContent += "<tr>";
                        newHtmlContent += "<td colspan='6' style='background-color: white; border-right: none; padding-bottom: 3%;' class='compilationPointagesTableAbsencesTd'>";
                        newHtmlContent += "<table class='compilationPointagesTableAbsences'>";
                        newHtmlContent += "<tr>";
                        newHtmlContent += "<th>Date</th>";
                        newHtmlContent += "<th>Abscence matin</th>";
                        newHtmlContent += "<th>Abscence après-midi</th>";
                        newHtmlContent += "<th>Commentaires</th>";
                        newHtmlContent += "</tr>";
                        $.each(data[index].absences.matin, function (indexAbsences) {
                            newHtmlContent += "<tr>";
                            newHtmlContent += "<td>" + data[index].absences.matin[indexAbsences].date + "</td>";
                            if (data[index].absences.matin[indexAbsences].valeur !== undefined) {
                                newHtmlContent += "<td>" + data[index].absences.matin[indexAbsences].valeur + "</td>";
                            } else {
                                newHtmlContent += "<td></td>";
                            }
                            if (data[index].absences.am[indexAbsences].valeur !== undefined) {
                                newHtmlContent += "<td>" + data[index].absences.am[indexAbsences].valeur + "</td>";
                            } else {
                                newHtmlContent += "<td></td>";
                            }
                            if (data[index].absences.matin[indexAbsences].commentaires !== undefined) {
                                newHtmlContent += "<td>" + data[index].absences.matin[indexAbsences].commentaires + "</td>";
                            } else {
                                newHtmlContent += "<td></td>";
                            }
                            newHtmlContent += "</tr>";
                            //console.log(data[index].absences.matin[indexAbsences].date);
                        });
                        newHtmlContent += "</table>";
                        newHtmlContent += "</td>";
                        newHtmlContent += "</tr>";
                    });

                    $('#compilationPointagesTable').append(newHtmlContent);
                    absencesToggle();
                }
            });
        }

        // Affiche/Cache le tableau des abscences du collaborateur sélectionné.
        function absencesToggle() {
            $('#compilationPointagesTable td img').click(function () {
                $(this).parent('td').parent('tr').next('tr').find($('.compilationPointagesTableAbsencesTd')).show();
                $(this).parent('td').parent('tr').next('tr').find($('.compilationPointagesTableAbsencesDiv')).slideToggle(function () {
                    if ($(this).parent('td').parent('tr').next('tr').find($('.compilationPointagesTableAbsencesDiv')).css('display') === 'none') {
                        $(this).parent('td').parent('tr').next('tr').find($('.compilationPointagesTableAbsencesTd')).hide();
                    }
                });

                $(this).toggle();
                $(this).siblings('img').toggle();
            });
        }

        function ajaxSaveCompilationData() {
            $('#compilationPointagesTable input').on('blur keyup paste input', function () {

                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_ajax_save_compilation_data') }}',
                    data: {username: $(this).parent('td').parent('tr').attr('username'), month: $('#form_Month').val(), year: $('#form_Year').val(), input: $(this).attr('name'), value: $(this).val()},
                    success: function (response) {

                    }
                });
            });
        }

    </script>

{% endblock %}