{% extends "layout.html.twig" %}

{% block titrePage %} Gestion pointage {% endblock %}

{% block messageAccueil %}Gestion pointage{% endblock %}

{% block contenu %}

    <div id="pointageSelection">

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>Compilation des pointages</legend>
            <div>
                {{ form_label(form.Month, 'Mois:') }}
                {{ form_errors(form.Month) }}
                {{ form_widget(form.Month) }}
            </div><!--
            --><div>
                {{ form_label(form.Year, 'Année:') }}
                {{ form_errors(form.Year) }}
                {{ form_widget(form.Year) }}
            </div>

            <div>
                {{ form_widget(form.Choisir, { 'label': 'Compiler les pointages','attr': {'class': 'boutonFormulaire'}}) }}
            </div>
        </fieldset>
        {{ form_end(form) }}  

        {{ form_start(formCompilationRefus) }}
        {{ form_errors(formCompilationRefus) }}
        <fieldset>
            <legend>Compilation refusées</legend>
            <div>
                {{ form_errors(formCompilationRefus.CompilationRefus) }}
                {{ form_widget(formCompilationRefus.CompilationRefus) }}
            </div>
        </fieldset>
        {{ form_end(formCompilationRefus) }}  

    </div>

{% endblock %}