{% extends "layout.html.twig" %}

{% block titrePage %}Archives compilation des pointages{% endblock %}

{% block messageAccueil %}Archives compilation des pointages{% endblock %}

{% block sousMessageAccueil %}
    Etablissement: {{ etablissement }}<br />
    Année: {{ year }}
{% endblock %}

{% block contenu %}

    <style>
        #formDownloadArchive {
            width: 70%;
            margin: auto;
            text-align: center;
        }

        #formDownloadArchive form {
            display: inline-block;
            width: auto;
            border: 2px outset #1F4E79;
            background-color: rgba(255,255,255, 0.6);
        }

        #formDownloadArchive p {
            text-align: center;
        }

        #pointage_compilation_archives {
            width: 70%;
            margin: auto;
            margin-bottom: 5%;
            text-align: center;
        }

        .archive_folder {
            display: inline-block;
            vertical-align: top;
            margin: 0.25em 0.5em;
            text-align: center;
        }

        .archive_folder:hover .archive_folder_label {
            background-color: rgba(31, 78, 121,0.5);
            box-shadow: 0px 0px 5px 5px rgba(31, 78, 121,0.5);
        }

        .archive_folder:hover .archive_folder_icon {
            animation-name: folder_shaking;
            animation-duration: 0.15s;
            animation-iteration-count: 2;
        }

        .archive_folder_link {
            display: block;
            text-decoration: none;
        }

        .archive_folder_icon {
            width: 70px
        }

        .archive_folder_label {
            width: 115px;
            margin: 0;
            font-size: 13px;
            color: black;
        }

        @keyframes folder_shaking {
            0% {transform: translate(0%, 0%);}
            25% {transform: translate(5%, 0%);}
            75% {transform: translate(-5%, 0%);}
            100% {transform: translate(0%, 0%);}
        }
    </style>

    <script>
        function downloadLoader(etablissement, month, year) {
            $.ajax({
                url: '{{ path('nox_intranet_pointage_ajax_archives_compilation_export_excel') }}',
                type: 'POST',
                data: {etablissement: etablissement, month: month, year: year},
                success: function (url) {
                    console.log(url);
                }
            });

            // On affiche une fenêtre indiquant qu'il n'y a pas de justificatif de transport.
            $("#pointageAlertText").text("Veuillez patienter pendant la génération du fichier...");
            $("#pointageAlert").dialog({
                resizable: false,
                height: "auto",
                width: "30%",
                modal: true,
                draggable: false,
                dialogClass: "pointage-alert-content-class",
                title: "Téléchargement de la compilation.",
                buttons: {
                    // Si l'utilisateur annule, on ferme la fenêtre.
                    "OK": function () {
                        $(window).load(function () {
                            $(this).dialog("close");
                        });
                    }
                }
            });
            $('.ui-dialog :button').blur();
        }
    </script>

    <div id="pointageAlert"><div id="pointageAlertText"></div></div>

    <div id="pointage_compilation_archives">
        {% for month in months %}
            <div class="archive_folder">
                <a class="archive_folder_link" onclick="downloadLoader('{{ etablissement }}', '{{ month.Month }}', '{{ year }}');" href="#">
                    <img class="archive_folder_icon" src="{{ asset('bundles/noxintranetpointage/images/ExcelFile.png') }}">
                    <p class="archive_folder_label">{{ month.MonthName }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}