{% extends "layout.html.twig" %}

{% block style %}
    {% stylesheets '@NoxIntranetPointageBundle/Resources/public/css/pointage.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block titrePage %}Archives compilation des pointages{% endblock %}

{% block messageAccueil %}Archives compilation des pointages{% endblock %}

{% block contenu %}

    <style>

    </style>
    
    <div class="row">
        <div id="archive-etablissement" class="col-xs-10 col-sm-12 col-xs-offset-1 col-sm-offset-0">
        {% for etablissement in etablissements %} 
            <div class="archive_folder col-sm-2 col-xs-3 ">
                <a class="archive_folder_link " href="{{ path('nox_intranet_pointage_archives_compilation_years', {etablissement: etablissement.Etablissement}) }}">
                    <img class="archive_folder_icon img-responsive" src="{{ asset('bundles/noxintranetpointage/images/Folder.png') }}">
                    <p class="archive_folder_label">{{ etablissement.Etablissement|title }}</p>
                </a>
            </div>
        {% endfor %}
       
            <div class="archive_folder col-sm-2 col-xs-3">
                <a class="archive_folder_link" href="{{ path('nox_intranet_pointage_archives_non_utilisateur_year') }}">
                    <img class="archive_folder_icon img-responsive" src="{{ asset('bundles/noxintranetpointage/images/Folder.png') }}">
                    <p class="archive_folder_label">Collaborateur Sortie</p>
                </a>
            </div>
        </div>       
    </div>    



{% endblock %}