
<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 0.1em 0.5em 0.1em 0.5em;
        text-align: center;
    }

    th {
        background: linear-gradient(to bottom,  #336fa0 0%,#052775 100%);
        color: white;
    }

    .dateTd {
        background-color: lightgrey;
    }

    .modulationValue {
        width: 100%;
        text-align: center;
    }
</style>

<script src={{ asset('./js/jquery-2.2.0.min.js') }}></script>
<script>
    $(window).load(function () {
        ajaxModsEdition();
    });

    // Sauvegarde les modifications de mods.
    function ajaxModsEdition() {
        // Initialisation d'un timer.
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        // Lorsque d'un changement de valeur...
        $('.modulationValue').on('change keyup', function () {
            // On récupére toutes les valeurs et leurs dates sous forme de tableau.
            var modsArray = [];
            $('.modulationValue').each(function () {
                // On récupère la date et la valeur.
                var date = $(this).data('date');
                var value = $(this).val();

                // On les place dans un objet.
                var mod = {day: date, value: value};

                // On ajoute l'objet au tableau.
                modsArray.push(mod);
            });

            // On lance le timer.
            delay(function () {
                // Si il n'y a pas de changement de valeur pendant plus de 1000ms on lance la requête ajax de sauvegarde.
                $.ajax({
                    url: '{{ path('nox_intranet_pointage_ajax_save_mods_edition') }}',
                    type: 'POST',
                    data: {month: "{{ month }}", year: "{{ year }}", user: "{{ user.Username }}", modsValues: JSON.stringify(modsArray)},
                    success: function (totalModsValue) {
                        // On met à jour l'affichage de la valeur total de modulation.
                        $('#totalModulationValue').text(totalModsValue);

                        // On attribut la valeur total de modulation dans la compilation.
                        $("tr[username='{{ user.Username }}']", window.opener.document).find('.modulationValue').text(totalModsValue);
                    }
                });
            }, 1000);
        });
    }
</script>

<title>Modulation détails</title>

<table>
    <tr>
        <th colspan="2">{{ user.Lastname }} {{ user.Firstname }}</th>
    </tr>
    <tr>
        <th colspan="2">Modulation total {{ year }}: <span id="totalModulationValue">{{ totalModulation }}</span></th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Valeur de<br /> modulation</th>
    </tr>
    {% for mod in modulationArray %}
        <tr>
            <td class="dateTd">{{ mod['day']|date('d/m/Y') }}</td>
            <td><input class="modulationValue" type="number" step="0.1" value="{{ mod['value'] }}" data-date="{{ mod['day'] }}" {% if readonly == 'true' %}readonly{% endif %}></td>
        </tr>
    {% endfor %}
</table>