{% extends "layout.html.twig" %}

{% block titrePage %} Pointage {% endblock %}

{% block messageAccueil %}Pointage{% endblock %}

{% block contenu %}
    <div id="pointageStatusDiv">
        <div id="pointageStatusLabelGeneralContainer">
            <div class='pointageStatusLabelContainer'><p class='pointageStatusLabel'>Collaborateur</p></div><!--
            --><div class='pointageStatusLabelContainer'><p class='pointageStatusLabel'>Assistante</p></div><!--
            --><div class='pointageStatusLabelContainer'><p class='pointageStatusLabel'>DA/Manager</p></div><!--
            --><div class='pointageStatusLabelContainer'><p class='pointageStatusLabel'>Assistantes RH/DRH</p></div><!--
            --><div class='pointageStatusLabelContainer'><p class='pointageStatusLabel'>Validé</p></div><!--
            --></div>
        <div id="pointageStatus">
            <div class='pointageStatusCircleContainer'><div class='pointageStatusCircle' step=0></div></div><!--
            --><div class='pointageStatusCircleContainer'><div class='pointageStatusCircle' step=1></div></div><!--
            --><div class='pointageStatusCircleContainer'><div class='pointageStatusCircle' step=2></div></div><!--
            --><div class='pointageStatusCircleContainer'><div class='pointageStatusCircle' step=3></div></div><!--
            --><div class='pointageStatusCircleContainer'><div class='pointageStatusCircle' step=4></div></div>
            <div class='pointageStatusLine'><div></div></div>
        </div>
    </div>

    <div id='tableFeuillePointageDivContainer'>
        <table id="tableFeuillePointage">
            <tr>
                <td style="border: solid 1px black;">
                    <select id='pointage_month_selector' style="width: 100%;">
                        {% set months = { 01: 'Janvier', 02: 'Février', 03: 'Mars', 04: 'Avril', 05: 'Mai', 06: 'Juin', 07: 'Juillet', 08: 'Août', 09: 'Septembre', 10: 'Octobre', 11: 'Novembre', 12: 'Décembre' } %}
                        {% for index,month in months %}
                            <option value="{{ index }}" {% if index == currentMonth %}selected{% endif %}>{{ month }}</option>  
                        {% endfor %}
                    </select>
                </td>
                <td id='operationnel' style="background: rgb(47,117,181); color: white; border-width: 1px;" colspan="2">OPERATIONNEL <p id="addProject" style="margin: 0; float: right; display: inline-block; cursor: pointer;">+ Affaire</p></td>
                <td style="background: black; border-width: 1px;"></td>
                <td style="background: rgb(84,130,53); color: white; border-width: 1px;" colspan="5">RESSOURCES HUMAINES</td>
                <td style="border: none; border-bottom: solid 1px black;" ></td>
            </tr>
            <tr>
                <td style="border: solid 1px black;">
                    <select id='pointage_year_selector' style="width: 100%;">
                        <option value="{{ 'now'|date('Y')}}">{{ 'now'|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+1 year')|date('Y')}}">{{ 'now'|date_modify('+1 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+2 year')|date('Y')}}">{{ 'now'|date_modify('+2 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+3 year')|date('Y')}}">{{ 'now'|date_modify('+3 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+4 year')|date('Y')}}">{{ 'now'|date_modify('+4 year')|date('Y')}}</option>
                    </select>
                </td>
                <td class='project' style='border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px;' contenteditable=true>Nouvelle Affaire</td>
                <td style='border-width: 1px;'>TOTAL</td>
                <td style='border-width: 1px;' >MOD</td>
                <td style='border-width: 1px;' colspan="2">Absences</td>
                <td style='border-width: 1px;' >Titres repas</td>
                <td style='border-width: 1px;' >Forfaits déplacement</td>
                <td style='border-width: 1px;' >Primes panier</td>
                <td style='border-width: 1px;' rowspan="2" >Commentaires</td>
            </tr>
            <tr>
                <td style="background: rgb(217,217,217); border-width: 1px;">{{ app.user.firstname }} {{ app.user.lastname }}</td>
                <td class='project' style='border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px;'>%</td>
                <td style='border-width: 1px;'>%</td>
                <td style='border-width: 1px;' >h</td>
                <td style='border-width: 1px;'>Matin</td>
                <td style='border-width: 1px;'>Après-midi</td>
                <td style='border-width: 1px;'>Nombre</td>
                <td style='border-width: 1px;'>Montant</td>
                <td style='border-width: 1px;'>Nombre</td>
            </tr>
            {% set frenchDays = { 'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday':'Dimanche' } %}
            {% for date in monthDates %}
                <tr>
                    <td class='dayDateCell' style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px; border-right-width: 1px;">{{ frenchDays[date|date('l')]}} {{ date|date('d') }}</td>
                    <td class="projectPercentageCell project" {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166);" {% else %} contenteditable='true' {% endif %}></td>
                    <td class="dailyTotalPercentageCell" style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px; border-right-width: 1px;">
                        {% if date|date('l') != 'Saturday' and date|date('l') != 'Sunday' %}
                            0.00
                        {% endif %}
                    </td>
                    <td class='dailyHoursMod' {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166); border-left-width: 1px; border-right-width: 1px;" {% else %} contenteditable='true' style="border-left-width: 1px; border-right-width: 1px;" {% endif %}></td>
                    <td class='abscenceMatinSelector' style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px;">
                        {% if date|date('l') != 'Saturday' and date|date('l') != 'Sunday' %}
                            <select>
                                <option value=''></option>
                                <option value='AA'>AA</option>
                                <option value='TJ'>TJ</option>
                                <option value='AT'>AT</option>
                                <option value='MT'>MT</option>
                                <option value='PA'>PA</option>
                                <option value='CS'>CS</option>
                                <option value='CP'>CP</option>
                                <option value='AV'>AV</option>
                                <option value='JS'>JS</option>
                                <option value='MA'>MA</option>
                                <option value='PM'>PM</option>
                                <option value='RE'>RE</option>
                                <option value='Autre'>Autre</option>
                            </select>
                        {% endif %}
                    </td>
                    <td  class='abscenceAMSelector' style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-right-width: 1px;">
                        {% if date|date('l') != 'Saturday' and date|date('l') != 'Sunday' %}
                            <select>
                                <option value=''></option>
                                <option value='AA'>AA</option>
                                <option value='TJ'>TJ</option>
                                <option value='AT'>AT</option>
                                <option value='MT'>MT</option>
                                <option value='PA'>PA</option>
                                <option value='CS'>CS</option>
                                <option value='CP'>CP</option>
                                <option value='AV'>AV</option>
                                <option value='JS'>JS</option>
                                <option value='MA'>MA</option>
                                <option value='PM'>PM</option>
                                <option value='RE'>RE</option>
                                <option value='Autre'>Autre</option>
                            </select>
                        {% endif %}
                    </td>
                    <td class='titreRepasNumberSelector' style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px; border-right-width: 1px;">
                        {% if date|date('l') != 'Saturday' and date|date('l') != 'Sunday' %}
                            <select>
                                <option value=''></option>
                                <option value='1'>1</option>
                            </select>
                        {% endif %}
                    </td>
                    <td class='forfaitsDeplacementMontant' {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166);  border-left-width: 1px; border-right-width: 1px;" {% else %} style="border-left-width: 1px; border-right-width: 1px;" contenteditable=true {% endif %}></td>
                    <td class='primesPanierNumber' {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166);  border-left-width: 1px; border-right-width: 1px;" {% else %} style="border-left-width: 1px; border-right-width: 1px;" contenteditable=true {% endif %}></td>
                    <td class='comments' {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166); border-left-width: 1px; border-right-width: 1px;" {% else %} style="border-left-width: 1px; border-right-width: 1px;" contenteditable=true {% endif %}></td>
                </tr>        
            {% endfor %}
            <tr>
                <td style='border: none;'></td>
                <td style='border: none;' ></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none; border-right: solid 1px;'></td>
                <td id='titreRepasTotalNumber' style="border-width: 2px; border-top: none; border-right-width: 1px; border-left-width: 1px;">0</td>
                <td id='ForfaitDeplacementTotalMontant' style="border-width: 2px; border-top: none; border-left-width: 1px; border-right-width: 1px;">0</td>
                <td id='PrimesPanierTotalNumber' style="border-width: 2px; border-top: none; border-left-width: 1px; border-right-width: 1px">0</td>
                <td style='border: none; border-left: solid 1px black;'></td>    
            </tr>
            <tr>
                <td style='border: none;'></td>
                <td class='monthlyTotalPercentageCell' style='border-bottom: none;'>0.00</td>
                <td style='border: none;'></td>
                <td id='monthlyTotalHoursMod' style='border-bottom: none;'>0</td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>    
                <td style='border: none;'></td>    
            </tr>
            <tr>
                <td style='border: none;'></td>
                <td class='monthlyTotalCell' style='border-bottom: none;'>0.00</td>
                <td style='border: none;'></td>
                <td style='border-bottom: none;'>hmod</td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>    
                <td style='border: none;'></td>    
            </tr>
        </table>
        <div id='ajaxSearchAffairesDiv' style='position: absolute; top: 0; left: 0; background-color: white; border: 1px solid rgb(165, 172, 178); font-size: 0.8vw; display: none;'>
        </div>
        <div id='projectDeleteMenu'>
            <img src='{{ asset('bundles/noxintranetpointage/images/Delete-24.png') }}' alt='Supprimer projet'><p>Supprimer cette affaire</p>
        </div>
    </div>

    <div id='tableFeuillePointageTypesAbscencesDivContainer'>
        <table id='tableFeuillePointageTypesAbscences'>
            <tr>
                <td colspan=3 style='border-width: 2px;'>Types d'abscences</td>
            </tr>
            <tr>
                <td style='border-top-width: 2px; border-left-width: 2px; border-bottom-width: 2px;'>Nombre</td>
                <td style='border-top-width: 2px; border-bottom-width: 2px;'>Code abscence</td>
                <td style='border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px;'>Type abscence</td>
            </tr>
            {% set typesAbscences = { 'AA': 'Abscences autorisées payées', 'TJ': 'Accident trajet', 'AT': 'Accident travail', 'MT': 'Congé de maternité', 
            'PA': 'Congé de paternité', 'CS': 'Congé sans solde', 'CP': 'Congés payés', 'AV': 'Evènement familial', 'JS': 'RTT', 'MA': 'Maladie', 'PM': 'Maladie professionnelle', 
            'RE': 'Récupération (non indiquée au bulletin)', 'Autre': 'A préciser en commentaire' } 
            %}

            {% for code, type in typesAbscences %}
                <tr>
                    <td class='nbAbscences' style='border-left-width: 2px; {% if loop.last %} border-bottom-width: 2px; {% endif %}'>0</td>
                    <td  {% if loop.last %} style='border-bottom-width: 2px;' {% endif %}>{{ code}}</td>
                    <td style='border-right-width: 2px; {% if loop.last %} border-bottom-width: 2px; {% endif %}'>{{ type }}</td>
                </tr>
            {% endfor %}
        </table>

        <table id='tableFeuillePointageTitreTransport'>
            <tr>
                <td colspan='2' style='border-width: 2px;'>Titre de transport</td>
            </tr>
            <tr>
                <td style='border-width: 2px;'>Montant total</td>
                <td style='border-width: 2px;'>Prise en charge employeur 50%*</td>
            </tr>
            <tr>
                <td id='titreTransportMontant' style='border-width: 2px;' contenteditable=true></td>
                <td id='titreTransportTotalMontant' style='border-width: 2px;'>0.00</td>
            </tr>
        </table>

        <table id='tableFeuillePointageSignature'>
            <tr>
                <td style='border-width: 2px;'>Signature collaborateur</td>
                <td id='signatureCollaborateur' colspan=2 style='border-width: 2px;' contenteditable=true></td>
            </tr>
            <tr>
                <td rowspan=2 style='border-width: 2px;'>Signature supérieur hiérarchique</td>
                <td style='border-width: 2px; width: 50%; border-right: none;'>Nom et prénom:</td>
                <td style='border-width: 2px; width: 50%; border-left: none;' contenteditable=true></td>
            </tr>
            <tr>
                <td colspan=2 style='border-width: 2px; height: 2vw;' contenteditable=true></td>
            </tr>
        </table>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_widget(form.Valider, {'label': 'Valider la feuille de pointage', 'attr': {'class': 'boutonCompilation'}}) }}
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        $(window).load(function () {

            IECheck();
            getNewDate();
            displayDailyProjectsTotalPercentage();
            displayMonthlyProjectTotalPercentage();
            dispayMonthlyTotalHoursMod();
            displayMonthlyTotalTitresRepas();
            displayMonthlyTotalForfaitsDeplacement();
            displayMonthlyTotalPrimesPanier();
            displayTotalAbscences();
            displayTotalTitreTransport();
            checkAbscencesTitreRepas();
            getGXAffaires();
            addProjectColumn();
            deleteProjectColumn();
            ajaxGetData();
            $('#form_Valider').click(function () {
                return confirm('Confirmer la validation de la feuille de pointage ? Celle-ci ne sera plus modifiable.');
            });
        });
        // Met à jours les cellules des valeurs totals.
        function tableEventHandler() {
            displayDailyProjectsTotalPercentage();
            function displayDailyProjectsTotalPercentage() {
                // Colore en rouge les cellules dont le contenu n'est pas un nombre.
                function checkCellContentValidity(cell) {
                    if (isNaN(parseFloat($(cell).text(), 10)) || parseFloat($(cell).text()) > 100) {
                        if ($(cell).text() !== '') {
                            $(cell).css('background-color', 'red');
                        } else {
                            if ($(cell).attr('contenteditable') === 'true') {
                                $(cell).css('background-color', 'white');
                            } else {
                                $(cell).css('background-color', 'rgb(166,166,166)');
                            }
                        }
                    } else {
                        $(cell).css('background-color', 'white');
                    }
                }

                // Affiche la valeur total des cellules d'une même ligne ou 'Erreur' si celle-ci n'est pas valide.
                function checkTotalValue(cell, total) {
                    if ($(cell).css('background-color') !== 'rgb(166, 166, 166)') {
                        if (isNaN(total) || total > 100) {
                            $(cell).text('Erreur');
                            $(cell).css('background', 'red');
                        } else {
                            $(cell).text(total.toFixed(2));
                            $(cell).css('background', 'white');
                        }
                    }
                }

                $('.dailyTotalPercentageCell').each(function () {
                    var total = 0;
                    $(this).siblings('.projectPercentageCell[contenteditable=true]').each(function () {
                        checkCellContentValidity(this);
                        if ($(this).text() !== '') {
                            total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                        }
                    });
                    checkTotalValue(this, total);
                });
            }

            displayMonthlyProjectTotalPercentage();
            function displayMonthlyProjectTotalPercentage() {
                // Affiche la valeur total des cellules d'une même colonne ou 'Erreur' si celle-ci n'est pas valide.
                function checkTotalValue(cell, total, columnNo) {
                    if (isNaN(total) || total > 100) {
                        $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                        $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                        $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                        $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                    } else {
                        $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text(total.toFixed(2));
                        $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                        var decimalTotal = parseFloat(total / 100, 10);
                        $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text(decimalTotal.toFixed(2));
                        $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                    }
                }

                $('.projectPercentageCell').each(function () {
                    var columnNo = $(this).index();
                    var total = 0;
                    $(this).closest("table").find("tr .projectPercentageCell:nth-child(" + (columnNo + 1) + ")").each(function () {
                        if ($(this).text() !== '') {
                            total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                        }
                    });
                    checkTotalValue(this, total, columnNo);
                });
            }

            dispayMonthlyTotalHoursMod();
            function dispayMonthlyTotalHoursMod() {
                var total = 0;
                var error = false;
                $('.dailyHoursMod').each(function () {
                    if ($(this).css('background-color') !== 'rgb(166, 166, 166)') {
                        if ($(this).text() !== '') {
                            if (Math.floor($(this).text()) == $(this).text() && $.isNumeric($(this).text())) {
                                $(this).css('background-color', 'white');
                                total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                            } else {
                                $(this).css('background-color', 'red');
                                error = true;
                            }
                        } else {
                            $(this).css('background-color', 'white');
                        }
                    }
                });
                if (error) {
                    $('#monthlyTotalHoursMod').css('background-color', 'red');
                    $('#monthlyTotalHoursMod').text('Erreur');
                } else {
                    $('#monthlyTotalHoursMod').css('background-color', 'white');
                    $('#monthlyTotalHoursMod').text(total.toFixed(2));
                }
            }

            displayMonthlyTotalTitresRepas();
            function displayMonthlyTotalTitresRepas() {
                var total = 0;
                $('.titreRepasNumberSelector select').each(function () {
                    if ($(this).find('option:selected').val() !== '') {
                        total = parseInt(total, 10) + parseInt($(this).find('option:selected').val(), 10);
                    }
                });
                $('#titreRepasTotalNumber').text(total);
            }

            displayMonthlyTotalForfaitsDeplacement();
            function displayMonthlyTotalForfaitsDeplacement() {
                var total = 0;
                $('.forfaitsDeplacementMontant').each(function () {
                    if ($(this).text() !== '') {
                        total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                    }
                });
                $('#ForfaitDeplacementTotalMontant').text(total.toFixed(2));
            }

            displayMonthlyTotalPrimesPanier();
            function displayMonthlyTotalPrimesPanier() {
                var total = 0;
                $('.primesPanierNumber').each(function () {
                    if ($(this).text() !== '') {
                        total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                    }
                });
                $('#PrimesPanierTotalNumber').text(total.toFixed(2));
            }

            displayTotalAbscences();
            function displayTotalAbscences() {

                // Calcule le total de chaque type d'abscences et affiche la valeur dans la cellule correspondante.
                function getAbscencesCount(nbAbscencesCell) {
                    var codeAbsences = $(nbAbscencesCell).next().text();
                    var total = 0;
                    $('.abscenceMatinSelector').each(function () {
                        if (codeAbsences === $(this).find('select option:selected').val()) {
                            total = parseFloat(total, 10) + parseFloat(0.5, 10);
                        }
                    });
                    $('.abscenceAMSelector').each(function () {
                        if (codeAbsences === $(this).find('select option:selected').val()) {
                            total = parseFloat(total, 10) + parseFloat(0.5, 10);
                        }
                    });
                    $(nbAbscencesCell).text(total);
                }


                $('.nbAbscences').each(function () {
                    getAbscencesCount(this);
                });
            }

            displayTotalTitreTransport();
            function displayTotalTitreTransport() {
                var total = 0;
                if ($('#titreTransportMontant').text() !== '') {
                    total = parseFloat($('#titreTransportMontant').text(), 10) / 2;
                }
                $('#titreTransportTotalMontant').text(total.toFixed(2));
            }
        }

        // Affiche les jours du moi en fonction du mois et de l'année séléctionées.
        function getNewDate() {

            $('#pointage_month_selector, #pointage_year_selector').on('change', function () {
                $('#form_month').val($('#pointage_month_selector').val());
                $('#form_year').val($('#pointage_year_selector').val());
                deleteProjectColumn();
                resetCellsValues();
                ajaxGetNewDate();
            });
            // Supprime les colonnes existantes de projets suplémentaires et rétablie le colspan de "Operationnel" à 2.
            function deleteProjectColumn() {

                var firstColumnIndex = $('#tableFeuillePointage tr:nth-child(2) .project').first().index() + 2;
                var lastColumnIndex = $('#tableFeuillePointage tr:nth-child(2) .project').last().index() + 1;
                $('#tableFeuillePointage tr:nth-child(n+2) td:nth-child(n+' + firstColumnIndex + '):nth-child(-n+' + lastColumnIndex + ')').remove();
                $('#operationnel').attr('colspan', 2);
            }

            // Remet à zero les valeurs de cellules.
            function resetCellsValues() {
                $('[contenteditable]').text('');
                $('.project').first().text("Nouvelle Affaire");
                $('.dailyTotalPercentageCell, .monthlyTotalPercentageCell, .monthlyTotalCell, #ForfaitDeplacementTotalMontant, #PrimesPanierTotalNumber, #titreTransportTotalMontant').text(0.00);
                $('#monthlyTotalHoursMod, #titreRepasTotalNumber, .nbAbscences').text(0);
                $('select:not(#pointage_month_selector, #pointage_year_selector)').val('');
            }

            // Récupère les jours en fonction du moi et de l'année.
            function ajaxGetNewDate() {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '{{ path('nox_intranet_pointage_ajax_set_date') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val()},
                    success: function (response) {

                        // Ajout/supprime des lignes en fonction du nombre de jours du mois.
                        if ($('.dayDateCell').length !== response.length) {
                            var difference = response.length - $('.dayDateCell').length;
                            if (difference > 0) {
                                for (var i = 0; i < difference; i++) {
                                    var lastTr = $('.dayDateCell').last().parent('tr');
                                    lastTr.after(lastTr.clone());
                                }
                            } else if (difference < 0) {
                                for (var i = 0; i < Math.abs(difference); i++) {
                                    var lastTr = $('.dayDateCell').last().parent('tr');
                                    lastTr.remove();
                                }
                            }
                        }

                        // Pour chaque ligne, remplace la date et remplis les cellules avec les valeurs sauvegardées.
                        $('.dayDateCell').each(function (index) {
                            $(this).transition({
                                rotateX: '360deg'
                            }, function () {
                                $(this).css('transform', '');
                            });
                            if (response[index] === undefined) {
                                $(this).html('');
                                $(this).parent('tr').find('td').css('background', 'white');
                            } else {
                                $(this).html(response[index]);
                                if (response[index].indexOf('Samedi') >= 0 || response[index].indexOf('Dimanche') >= 0) {
                                    $(this).parent('tr').find('td').css('background', 'rgb(166,166,166)');
                                    $(this).next('td').attr('contenteditable', false);
                                    $(this).siblings('.dailyHoursMod').attr('contenteditable', false);
                                    $(this).siblings('.abscenceMatinSelector').html('');
                                    $(this).siblings('.abscenceAMSelector').html('');
                                    $(this).siblings('.titreRepasNumberSelector').html('');
                                    $(this).siblings('.forfaitsDeplacementMontant').attr('contenteditable', false);
                                    $(this).siblings('.primesPanierNumber').attr('contenteditable', false);
                                    $(this).siblings('.comments').attr('contenteditable', false);
                                } else {
                                    $(this).parent('tr').find('td').css('background', 'white');
                                    $(this).next('td').attr('contenteditable', true);
                                    $(this).siblings('.dailyHoursMod').attr('contenteditable', true);
                                    $(this).siblings('.abscenceMatinSelector').html("<select><option value=''></option> <option value='AA'>AA</option><option value='TJ'>TJ</option><option value='AT'>AT</option><option value='MT'>MT</option> <option value='PA'>PA</option> <option value='CS'>CS</option><option value='CP'>CP</option> <option value='AV'>AV</option> <option value='JS'>JS</option> <option value='MA'>MA</option> <option value='PM'>PM</option> <option value='RE'>RE</option> <option value='Autre'>Autre</option></select>");
                                    $(this).siblings('.abscenceAMSelector').html("<select><option value=''></option><option value='AA'>AA</option><option value='TJ'>TJ</option><option value='AT'>AT</option><option value='MT'>MT</option><option value='PA'>PA</option><option value='CS'>CS</option><option value='CP'>CP</option><option value='AV'>AV</option><option value='JS'>JS</option><option value='MA'>MA</option><option value='PM'>PM</option><option value='RE'>RE</option><option value='Autre'>Autre</option></select>");
                                    $(this).siblings('.titreRepasNumberSelector').html("<select><option value=''></option><option value='1'>1</option></select>");
                                    $(this).siblings('.forfaitsDeplacementMontant').attr('contenteditable', true);
                                    $(this).siblings('.primesPanierNumber').attr('contenteditable', true);
                                    $(this).siblings('.comments').attr('contenteditable', true);
                                }
                            }
                        });
                        $('td[contenteditable]').unbind('blur');
                        $('.projet[contenteditable]').unbind('blur');
                        $('select:not(#pointage_month_selector, #pointage_year_selector)').unbind('change');
                        ajaxGetData();
                        ajaxSaveData();
                    }
                });
            }
        }

        // Calcule et affiche le pourcentage total de chaque ligne de projets et vérifie la validité des donnnées.
        function displayDailyProjectsTotalPercentage() {

            // Colore en rouge les cellules dont le contenu n'est pas un nombre.
            function checkCellContentValidity(cell) {
                if (isNaN(parseFloat($(cell).text(), 10)) || parseFloat($(cell).text(), 10) > 100) {
                    if ($(cell).text() !== '') {
                        $(cell).css('background', 'red');
                    } else {
                        $(cell).css('background', 'white');
                    }

                } else {
                    $(cell).css('background', 'white');
                }
            }

            // Affiche la valeur total des cellules d'une même ligne ou 'Erreur' si celle-ci n'est pas valide.
            function checkTotalValue(cell, total) {
                if ($(cell).css('background-color') !== 'rgb(166, 166, 166)') {
                    if (isNaN(total) || total > 100) {
                        $(cell).text('Erreur');
                        $(cell).css('background', 'red');
                    } else {
                        $(cell).text(total.toFixed(2));
                        $(cell).css('background', 'white');
                    }
                }
            }

            $('.projectPercentageCell').on('blur keyup paste input', function () {
                $('.dailyTotalPercentageCell').each(function () {
                    var total = 0;
                    $(this).siblings('.projectPercentageCell[contenteditable=true]').each(function () {
                        checkCellContentValidity(this);
                        if ($(this).text() !== '') {
                            total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                        }
                    });
                    checkTotalValue(this, total);
                });
            });
        }

        // Calcule et affiche le pourcentage total de chaque colonne de projets et vérifie la validité des données.
        function displayMonthlyProjectTotalPercentage() {

            // Affiche la valeur total des cellules d'une même colonne ou 'Erreur' si celle-ci n'est pas valide.
            function checkTotalValue(cell, total, columnNo) {
                if (isNaN(total) || total > 100) {
                    $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                    $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                    $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                    $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                } else {
                    $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text(total.toFixed(2));
                    $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                    var decimalTotal = parseFloat(total / 100, 10);
                    $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text(decimalTotal.toFixed(2));
                    $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                }
            }

            $('.projectPercentageCell').on('blur keyup paste input change', function () {
                var columnNo = $(this).index();
                var total = 0;
                $(this).closest("table").find("tr .projectPercentageCell:nth-child(" + (columnNo + 1) + ")").each(function () {
                    if ($(this).text() !== '') {
                        total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                    }
                });
                checkTotalValue(this, total, columnNo);
            });
        }

        // Calcule et affiche le nombre d'heure total pour le mois courant.
        function dispayMonthlyTotalHoursMod() {
            $('.dailyHoursMod').on('blur keyup paste input', function () {
                var total = 0;
                var error = false;
                $('.dailyHoursMod').each(function () {
                    if ($(this).css('background-color') !== 'rgb(166, 166, 166)') {
                        if ($(this).text() !== '') {
                            if (Math.floor($(this).text()) == $(this).text() && $.isNumeric($(this).text())) {
                                $(this).css('background-color', 'white');
                                total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                            } else {
                                $(this).css('background-color', 'red');
                                error = true;
                            }
                        } else {
                            $(this).css('background-color', 'white');
                        }
                    }
                });
                if (error) {
                    $('#monthlyTotalHoursMod').css('background-color', 'red');
                    $('#monthlyTotalHoursMod').text('Erreur');
                } else {
                    $('#monthlyTotalHoursMod').css('background-color', 'white');
                    $('#monthlyTotalHoursMod').text(total.toFixed(2));
                }
            });
        }

        // Calcule et affiche le nombre total de titres repas pour le mois courant.
        function displayMonthlyTotalTitresRepas() {
            $('.titreRepasNumberSelector select, .abscenceMatinSelector select, .abscenceAMSelector select').change(function () {
                var total = 0;
                $('.titreRepasNumberSelector select').each(function () {
                    if ($(this).find('option:selected').val() !== '') {
                        total = parseInt(total, 10) + parseInt($(this).find('option:selected').val(), 10);
                    }
                });
                $('#titreRepasTotalNumber').text(total);
            });
        }

        // Met à zéro et désactive le selecteur de titre repas lorsque le nombre d'abscence dépasse 0.
        function checkAbscencesTitreRepas() {
            $('.abscenceMatinSelector select').change(function () {
                if ($(this).val() !== '' || $(this).parent('.abscenceMatinSelector').siblings('.abscenceAMSelector').find('select').val() !== '') {
                    $(this).parent('.abscenceMatinSelector').siblings('.titreRepasNumberSelector').find('select').val('');
                    $(this).parent('.abscenceMatinSelector').siblings('.titreRepasNumberSelector').find('select').attr('disabled', true);
                } else {
                    $(this).parent('.abscenceMatinSelector').siblings('.titreRepasNumberSelector').find('select').removeAttr('disabled');
                }
            });
            $('.abscenceAMSelector select').change(function () {
                if ($(this).val() !== '' || $(this).parent('.abscenceAMSelector').siblings('.abscenceMatinSelector').find('select').val() !== '') {
                    $(this).parent('.abscenceAMSelector').siblings('.titreRepasNumberSelector').find('select').val('');
                    $(this).parent('.abscenceAMSelector').siblings('.titreRepasNumberSelector').find('select').attr('disabled', true);
                } else {
                    $(this).parent('.abscenceAMSelector').siblings('.titreRepasNumberSelector').find('select').removeAttr('disabled');
                }
            });
        }

        // Calcule et affiche le montant total du forfaits de déplacement pour le mois courant.
        function displayMonthlyTotalForfaitsDeplacement() {
            $('.forfaitsDeplacementMontant').on('blur keyup paste input', function () {
                var total = 0;
                $('.forfaitsDeplacementMontant').each(function () {
                    if ($(this).text() !== '') {
                        total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                    }
                });
                $('#ForfaitDeplacementTotalMontant').text(total.toFixed(2));
            });
        }

        // Calcule et affiche le montant total des primes de panier pour le mois courant.
        function displayMonthlyTotalPrimesPanier() {
            $('.primesPanierNumber').on('blur keyup paste input', function () {
                var total = 0;
                $('.primesPanierNumber').each(function () {
                    if ($(this).text() !== '') {
                        total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                    }
                });
                $('#PrimesPanierTotalNumber').text(total.toFixed(2));
            });
        }

        // Calcule et affiche le nombre total de chaque type d'abscences.
        function displayTotalAbscences() {

            // Calcule le total de chaque type d'abscences et affiche la valeur dans la cellule correspondante.
            function getAbscencesCount(nbAbscencesCell) {
                var codeAbsences = $(nbAbscencesCell).next().text();
                var total = 0;
                $('.abscenceMatinSelector').each(function () {
                    if (codeAbsences === $(this).find('select option:selected').val()) {
                        total = parseFloat(total, 10) + parseFloat(0.5, 10);
                    }
                });
                $('.abscenceAMSelector').each(function () {
                    if (codeAbsences === $(this).find('select option:selected').val()) {
                        total = parseFloat(total, 10) + parseFloat(0.5, 10);
                    }
                });
                $(nbAbscencesCell).text(total);
            }

            $('.abscenceMatinSelector select, .abscenceAMSelector select').change(function () {
                $('.nbAbscences').each(function () {
                    getAbscencesCount(this);
                });
            });
        }

        // Calcule le montant de remboursement des titres de tranport.
        function displayTotalTitreTransport() {
            $('#titreTransportMontant').on('blur keyup paste input', function () {
                var total = 0;
                if ($('#titreTransportMontant').text() !== '') {
                    total = parseFloat($('#titreTransportMontant').text(), 10) / 2;
                }
                $('#titreTransportTotalMontant').text(total.toFixed(2));
            });
        }

        // Lis le contenu des cellules du tableau et renvoie le résultat sous forme de chaine pour sauvegarde en base de données.
        function ajaxSaveData() {
            // Désactive la sauvegarde automatique sur l'édition de cellules.
            $('td[contenteditable=true]').unbind('blur');
            $('select:not(#pointage_month_selector, #pointage_year_selector)').unbind('change');
            // Détecte l'édition de texte des cellules et sauvegarde les changement en base de donnée.
            $('td[contenteditable=true]').on('blur', function () {
                var data = {};
                data['contenteditable'] = [];
                data['select'] = [];
                data['project'] = [];
                data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                $('td[contenteditable=true]:not(#signatureCollaborateur, .project, #ajaxSearchAffairesDiv, #projectDeleteMenu)').each(function (index) {
                    data['contenteditable'][index] = $(this).text();
                    //$(this).css('background-color', 'orange');
                    //$(this).text(index);
                });
                $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                    data['select'][index] = $(this).val();
                    //$(this).css('background-color', 'orange');
                });
                $('.project[contenteditable=true]').each(function (index) {
                    data['project'][index] = $(this).text();
                });
                var serializedData = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData, signatureCollaborateur: $('#signatureCollaborateur').text()}
                });
            });
            // Détecte l'édition de texte des selects et sauvegarde les changement en base de donnée.
            $('select:not(#pointage_month_selector, #pointage_year_selector)').change(function () {
                var data = {};
                data['contenteditable'] = [];
                data['select'] = [];
                data['project'] = [];
                data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                $('td[contenteditable=true]:not(#signatureCollaborateur, .project)').each(function (index) {
                    data['contenteditable'][index] = $(this).text();
                    //$(this).css('background-color', 'orange');
                    //$(this).text(index);
                });
                $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                    data['select'][index] = $(this).val();
                    //$(this).css('background-color', 'orange');
                });
                $('.project[contenteditable=true]').each(function (index) {
                    data['project'][index] = $(this).text();
                });
                var serializedData = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData}
                });
            });
        }

        // Récupère les données du tableau en base de données et les injectes dans les cellules.
        function ajaxGetData() {
            $.ajax({
                type: 'POST',
                url: '{{ path('nox_intranet_pointage_ajax_get_data') }}',
                data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val()},
                success: function (response) {
                    if (response !== '') {
                        var data = JSON.parse(response);
                        // Ajoute un td après chaque td du dernier projet.
                        function addTd() {
                            var total = $('#tableFeuillePointage').find('tr').length;
                            $('#tableFeuillePointage').find('tr').each(function (index) {
                                if (index === 1) {
                                    $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;' contenteditable=true>Nouvelle Affaire></td>");
                                } else if (index === 2) {
                                    $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;'>%</td>");
                                } else if (index === total - 2) {
                                    //$('.monthlyTotalPercentageCell').last().css('background-color', 'orange');
                                    $('.monthlyTotalPercentageCell').last().after("<td class='monthlyTotalPercentageCell'>0.00</td>");
                                } else if (index === total - 1) {
                                    $('.monthlyTotalCell').last().after("<td class='monthlyTotalCell'>0.00</td>");
                                    //$('.monthlyTotalCell').last().css('background-color', 'orange');
                                } else if (index === total - 3) {
                                    $('#titreRepasTotalNumber').before("<td style='border: none;'></td>");
                                    //$('.monthlyTotalCell').last().css('background-color', 'orange');
                                } else if (index > 1 && index < total - 3) {
                                    var background = $(this).find('.project').last().css('background-color');
                                    var contenteditable = $(this).find('.project').last().attr('contenteditable');
                                    $(this).find('.project').last().after("<td class='projectPercentageCell project'></td>");
                                    $(this).find('.project').last().css('background-color', background);
                                    $(this).find('.project').last().attr('contenteditable', contenteditable);
                                }
                            });
                        }

                        // Incrémente le colspan du header des projets de 1.
                        function setColSpan() {
                            var colspan = parseInt($('#operationnel').attr('colspan'), 10);
                            $('#operationnel').attr('colspan', colspan + 1);
                        }

                        if (data['nbProject'] !== undefined) {
                            for (var i = 0; i < data['nbProject'] - 1; i++) {
                                addTd();
                                setColSpan();
                            }
                        }

                        $('#signatureCollaborateur').text(data['signatureCollaborateur']);
                        if (data['contenteditable'] !== undefined) {
                            $('td[contenteditable=true]:not(#signatureCollaborateur, .project)').each(function (index) {
                                $(this).text(data['contenteditable'][index]);
                            });
                        }

                        if (data['select'] !== undefined) {
                            $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                                $(this).val(data['select'][index]);
                            });
                        }

                        if (data['project'] !== undefined) {
                            $('.project[contenteditable=true]').each(function (index) {
                                $(this).text(data['project'][index]);
                            });
                        }

                        ajaxGetPointageStatus();
                        deleteProjectColumn();
                        tableEventHandler();
                        displayDailyProjectsTotalPercentage();
                        displayMonthlyProjectTotalPercentage();
                        dispayMonthlyTotalHoursMod();
                        displayMonthlyTotalTitresRepas();
                        displayMonthlyTotalForfaitsDeplacement();
                        displayMonthlyTotalPrimesPanier();
                        displayTotalAbscences();
                        displayTotalTitreTransport();
                        checkAbscencesTitreRepas();
                        getGXAffaires();
                        ajaxSaveData();
                    }
                }
            }).done(function () {
                $("#tableFeuillePointage").tableHeadFixer({'head': false, 'left': 1});
            });
        }

        // Ajout une nouvelle colonne de projet au tableau.
        function addProjectColumn() {
            $('#addProject').click(function () {
                addTd();
                setColSpan();
                ajaxSaveData();
                deleteProjectColumn();
            });
            // Ajoute un td après chaque td du dernier projet.
            function addTd() {
                var total = $('#tableFeuillePointage').find('tr').length;
                $('#tableFeuillePointage').find('tr').each(function (index) {
                    if (index === 1) {
                        $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;' contenteditable=true>Nouvelle Affaire</td>");
                    } else if (index === 2) {
                        $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;'>%</td>");
                    } else if (index === total - 2) {
                        //$('.monthlyTotalPercentageCell').last().css('background-color', 'orange');
                        $('.monthlyTotalPercentageCell').last().after("<td class='monthlyTotalPercentageCell'>0.00</td>");
                    } else if (index === total - 1) {
                        $('.monthlyTotalCell').last().after("<td class='monthlyTotalCell'>0.00</td>");
                        //$('.monthlyTotalCell').last().css('background-color', 'orange');
                    } else if (index === total - 3) {
                        $('#titreRepasTotalNumber').before("<td style='border: none;'></td>");
                        //$('.monthlyTotalCell').last().css('background-color', 'orange');
                    } else if (index > 1 && index < total - 3) {
                        var background = $(this).find('.project').last().css('background-color');
                        var contenteditable = $(this).find('.project').last().attr('contenteditable');
                        $(this).find('.project').last().after("<td class='projectPercentageCell project'></td>");
                        $(this).find('.project').last().css('background-color', background);
                        $(this).find('.project').last().attr('contenteditable', contenteditable);
                    }
                });
            }

            // Incrémente le colspan du header des projets de 1.
            function setColSpan() {
                var colspan = parseInt($('#operationnel').attr('colspan'), 10);
                $('#operationnel').attr('colspan', colspan + 1);
            }

            // Lis le contenu des cellules du tableau et renvoie le résultat sous forme de chaine pour sauvegarde en base de données.
            function ajaxSaveData() {
                var data = {};
                data['contenteditable'] = [];
                data['select'] = [];
                data['project'] = [];
                data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                $('td[contenteditable=true]:not(#signatureCollaborateur, .project, #ajaxSearchAffairesDiv, #projectDeleteMenu)').each(function (index) {
                    data['contenteditable'][index] = $(this).text();
                });
                $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                    data['select'][index] = $(this).val();
                });
                $('.project[contenteditable=true]').each(function (index) {
                    data['project'][index] = $(this).text();
                });
                var serializedData = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData, signatureCollaborateur: $('#signatureCollaborateur').text()}
                });
                $('td[contenteditable]').unbind('blur');
                $('td[contenteditable=true]').on('blur', function () {
                    var data = {};
                    data['contenteditable'] = [];
                    data['select'] = [];
                    data['project'] = [];
                    data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                    $('td[contenteditable=true]:not(#signatureCollaborateur, .project)').each(function (index) {
                        data['contenteditable'][index] = $(this).text();
                        //$(this).css('background-color', 'orange');
                        //$(this).text(index);
                    });
                    $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                        data['select'][index] = $(this).val();
                        //$(this).css('background-color', 'orange');
                    });
                    $('.project[contenteditable=true]').each(function (index) {
                        data['project'][index] = $(this).text();
                    });
                    var serializedData = JSON.stringify(data);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                        data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData, signatureCollaborateur: $('#signatureCollaborateur').text()}
                    });
                });
                displayDailyProjectsTotalPercentage();
                displayMonthlyProjectTotalPercentage();
                dispayMonthlyTotalHoursMod();
                displayMonthlyTotalTitresRepas();
                displayMonthlyTotalForfaitsDeplacement();
                displayMonthlyTotalPrimesPanier();
                displayTotalAbscences();
                displayTotalTitreTransport();
                checkAbscencesTitreRepas();
                getGXAffaires();
            }
        }

        // Supprime une colonne de projet au tableau.
        function deleteProjectColumn() {

            // On supprime le trigger de contextmenu déjà existant.
            $('#tableFeuillePointage tr:nth-child(2) .project').unbind('contextmenu');

            // Lors d'un clic droit sur une cellule de nom d'affaire.
            $('#tableFeuillePointage tr:nth-child(2) .project').bind('contextmenu', function (e) {

                var projectCellule = $(this);

                // On supprime le trigger de clique déjà existant.
                $('#projectDeleteMenu').unbind('click');

                // On bloque l'apparition du menu contextuel.
                e.preventDefault();

                // On récupére les coordonnées du pointeur de la souris.
                var cursorY = 1.01 * e.pageY;
                var cursorX = 1.01 * e.pageX;

                // Si le nombre d'affaire est supérieur à 2.
                if ($('#tableFeuillePointage tr:nth-child(2) .project').length > 1) {
                    // On positione et fait apparaître le menu de suppression.
                    $('#projectDeleteMenu').css('top', cursorY);
                    $('#projectDeleteMenu').css('left', cursorX);
                    $('#projectDeleteMenu').css('display', 'inline-block');

                    // Lors du clic sur le menu de suppression.

                    $('#projectDeleteMenu').click(function () {
                        /*var handler = function () {
                         // On le fait disparaître.
                         $('#projectDeleteMenu').hide();
                         deleteTd(projectCellule);
                         setColSpan();
                         //ajaxSaveData();
                         };*/
                        //console.log($._data(projectCellule[0], "events"));
                        //projectCellule.css('background-color', 'orange');
                        projectCellule.unbind('blur');
                        projectCellule.unbind('keyup');
                        projectCellule.unbind('paste');
                    });
                }

                // Si on clique en dehors de la fenêtre de suppression, elle disparaît.
                $(document).mouseup(function (e) {
                    var container = $('#projectDeleteMenu');
                    if (!container.is(e.target) // if the target of the click isn't the container...
                            && container.has(e.target).length === 0) // ... nor a descendant of the container
                    {
                        container.hide();
                    }
                });
            });

            // Supprime les td de la colonne.
            function deleteTd(column) {
                var cellIndex = $(column).index() - 1;
                $('#tableFeuillePointage tr').each(function () {
                    $(this).find('.project').eq(cellIndex).remove();
                });
                $('#tableFeuillePointage tr:nth-last-child(3) td').eq(cellIndex).remove();
                $('.monthlyTotalPercentageCell').eq($(column).index() - 1).remove();
                $('.monthlyTotalCell').eq($(column).index() - 1).remove();
            }

            // Désincrémente le colspan du header des projets de 1.
            function setColSpan() {
                var colspan = parseInt($('#operationnel').attr('colspan'), 10);
                $('#operationnel').attr('colspan', colspan - 1);
            }

            // Lis le contenu des cellules du tableau et renvoie le résultat sous forme de chaine pour sauvegarde en base de données.
            function ajaxSaveData() {
                var data = {};
                data['contenteditable'] = [];
                data['select'] = [];
                data['project'] = [];
                data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                $('td[contenteditable=true]:not(#signatureCollaborateur, .project, #ajaxSearchAffairesDiv, #projectDeleteMenu)').each(function (index) {
                    data['contenteditable'][index] = $(this).text();
                });
                $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                    data['select'][index] = $(this).val();
                });
                $('.project[contenteditable=true]').each(function (index) {
                    data['project'][index] = $(this).text();
                });
                var serializedData = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData, signatureCollaborateur: $('#signatureCollaborateur').text()}
                });
                $('td[contenteditable]').unbind('blur');
                $('td[contenteditable=true]').on('blur', function () {
                    var data = {};
                    data['contenteditable'] = [];
                    data['select'] = [];
                    data['project'] = [];
                    data['nbProject'] = $('#tableFeuillePointage tr:nth-child(3) .project').length;
                    $('td[contenteditable=true]:not(#signatureCollaborateur, .project)').each(function (index) {
                        data['contenteditable'][index] = $(this).text();
                        //$(this).css('background-color', 'orange');
                        //$(this).text(index);
                    });
                    $('select:not(#pointage_month_selector, #pointage_year_selector)').each(function (index) {
                        data['select'][index] = $(this).val();
                        //$(this).css('background-color', 'orange');
                    });
                    $('.project[contenteditable=true]').each(function (index) {
                        data['project'][index] = $(this).text();
                    });
                    var serializedData = JSON.stringify(data);
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('nox_intranet_pointage_ajax_save_data') }}',
                        data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val(), data: serializedData, signatureCollaborateur: $('#signatureCollaborateur').text()}
                    });
                });
                displayDailyProjectsTotalPercentage();
                displayMonthlyProjectTotalPercentage();
                dispayMonthlyTotalHoursMod();
                displayMonthlyTotalTitresRepas();
                displayMonthlyTotalForfaitsDeplacement();
                displayMonthlyTotalPrimesPanier();
                displayTotalAbscences();
                displayTotalTitreTransport();
                checkAbscencesTitreRepas();
            }
        }

        // Vérifie le status de la feuille de pointage, colore la barre d'avancement en conséquence et vérouille la feuille si nécessaire.
        function ajaxGetPointageStatus() {
            $('td[contenteditable=true]').css('cursor', 'initial');
            $('td[contenteditable=true]').removeAttr('onkeydown');
            $('select:not(#pointage_month_selector, #pointage_year_selector)').removeAttr('disabled');
            $('#addProject').show();
            $('#form_Valider').show();
            $('.pointageStatusLine div').width('10%');
            $(".pointageStatusCircle").css('background-color', 'lightgrey');
            $(".pointageStatusCircle").filter(function () {
                return  $(this).attr("step") <= 0;
            }).css('background-color', 'green');
            $.ajax({
                type: 'POST',
                url: '{{ path('nox_intranet_pointage_ajax_get_status') }}',
                data: {username: null, month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val()},
                success: function (response) {
                    var width = null;
                    var cercleNb = null;
                    switch (response) {
                        case '0':
                            width = 10;
                            cercleNb = 0;
                            break;
                        case '1':
                            width = 30;
                            cercleNb = 1;
                            break;
                        case '2':
                            width = 30;
                            cercleNb = 1;
                            break;
                        case '3':
                            width = 50;
                            cercleNb = 2;
                            break;
                        case '4':
                            width = 70;
                            cercleNb = 3;
                            break;
                        case '5':
                            width = 100;
                            cercleNb = 4;
                            break;
                    }

                    $('.pointageStatusLine div').width(width + '%');
                    $(".pointageStatusCircle").filter(function () {
                        return  $(this).attr("step") <= cercleNb;
                    }).css('background-color', 'green');
                    if (response !== '0' && response !== '') {
                        $('td[contenteditable=true]').css('cursor', 'default');
                        $('td[contenteditable=true]').attr('onkeydown', "return false");
                        $('select:not(#pointage_month_selector, #pointage_year_selector)').attr('disabled', 'disabled');
                        $('#addProject').hide();
                        $('#form_Valider').hide();
                    }
                }
            });
        }

        // Vérifie si le navigateur utilisé est Internet Explorer et affiche un message d'erreur dans ce cas.
        function IECheck() {

            var ms_ie = false;
            var ua = window.navigator.userAgent;
            var old_ie = ua.indexOf('MSIE ');
            var new_ie = ua.indexOf('Trident/');
            if ((old_ie > -1) || (new_ie > -1)) {
                ms_ie = true;
            }

            if (ms_ie) {
                alert('Le module de pointage n\'est pas compatible avec Internet Explorer, veuillez utiliser Google Chrome ou Microsoft Edge à la place.');
            }
        }

        // Renvoi les affaires dont le numéro contient la chaine "search".
        function getGXAffaires() {

            // Supprime les triggers d'event déjà existant.
            $('#tableFeuillePointage tr:nth-child(2) .project').unbind('blur');
            $('#tableFeuillePointage tr:nth-child(2) .project').unbind('keyup');
            $('#tableFeuillePointage tr:nth-child(2) .project').unbind('paste');
            //$('#tableFeuillePointage tr:nth-child(2) .project').unbind('input');

            // Pour toutes action dans une cellule titre d'affaire.
            $('#tableFeuillePointage tr:nth-child(2) .project').on('blur keyup paste', function () {

                $('#ajaxSearchAffairesDiv').hide();

                var search = $(this).text();
                var celluleProject = $(this);
                var affaires = "http://" + window.location.hostname + "/Symfony/web/DatabasesCSV/AffairesEncode.csv";
                var compteur = 0;

                // Supprime les paragraphes de résultats existants.
                $('#ajaxSearchAffairesDiv').empty();

                // Fixe la largeur minimale de la 'div' des résultats a 1.1 fois la taille de la cellule.
                var minWidth = celluleProject.outerWidth() * 1.1;
                $('#ajaxSearchAffairesDiv').css('min-width', minWidth);

                // Cherche la chaine saisi dans le fichier csv des affaires et ajoute une balise 'p' par résultats.
                if (search !== '') {
                    $.get(affaires, function (data) {
                        var lineByLine = data.split("\n");
                        var numsAffaires = [];

                        $.each(lineByLine, function (index, value) {
                            var donnes = value.split(';');
                            numsAffaires.push(donnes[0]);
                            if (compteur < 10 && donnes[0].indexOf(search) >= 0) {
                                $('#ajaxSearchAffairesDiv').append("<p class='ajaxSearchAffairesDivResults' data-numaffaire='" + donnes[0] + "' style='background-color: white; text-align: center; margin: 0; padding: 0.5vw 0.5vw 0.5vw 0.5vw;'>" + donnes[0] + " " + donnes[1] + "</p>");
                                compteur++;
                            }
                        });

                        // Effet visuel au passage de la souris sur les résultats.
                        $('.ajaxSearchAffairesDivResults').hover(function () {
                            $(this).css('background-color', 'rgb(217, 217, 217)');
                        }, function () {
                            $(this).css('background-color', 'white');
                        });

                        // Lors du clique sur un résultat on remplace le contenu de la recherche par le résultat.
                        $('.ajaxSearchAffairesDivResults').mousedown(function () {
                            celluleProject.text($(this).attr('data-numaffaire'));
                        });

                        // Positione la 'div' contenant les résultats sous la cellules focus.
                        $('#ajaxSearchAffairesDiv').css('top', celluleProject.offset().top + celluleProject.outerHeight() - $('#tableFeuillePointageDivContainer').offset().top);
                        $('#ajaxSearchAffairesDiv').css('left', celluleProject.offset().left - $('#tableFeuillePointageDivContainer').offset().left);

                        // Affiche la 'div' des résultats si elle n'est pas vide.
                        if (compteur > 0) {
                            $('#ajaxSearchAffairesDiv').show();
                        }

                        // Cache la div des résultats lors du blur du champ de recherche et vide la cellule si le contenu n'est pas un numéro d'affaire existant.
                        celluleProject.blur(function () {
                            var existing = false;

                            $('#ajaxSearchAffairesDiv').hide();

                            if ($.inArray(celluleProject.text(), numsAffaires) === -1) {
                                celluleProject.text('');
                                //celluleProject.trigger('blur');
                            }
                        });
                    });
                }

            });
        }

    </script>

{% endblock %}