{% extends "layout.html.twig" %}

{% block titrePage %} Pointage {% endblock %}

{% block messageAccueil %}Pointage{% endblock %}

{% block contenu %}
    <div id='tableFeuillePointageDivContainerAdministratif'>
        <table id="tableFeuillePointage">
            <tr>
                <td style="border: none;">
                    <select id='pointage_month_selector' style="width: 100%;">
                        {% set months = { 01: 'Janvier', 02: 'Février', 03: 'Mars', 04: 'Avril', 05: 'Mai', 06: 'Juin', 07: 'Juillet', 08: 'Août', 09: 'Septembre', 10: 'Octobre', 11: 'Novembre', 12: 'Décembre' } %}
                        {% for index,month in months %}
                            <option value="{{ index }}" {% if index == currentMonth %}selected{% endif %}>{{ month }}</option>  
                        {% endfor %}
                    </select>
                </td>
                <td id='operationnel' style="background: rgb(47,117,181); color: white; border-width: 1px;" colspan="2">OPERATIONNEL</td>       
            </tr>
            <tr>
                <td style="border: none;">
                    <select id='pointage_year_selector' style="width: 100%;">
                        <option value="{{ 'now'|date('Y')}}">{{ 'now'|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+1 year')|date('Y')}}">{{ 'now'|date_modify('+1 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+2 year')|date('Y')}}">{{ 'now'|date_modify('+2 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+3 year')|date('Y')}}">{{ 'now'|date_modify('+3 year')|date('Y')}}</option>
                        <option value="{{ 'now'|date_modify('+4 year')|date('Y')}}">{{ 'now'|date_modify('+4 year')|date('Y')}}</option>
                    </select>
                </td>
                <td class='project' contenteditable=true style='border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px;' >Nouvelle Affaire</td>
                <td style='border-width: 1px;'>TOTAL</td>
            </tr>
            <tr>
                <td style="background: rgb(217,217,217); border-width: 1px;"></td>
                <td class='project' style='border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px;'>%</td>
                <td style='border-width: 1px;'>%</td>
            </tr>
            {% set frenchDays = { 'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi', 'Thursday': 'Jeudi', 'Friday': 'Vendredi', 'Saturday': 'Samedi', 'Sunday':'Dimanche' } %}
            {% for date in monthDates %}
                <tr>
                    <td class='dayDateCell' style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px; border-right-width: 1px;">{{ frenchDays[date|date('l')]}} {{ date|date('d') }}</td>
                    <td class="projectPercentageCell project" {% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} style="background:rgb(166,166,166);" {% else %} contenteditable='true' {% endif %}></td>
                    <td class="dailyTotalPercentageCell" style="{% if date|date('l') == 'Saturday' or date|date('l') == 'Sunday' %} background:rgb(166,166,166); {% endif %} border-left-width: 1px; border-right-width: 1px;">
                        {% if date|date('l') != 'Saturday' and date|date('l') != 'Sunday' %}
                            0.00
                        {% endif %}
                    </td>
                </tr>        
            {% endfor %}
            <tr>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
                <td style='border: none;'></td>
            </tr>
            <tr>
                <td style='border: none;'></td>
                <td class='monthlyTotalPercentageCell'>0.00</td>
            </tr>
            <tr>
                <td style='border: none;'></td>
                <td class='monthlyTotalCell'>0.00</td>
            </tr>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            typesAbscenceTopMargin();
            getNewDate();
            ajaxGetData();
            //ajaxSaveData();

            // Met à jours les cellules des valeurs totals.
            function tableEventHandler() {
                displayDailyProjectsTotalPercentage();
                function displayDailyProjectsTotalPercentage() {
                    // Colore en rouge les cellules dont le contenu n'est pas un nombre.
                    function checkCellContentValidity(cell) {
                        if (isNaN(parseFloat($(cell).text(), 10)) || parseFloat($(cell).text()) > 100) {
                            if ($(cell).text() !== '') {
                                $(cell).css('background-color', 'red');
                            } else {
                                if ($(cell).attr('contenteditable') === 'true') {
                                    $(cell).css('background-color', 'white');
                                } else {
                                    $(cell).css('background-color', 'rgb(166,166,166)');
                                }
                            }
                        } else {
                            $(cell).css('background-color', 'white');
                        }
                    }

                    // Affiche la valeur total des cellules d'une même ligne ou 'Erreur' si celle-ci n'est pas valide.
                    function checkTotalValue(cell, total) {
                        if (isNaN(total) || total > 100) {
                            $(cell).text('Erreur');
                            $(cell).css('background', 'red');
                        } else {
                            $(cell).text(total.toFixed(2));
                            $(cell).css('background', 'white');
                        }
                    }

                    $('.dailyTotalPercentageCell').each(function () {
                        var total = 0;
                        $(this).siblings('.projectPercentageCell[contenteditable=true]').each(function () {
                            checkCellContentValidity(this);
                            if ($(this).text() !== '') {
                                total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                            }
                        });
                        checkTotalValue(this, total);
                    });
                }

                displayMonthlyProjectTotalPercentage();
                function displayMonthlyProjectTotalPercentage() {
                    // Affiche la valeur total des cellules d'une même colonne ou 'Erreur' si celle-ci n'est pas valide.
                    function checkTotalValue(cell, total, columnNo) {
                        if (isNaN(total) || total > 100) {
                            $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                            $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                            $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text('Erreur');
                            $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'red');
                        } else {
                            $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").text(total.toFixed(2));
                            $(cell).closest("table").find("tr .monthlyTotalPercentageCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                            var decimalTotal = parseFloat(total / 100, 10);
                            $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").text(decimalTotal.toFixed(2));
                            $(cell).closest("table").find("tr .monthlyTotalCell:nth-child(" + (columnNo + 1) + ")").css('background-color', 'white');
                        }
                    }

                    $('.projectPercentageCell').each(function () {
                        var columnNo = $(this).index();
                        var total = 0;
                        $(this).closest("table").find("tr .projectPercentageCell:nth-child(" + (columnNo + 1) + ")").each(function () {
                            if ($(this).text() !== '') {
                                total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                            }
                        });
                        checkTotalValue(this, total, columnNo);
                    });
                }

                dispayMonthlyTotalHoursMod();
                function dispayMonthlyTotalHoursMod() {

                    var total = 0;
                    $('.dailyHoursMod').each(function () {
                        if ($(this).text() !== '') {
                            total = parseFloat(total, 10) + parseFloat($(this).text(), 10);
                        }
                    });
                    $('#monthlyTotalHoursMod').text(total.toFixed(2));
                }
            }

            // Affiche les jours du moi en fonction du mois et de l'année séléctionées.
            function getNewDate() {

                $('#pointage_month_selector, #pointage_year_selector').on('change', function () {
                    deleteProjectColumn();
                    resetCellsValues();
                    ajaxGetNewDate();
                    //$('td[contenteditable]').unbind('blur');
                    //$('select').unbind('change');

                });
                // Supprime les colonnes existantes de projets suplémentaires et rétablie le colspan de "Operationnel" à 2.
                function deleteProjectColumn() {

                    var firstColumnIndex = $('#tableFeuillePointage tr:nth-child(2) .project').first().index() + 2;
                    var lastColumnIndex = $('#tableFeuillePointage tr:nth-child(2) .project').last().index() + 1;
                    $('#tableFeuillePointage tr:nth-child(n+2) td:nth-child(n+' + firstColumnIndex + '):nth-child(-n+' + lastColumnIndex + ')').remove();
                    $('#operationnel').attr('colspan', 2);
                }

                // Remet à zero les valeurs de cellules.
                function resetCellsValues() {
                    $('[contenteditable]').text('');
                    $('.project').first().text("Nouvelle Affaire");
                    $('.dailyTotalPercentageCell, .monthlyTotalPercentageCell, .monthlyTotalCell, #ForfaitDeplacementTotalMontant, #PrimesPanierTotalNumber, #titreTransportTotalMontant').text(0.00);
                    $('#monthlyTotalHoursMod, #titreRepasTotalNumber, .nbAbscences').text(0);
                    $('select:not(#pointage_month_selector, #pointage_year_selector)').val('');
                }

                // Récupère les jours en fonction du moi et de l'année.
                function ajaxGetNewDate() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        url: '{{ path('nox_intranet_pointage_ajax_set_date') }}',
                        data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val()},
                        success: function (response) {
                            $('.dayDateCell').each(function (index) {
                                $(this).transition({
                                    rotateX: '360deg'
                                }, function () {
                                    $(this).css('transform', '');
                                });
                                if (response[index] === undefined) {
                                    $(this).html('');
                                    $(this).parent('tr').find('td').css('background', 'white');
                                } else {
                                    $(this).html(response[index]);
                                    if (response[index].indexOf('Samedi') >= 0 || response[index].indexOf('Dimanche') >= 0) {
                                        $(this).parent('tr').find('td').css('background', 'rgb(166,166,166)');
                                        $(this).next('td').attr('contenteditable', false);
                                        $(this).siblings('.dailyHoursMod').attr('contenteditable', false);
                                    } else {
                                        $(this).parent('tr').find('td').css('background', 'white');
                                        $(this).next('td').attr('contenteditable', true);
                                        $(this).siblings('.dailyHoursMod').attr('contenteditable', true);
                                    }
                                }
                            });
                            $('td[contenteditable]').unbind('blur');
                            $('.projet[contenteditable]').unbind('blur');
                            $('select:not(#pointage_month_selector, #pointage_year_selector)').unbind('change');
                            ajaxGetData();
                            //ajaxSaveData();
                        }
                    });
                }
            }

            // Aligne les petits tableau sur la première ligne du grand.
            function typesAbscenceTopMargin() {
                var margin_top = $('#tableFeuillePointage tr:first-child').height();
                $('#tableFeuillePointageTypesAbscences').css('margin-top', margin_top);
            }

            // Récupère les jours en fonction du moi et de l'année.
            function ajaxGetData() {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_pointage_administratif_ajax_get_data') }}',
                    data: {month: $('#pointage_month_selector option:selected').val(), year: $('#pointage_year_selector option:selected').val()},
                    success: function (response) {
                        alert(response);
                        if (response !== '') {
                            var data = JSON.parse(response);
                            // Ajoute un td après chaque td du dernier projet.
                            function addTd() {
                                var total = $('#tableFeuillePointage').find('tr').length;
                                $('#tableFeuillePointage').find('tr').each(function (index) {
                                    if (index === 1) {
                                        $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;' contenteditable=true>Nouvelle Affaire</td>");
                                    } else if (index === 2) {
                                        $(this).find('.project').last().after("<td class='project' style='border-top-width: 1px; border-bottom-width: 1px;'>%</td>");
                                    } else if (index === total - 2) {
                                        //$('.monthlyTotalPercentageCell').last().css('background-color', 'orange');
                                        $('.monthlyTotalPercentageCell').last().after("<td class='monthlyTotalPercentageCell'>0.00</td>");
                                    } else if (index === total - 1) {
                                        $('.monthlyTotalCell').last().after("<td class='monthlyTotalCell'>0.00</td>");
                                        //$('.monthlyTotalCell').last().css('background-color', 'orange');
                                    } else if (index === total - 3) {
                                        $('#titreRepasTotalNumber').before("<td style='border: none;'></td>");
                                        //$('.monthlyTotalCell').last().css('background-color', 'orange');
                                    } else if (index > 1 && index < total - 3) {
                                        var background = $(this).find('.project').last().css('background-color');
                                        var contenteditable = $(this).find('.project').last().attr('contenteditable');
                                        //alert(contenteditable);
                                        $(this).find('.project').last().after("<td class='projectPercentageCell project'></td>");
                                        $(this).find('.project').last().css('background-color', background);
                                        $(this).find('.project').last().attr('contenteditable', contenteditable);
                                    }
                                });
                            }

                            // Incrémente le colspan du header des projets de 1.
                            function setColSpan() {
                                var colspan = parseInt($('#operationnel').attr('colspan'), 10);
                                $('#operationnel').attr('colspan', colspan + 1);
                            }

                            // Retourne le nombre total de projets pour le moi et l'année séléctionée.
                            function getProjectNumber() {
                                var nbProject = 0;
                                for (var i = 0; i < data.length; i++) {
                                    nbProject = nbProject + parseInt(JSON.parse(data[i])['nbProject'], 10);
                                }
                                return nbProject;
                            }

                            alert(getProjectNumber());

                            // Remplis le tableau avec l'emsemble des projets en cours pour le moi et l'année séléctionée.
                            function getProjectContent() {
                                for (var i = 0; i < getProjectNumber() - 1; i++) {
                                    addTd();
                                    setColSpan();
                                }

                                var currentMinRange = 1;
                                var currentMaxRange = 1;
                                for (var i = 0; i < data.length; i++) {
                                    currentMaxRange = currentMinRange + parseInt(JSON.parse(data[i])['nbProject'], 10);
                                    $('.project[contenteditable=true]:nth-child(n+' + currentMinRange + '):nth-child(-n+' + currentMaxRange + ')').each(function (index) {
                                        $(this).text(JSON.parse(data[i])['project'][index]);
                                    });
                                    currentMinRange = currentMaxRange + 1;
                                }
                            }
                        }
                        getProjectContent();
                    }
                }).done(function () {
                    tableEventHandler();
                    $('.project[contenteditable=true]').css('cursor', 'default');
                    $('.project[contenteditable=true]').attr('onkeydown', "return false");

                    $("#tableFeuillePointage").tableHeadFixer({'head': false, 'left': 1});
                });
            }
        });
    </script>

{% endblock %}