Bonjour,<br />
<br />
Le directeur d'agence <span style='text-decoration: underline;'>{{ DA1.Firstname }} {{ DA1.Lastname }}</span> a fait la demande de recherche de prestation suivante :<br />
<br />

<style>
    table, tr, td {
        border: solid 1px black;
        border-collapse: collapse;        
    }

    td {
        padding: 1%;

    }

    .trLabel {
        font-weight: bold;
        background-color: lightgrey;
    }
</style>

<table>
    <tr>
        <td class='trLabel'>Lieu de l'opération</td>
        <td>{{ demande.LieuOperation }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Lieu de la prestation</td>
        <td>{{ demande.LieuPrestation }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Descriptif de la prestation</td>
        <td>{{ demande.Descriptif }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Déplacements à prévoir</td>
        <td>{{ demande.Deplacement }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Date de démarrage de la prestation</td>
        <td>{{ demande.DateDemarrage|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Date de rendu</td>
        <td>{{ demande.DateRendu|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Livrables attendus</td>
        <td>{{ demande.Livrables }}</td>
    </tr>
    <tr>
        <td class='trLabel'>Volume de sous traitance envisagé (€)</td>
        <td>{{ demande.VolumeSousTraitance }}</td>
    </tr>
</table>
<br />
Veuillez <a href='{{ absolute_url(path('nox_intranet_reponse_da2', {'cleDemande': demande.CleDemande, 'reponse': 'valider'})) }}' style='color: green'>cliquez ici</a> <!--
-->si vous <span style='color: green'>pouvez</span> répondre à la demande ou <!--
--><a href='{{ absolute_url(path('nox_intranet_reponse_da2', {'cleDemande': demande.CleDemande, 'reponse': 'refuser'})) }}' style='color: red'>cliquez ici</a> <!--
-->si vous ne <span style='color: red'>pouvez pas</span> répondre à la demande.
