{% if app.user != null %}
    <div class="row">
        <img class="img-responsive col-lg-8 col-lg-offset-2" src="{{ asset('bundles/noxintranetuser/images/User-128-hover.png') }}" alt='Utilisateur' onmousedown="return false;">
    </div>
    <div class="row">
        <div id="usernameSpan" class="col-lg-12">{{ app.user.firstname }} {{ app.user.lastname }}</div>
    </div>
    <div class="row">
        <a class="col-lg-12" href="{{ path('logout') }}">Déconnexion</a> 
    </div>
{% else %}


    <div id='login' class="tooltipLogin">
        <span class="tooltipLoginText">
            Utilisez les mêmes identifiants que pour votre session Windows.<br />
            ex: Vous êtes 'Henry Martin', votre login est 'h.martin'.
        </span>
        <form method="POST" action="{{ path("AD_connexion_check") }}" name='connexion'>

            <input type='text' id='username' name='username' placeholder="Nom d'utilisateur">

            <input type='password' id='password'  name='password' placeholder="Mot de passe">

            <p>
                <input class="boutonFormulaireInverse" type='submit' value='Connexion'>
            </p>

        </form>
    </div>

{% endif %}
