{% extends "::layout.html.twig" %}

{% block style %}
    <style>
        #ficheEvaluationSTSum_Container {
            width: 70%;
            margin: auto;
        }

        #ficheEvaluationSTSum {
            margin: auto;
            border-collapse: collapse;
        }

        #ficheEvaluationSTSum, #ficheEvaluationSTSum tr, #ficheEvaluationSTSum th, #ficheEvaluationSTSum td {
            border: 1px solid black;
        }

        #ficheEvaluationSTSum th, #ficheEvaluationSTSum td {
            padding: 0.2em;
        }

        #ficheEvaluationSTSum th {
            text-align: right;
        }

        #ficheEvaluationSTSum td {
            text-align: center;
        }

        #ficheEvaluationSTSum td a {
            padding: 0 1em;
        }

        #ficheEvaluationSTSum td hr {
            margin: 0.2em 0;
        }
    </style>
{% endblock %}

{% block titrePage %} Résumé du questionnaire de satisfaction client {% endblock %}

{% block messageAccueil %} Résumé du questionnaire de satisfaction client {% endblock %}

{% block contenu %} 
    <table id='ficheEvaluationSTSum'>
        <tr>
            <th>Numéro d'affaire</th>
            <td>{{ envoi.NumAffaire }}</td>
        </tr>
        <tr>
            <th>Intitulé d'affaire</th>
            <td>{{ envoi.IntituleAffaire }}</td>
        </tr>
        <tr>
            <th>Agence de l'émetteur</th>
            <td>{{ envoi.Agence }}</td>
        </tr>
        <tr>
            <th>Emetteur</th>
            <td>{{ envoi.Emetteur }}</td>
        </tr>
        <tr>
            <th>Emis le</th>
            <td>{{ envoi.DateEnvoi|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Nom du client</th>
            <td>{{ envoi.Client }}</td>
        </tr>
        <tr>
            <th>Email du client</th>
            <td>{{ envoi.EmailClient }}</td>
        </tr>
        <tr>
            <th>Chargé d'affaire</th>
            <td>{{ envoi.CA }}</td>
        </tr>
    </table>
{% endblock %}