{% extends "::layout.html.twig" %}

{% block style %}
    {% stylesheets '@NoxIntranetRessourcesBundle/Resources/public/css/ressources.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block titrePage %} Assurance qualité {% endblock %}

{% block messageAccueil %}Assurance qualité<div id="DivAQMail"><div style="float: right;"><p style="font-size: 0.8vw;" ><a style="text-decoration: none; display: inline-block; width: 110%; color: rgb(31,78,121);" href="mailto:g.toure@groupe-nox.com?subject=Demande d'informations 'Assurance qualité'"><span style="vertical-align:middle; margin-right: 3%; display: inline-block;">Contact</span><img style="vertical-align: middle; width: 25%;" src="{{ asset('bundles/noxintranetressources/images/Message-Mail-32.png') }}"></a></p></div></div>{% endblock %}

{% block contenu %}
    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <h4><span>Infos QSE</span><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'></h4>
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block col-xs-offset-1">
                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'INFOSQSE/EQUIPEQSE', 'dossier': 'Equipe QSE', 'config': 'equipeQSE' }) }}'> <h4> Equipe QSE </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'INFOSQSE/CITATIONS', 'dossier': 'Citations', 'config': 'citations' }) }}'> <h4> Citations </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'INFOSQSE/EVENEMENTS', 'dossier': 'Evénements', 'config': 'evenements' }) }}'> <h4> Evénements </h4> </a>
                        </div>
                  </div>
                </div>

              </div>

              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4><span>Certificats ISO et OPQIBI</span><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'></h4>
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-block col-xs-offset-1">
                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'CERTIFICATSISOETOPQIBI/ISO9001', 'dossier': 'ISO 9001', 'config': 'ISO9001' }) }}'> <h4> ISO 9001 </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'CERTIFICATSISOETOPQIBI/ISO14001&18001', 'dossier': 'ISO 14001 & 18001', 'config': 'ISO14001&18001' }) }}'> <h4> ISO 14001 & 18001 </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'CERTIFICATSISOETOPQIBI/OPQIBI', 'dossier': 'OPQIBI', 'config': 'OPQIBI' }) }}'> <h4> OPQIBI </h4> </a>
                        </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4><span>Documents QSE</span><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'></h4>
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-block col-xs-offset-1">
                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'DOCUMENTQSE/MANUELQUALITE', 'dossier': 'Manuel Qualité', 'config': 'manuelQualite' }) }}'> <h4> Manuel Qualité </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'DOCUMENTQSE/PROCESSUS', 'dossier': 'Nos Processus', 'config': 'processus' }) }}'> <h4> Nos Processus </h4> </a>
                        </div>

                        <div class="sousMessageAcceuil"> 
                            <a href='{{ path('nox_intranet_affichageAQ', { 'chemin': 'DOCUMENTQSE/INDICATEURS', 'dossier': 'Indicateurs', 'config': 'indicateurs' }) }}'> <h4> Indicateurs </h4> </a>
                        </div>      
                  </div>
                </div>
              </div>
            </div>
        </div>  
    </div>   
<script>
    $("h5 h4").click(function() {
        if( $(this).children().last().attr("class") == "menuImg" ){
            $(this).children().last().remove();
            $(this).append("<img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='menuImgDown'>"); 
        }else if( $(this).children().last().attr("class") == "menuImgDown" ){
            $(this).children().last().remove();
            $(this).append("<img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='menuImg'>");        
        }
    });
</script>
  
{% endblock %}
