{% extends "::layout.html.twig" %}

{% block titrePage %} Gestion des pointages {% endblock %}

{% block messageAccueil %}Gestion des pointages{% endblock %}

{% block contenu %}
    <div style="width: 70%; margin: auto; margin-bottom: 5%; text-align: center;">
        <ul id='DRHPointageList'>
            <li><a href="{{ path('nox_intranet_assistantes_agence_gestion_pointage') }}">Assistant(e)s agence - Correction/Validation pointages</a></li>
            <li><a href="{{ path('nox_intranet_pointage_access_collaborateur_pointage') }}">Assistant(e)s agence - Remplissage pointage collaborateur</a></li>
            <li><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'AA'}) }}">Assistant(e)s agence - Correction/Validation compilation</a></li>
            <li><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'DAManager'}) }}">DA/Manager - Correction/Validation compilation</a></li>
            <li><a href="{{ path('nox_intranet_pointages_compilation', {'validationStep': 'Final'}) }}">Consultation des compilations validées</a></li>
            <li><a href='{{ asset('Pointage/Aide/Prise en main du pointage RH.pdf') }}' target='_blank'>Consulter la notice</a></li>
        </ul>
    </div>

{% endblock %}
