{% extends "::layout.html.twig" %}

{% block titrePage %} Edition de feuille de suivi {% endblock %}

{% block messageAccueil %}Edition de feuille de suivi - {{ suivi.Nom }}{% endblock %}

{% block contenu %}

    <div id='DivFormulaireSelectionVersionSuivi'>

        {{ form_start(formSelectionVersionSuivi, {'attr': {'class': 'formulaireSelectionVersionSuivi'}}) }}
        {{ form_errors(formSelectionVersionSuivi) }}

        <fieldset>

            <legend>Version</legend>

            {{ form_label(formSelectionVersionSuivi.version, "Selection de la version :", {'label_attr': {'class': 'labelFormulaireSelectionVersionSuivi'}}) }}
            {{ form_errors(formSelectionVersionSuivi.version) }}
            {{ form_widget(formSelectionVersionSuivi.version, {'attr': {'class': 'selectFormulaireSelectionVersionSuivi'}}) }}

            {{ form_widget(formSelectionVersionSuivi.Supprimer, {'attr': {'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formSelectionVersionSuivi) }}

    </div>

    <div id="DivFormulaireCloturationSuivi">

        {{ form_start(formCloturationSuivi, {'attr': {'class': 'formulaireCloturationSuivi'}}) }}
        {{ form_errors(formCloturationSuivi) }}

        <fieldset>

            <legend>Cloturation</legend>

            {{ form_widget(formCloturationSuivi.Cloturer, {'label': 'Cloturer le suivi', 'attr': {'class': 'boutonFormulaire'}}) }}

        </fieldset> 

        {{ form_widget(formCloturationSuivi._token) }}
        {{ form_end(formCloturationSuivi) }}
    </div>

    <div id="DivInfoSuivi">

        <form class="formInfo">
            <fieldset>
                <legend>Infos suivi</legend>

                <p>Agence: <span>{{ suivi.Agence }}</span></p>
                <p>Numéro GX: <span>{{ suivi.NumeroGX }}</span></p>
                <p>Commune: <span>{{ suivi.Commune }}</span></p>
                <p>Marché: <span>{{ suivi.Marche }}</span></p>
                {% for nCommande in suivi.NoCommande %}
                    {% if loop.last %}
                        <p id="noCommande{{ loop.index }}">
                            N° de Commande {{ loop.index }}: <span>{{ nCommande }}</span>
                            <img src="{{ asset('bundles/noxintranetressources/images/Add-New-32.png') }}" style="text-align: center; vertical-align: bottom; height: 1.2em; margin-left: 0.5em;" onclick="addNoCommande({{ loop.index }});"/>
                        </p>
                    {% else %}
                        <p id="noCommande{{ loop.index }}">
                            N° de Commande {{ loop.index }}: <span>{{ nCommande }}</span>
                        </p>
                    {% endif %}
                {% endfor %} 
                <p>N° Client: <span>{{ suivi.NoClient }}</span></p>
                <p>Objet: <span>{{ suivi.Objet }}</span></p>
                <p>N° INGEDIA BEP: <span>{{ suivi.NoINGEDIABEP }}</span></p>
                <p>Estimatif: <span>{{ suivi.Estimatif }}</span></p>
                <p style="border-bottom: 1px dotted #1F4E79;">Client: <span class="tooltipClient">{{ client.NomCLient }}{% if clientAdr != null %}<span class="tooltipClientText"><span class="tooltipTag">Téléphone</span>: {{ clientAdr.Tel }}<br /><span class="tooltipTag">Fax</span>: {{ clientAdr.Fax }}<br /><span class="tooltipTag">Email</span>: {{ clientAdr.Email }}<br /><span class="tooltipTag">Ville</span>: {{ clientAdr.NomVille }}<br /><span class="tooltipTag">Pays</span>: {{ clientAdr.NomPays }}<br /><span class="tooltipTag">Adresse</span>: {{ clientAdr.Adresse1 }} {{ clientAdr.Adresse2 }} {{ clientAdr.Adresse3 }}</span>{% endif %}</span></p>
            </fieldset>
        </form>

    </div>

    <div id="DivFormulaireRemplissageSuivi">

        {{ form_start(formDonneesSuivi, {'attr': {'class': 'formulaireRemplissageSuivi'}}) }}
        {{ form_errors(formDonneesSuivi) }}

        <fieldset>

            <legend>{{ suivi.Nom }}</legend>

            {% for champ in champsViews %}
                {{ form_errors(attribute(formDonneesSuivi, champ.Champ)) }}
            {% endfor %}

            <p>
                {% for champ in champsViews %}
                    {{ form_label(attribute(formDonneesSuivi, champ.Champ), champ.Nom ~ " : ", {'label_attr': {'class': 'labelFormulaireRemplissageSuivi'}}) }}   
                    {{ form_widget(attribute(formDonneesSuivi, champ.Champ)) }}
                    <br />

                    {% if champ.Type == 'Nombre' %}
                        <script>
                            var fax = document.getElementById('formDonneesSuivi_{{ champ.Champ }}');
                            var phoneRegex = new RegExp(/^[-+]?[0-9]*\.?[0-9]+$/);
                            var checkValidPhoneNumber = function () {
                                if (!phoneRegex.test(fax.value)) {
                                    fax.style.borderColor = 'red';
                                    fax.setCustomValidity("Veuillez entrer un nombre. Les décimaux doivent être séparé par un point.");
                                } else {
                                    fax.style.borderColor = 'initial';
                                    fax.setCustomValidity('');
                                }
                            };
                            $('#formDonneesSuivi_{{ champ.Champ }}').keyup(function () {
                                checkValidPhoneNumber();
                            });
                        </script>
                    {% endif %}

                {% endfor %}

                {{ form_widget(formDonneesSuivi.Generate, {'label': 'Générer fichier Excel', 'attr': {'class': 'boutonFormulaire' }}) }}
                {{ form_widget(formDonneesSuivi.Save, {'label': 'Sauvegarder le suivi', 'attr': {'class': 'boutonFormulaire'}}) }}

            </p>
        </fieldset> 

        {{ form_end(formDonneesSuivi) }}
    </div>

    <script>
        $(document).ready(function () {
            resizeFormLabelAndData($('.labelFormulaireRemplissageSuivi'), $('.champFormulaireRemplissageSuivi'), $('.formulaireRemplissageSuivi p'));
            hideAndShowDataAdding();
        });
        function addNoCommande(nbNoCommande) {
            var newNoCommande = "<p id='noCommande" + (nbNoCommande + 1) + "' class='noCommande'> N° de Commande " + (nbNoCommande + 1) + ": <span contenteditable='true' style='white-space: nowrap;'></span><img src={{ asset('bundles/noxintranetressources/images/Add-New-32.png') }} style='text-align: center; vertical-align: bottom; height: 1.2em; margin-left: 0.5em;' onclick='addNoCommande(" + (nbNoCommande + 1) + ");' /></p>";
            $('#noCommande' + nbNoCommande).after(newNoCommande);
            $('#noCommande' + nbNoCommande + ' img').remove();
            ApplyBlurFunction();
        }

        function EditNoCommande(context) {
            ajaxSaveNoCommande(context.attr('id'), $('#' + context.attr('id') + ' span').text());
        }

        function ApplyBlurFunction() {
            $('.noCommande').each(function () {
                $(this).keypress(function (e) {
                    if (e.which === 13) {
                        e.preventDefault();
                        $('#' + $(this).attr('id')).removeAttr('contenteditable');
                        EditNoCommande($(this));
                    }
                });
                $(this).focusout(function () {
                    EditNoCommande($(this));
                });
            });
        }

        function ajaxSaveNoCommande(context, value) {
            $.ajax({
                type: 'POST',
                url: '{{ path('nox_intranet_assistant_affaire_ajax_nocommande_save') }}',
                data: {suiviId:{{ suivi.Id }}, idNoCommande: context, noCommandeValue: value}
            });
        }
    </script>

{% endblock %}
{# empty Twig template #}
