{% extends "::layout.html.twig" %}

{% block titrePage %} Parcourirs les suivis terminés {% endblock %}

{% block messageAccueil %}Parcourirs les suivis terminés{% endblock %}

{% block contenu %}

    <div id='DivFormulaireSelectionAgence'>

        {{ form_start(formSelectionAgence, {'attr': {'class': 'formulaireSelectionAgence'}}) }}
        {{ form_errors(formSelectionAgence) }}

        <fieldset>

            <legend><span>Agence</legend>

            {{ form_label(formSelectionAgence.Agences, "Selection de l'agence :", {'label_attr': {'class': 'labelFormulaireSelectionAgence'}}) }}
            {{ form_errors(formSelectionAgence.Agences) }}
            {{ form_widget(formSelectionAgence.Agences, {'attr': {'class': 'selectFormulaireSelectionAgence'}}) }}

        </fieldset>

        {{ form_end(formSelectionAgence) }}

    </div>


    <div id='DivFormulaireParcourSuiviEnCours'>
        {{ form_start(formSelectionSuivi, {'attr': {'class': 'formulaireParcourSuiviEnCours'}}) }}
        {{ form_errors(formSelectionSuivi) }}

        <fieldset>

            <legend>Selection du suivi</legend>

            <p>
                <label for="rechercehSuivi">Recherche</label>
                <input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi"/>
                {{ form_errors(formSelectionSuivi.Suivi) }}
                {{ form_widget(formSelectionSuivi.Suivi, {'attr': {'class': 'selectFormulaireAdministrationAjoutProfil', 'size': 15}}) }}
            </p>

            {{ form_widget(formSelectionSuivi._token) }}

            <p>
                {{ form_widget(formSelectionSuivi.Consulter, {'attr': {'class': 'submitFormulaireParcourSuiviEnCours' }}) }}
            </p>

        </fieldset>

        {{ form_end(formSelectionSuivi) }}

    </div>

    <script>

    </script>

{% endblock %}
{# empty Twig template #}
