{% extends "::layout.html.twig" %}

{% block titrePage %} Edition de feuille de suivi {% endblock %}

{% block messageAccueil %}Edition de feuille de suivi - {{ suivi }}{% endblock %}

{% block contenu %}

    <div id='DivFormulaireSelectionVersionSuivi'>

        {{ form_start(formSelectionVersionSuivi, {'attr': {'class': 'formulaireSelectionVersionSuivi'}}) }}
        {{ form_errors(formSelectionVersionSuivi) }}

        <fieldset>

            <legend>Version</legend>

            {{ form_label(formSelectionVersionSuivi.version, "Selection de la version :", {'label_attr': {'class': 'labelFormulaireSelectionVersionSuivi'}}) }}
            {{ form_errors(formSelectionVersionSuivi.version) }}
            {{ form_widget(formSelectionVersionSuivi.version, {'attr': {'class': 'selectFormulaireSelectionVersionSuivi'}}) }}

            {{ form_widget(formSelectionVersionSuivi.Supprimer, {'attr': {'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formSelectionVersionSuivi) }}

    </div>

    <div id="DivFormulaireCloturationSuivi">

        {{ form_start(formCloturationSuivi, {'attr': {'class': 'formulaireCloturationSuivi'}}) }}
        {{ form_errors(formCloturationSuivi) }}

        <fieldset>

            <legend>Cloturation</legend>

            {{ form_widget(formCloturationSuivi.Cloturer, {'label': 'Cloturer le suivi', 'attr': {'class': 'boutonFormulaire'}}) }}

        </fieldset> 

        {{ form_widget(formCloturationSuivi._token) }}
        {{ form_end(formCloturationSuivi) }}
    </div>

    <div id="DivFormulaireRemplissageSuivi">

        {{ form_start(formDonneesSuivi, {'attr': {'class': 'formulaireRemplissageSuivi'}}) }}
        {{ form_errors(formDonneesSuivi) }}

        <fieldset>

            <legend>{{ suivi }}</legend>

            <p>
                {% for champ in champsViews %}
                    {{ form_label(attribute(formDonneesSuivi, champ.Champ), champ.Nom ~ " : ", {'label_attr': {'class': 'labelFormulaireRemplissageSuivi'}}) }}
                    {{ form_errors(attribute(formDonneesSuivi, champ.Champ)) }}
                    {{ form_widget(attribute(formDonneesSuivi, champ.Champ), {'attr': {'class': 'champFormulaireRemplissageSuivi'}}) }}
                    <br />
                {% endfor %}

                {{ form_widget(formDonneesSuivi.Generate, {'label': 'Générer fichier Excel', 'attr': {'class': 'boutonFormulaire', 'title': 'Sauvegardez le suivi pour pouvoir générer un fichier Excel.' }}) }}
                {{ form_widget(formDonneesSuivi.Save, {'label': 'Sauvegarder le suivi', 'attr': {'class': 'boutonFormulaire'}}) }}
            </p>

        </fieldset> 

        {{ form_end(formDonneesSuivi) }}
    </div>

{% endblock %}
{# empty Twig template #}
