{% extends "::layout.html.twig" %}

{% block titrePage %} Choix du client {% endblock %}

{% block messageAccueil %}Choix du client{% endblock %}

{% block contenu %}

    <div id="DivFormulaireChoixClient">

        {{ form_start(formClient, {'attr': {'class': 'formulaireChoixClient'}}) }}
        {{ form_errors(formClient) }}

        <fieldset>

            <legend>Client</legend>

            <p>
                <label for="rechercehSuivi">Recherche</label>
                <input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi"/>
                {{ form_errors(formClient.noClient) }}
                {{ form_widget(formClient.noClient, {'attr': {'class': 'selectFormulaireChoixClient champChoixClient', 'size':'15'}}) }}

                <br />

                {{ form_widget(formClient.Choisir, {'label': 'Choisir ce client', 'attr': {'class': 'boutonFormulaire' }}) }}

                <script>
                    $(window).load(function () {
                        resizeFormLabelAndData($('.labelFormulaireChoixClient'), $('.champChoixClient'), $('.formulaireChoixClient p'));
                        Recherche('.selectFormulaireChoixClient');
                    });
                    //#form_pays représente la liste déroulante des pays, on lui indique de lancer une fonction au changement de choix dans la liste déroulante grâce à ".change(...). 

                    var request;
                    $("#rechercehSuivi").on("keyup paste input", function () {
                        getClientsByCritere();
                    });
                    function getClientsByCritere() {

                        $('#formClient_noClient').find("option").remove();
                        $('#formClient_noClient').css('background', "white url('http://" + window.location.hostname + "{{ asset('bundles/noxintranetressources/images/loading.svg') }}" + "') no-repeat center");
                        $('#formClient_noClient').css('background-size', '50%');
                        if (typeof request !== 'undefined') {
                            request.abort();
                        }
                        request = $.ajax({
                            //On lui indique le type d'envoie des informations

                            type: 'POST',
                            //On lui indique le chemin de la fonction

                            url: '{{ path('nox_intranet_assistant_affaire_ajax_client_getter') }}',
                            //On lui donne la valeur du choix qu'on a fait, et id est la variable qui va contenir notre valeur, nous la retrouvons dans notre controller

                            data: 'critere=' + $("#rechercehSuivi").val(),
                            //Enfin nous lui disons de remplir notre formulaire avec le resultat  

                            success: function (response) {

                                $('#formClient_noClient').css('background', 'white');
                                $('#formClient_noClient').find("option").remove();
                                $.each(response, function (i, item) {
                                    $('#formClient_noClient').append(new Option(item, i));
                                });
                                $('#formClient_noClient option:nth-child(even)').css('background', 'SeaShell');
                                $('#formClient_noClient option').each(function () {
                                    $(this).attr('title', $(this).text());
                                });
                            }
                        });
                    }
                </script>
            </p>
        </fieldset> 

        {{ form_end(formClient) }}

    </div>

    <div id="DivFormulaireClientAdr">

    </div>

    <script>
        $(window).load(function () {
            $('#formClient_noClient').change(function () {
                $('#DivFormulaireClientAdr').html('');
                getClientAdrByNClient($('#formClient_noClient').val());
            });
        });
        function getClientAdrByNClient(Nclient) {

            $.ajax({
                //On lui indique le type d'envoie des informations

                type: 'POST',
                //On lui indique le chemin de la fonction

                url: '{{ path('nox_intranet_assistant_affaire_ajax_client_adr_getter') }}',
                //On lui donne la valeur du choix qu'on a fait, et id est la variable qui va contenir notre valeur, nous la retrouvons dans notre controller

                data: 'NClient=' + Nclient,
                //Enfin nous lui disons de remplir notre formulaire avec le resultat  

                success: function (response) {
                    //$('.formulaireClientAdr p').append("<input type='text' title='" + response.Adresse + "' value='" + response.Adresse + "'>");
                    var newInput = "";
                    var compteurCoordonnees = 1;

                    $.each(response, function () {
                        newInput += "<form class='formulaireClientAdr'> <fieldset> <legend>Coordonnées " + compteurCoordonnees + "</legend> <p>";
                        $.each(this, function (key, value) {
                            if (value === '') {
                                value = 'Aucune donnée.';
                            }
                            newInput += "<label for=\"" + key + "\" class='labelFormulaireClientAdr'>" + key + " : </label>";
                            newInput += "<input name=\"" + key + "\" type=\"text\" title=\"" + value + "\" value=\"" + value + "\" class='champClientAdr' readonly> <br />";
                        });
                        newInput += "</p> </fieldset> </form> <br />";
                        compteurCoordonnees++;
                    });

                    $('#DivFormulaireClientAdr').html(newInput);
                    resizeFormLabelAndData($('.labelFormulaireClientAdr'), $('.champClientAdr'), $('.formulaireClientAdr p'));
                }
            });
        }

    </script>

{% endblock %}

