{% extends "::layout.html.twig" %}

{% block titrePage %} Choix du client {% endblock %}

{% block messageAccueil %}Choix du client{% endblock %}

{% block contenu %}

    <div id="DivFormulaireChoixClient">

        {{ form_start(form, {'attr': {'class': 'formulaireChoixClient'}}) }}
        {{ form_errors(form) }}

        <fieldset>

            <legend>Client</legend>

            <p>

                {{ form_label(form.Client, "Client :", {'label_attr': {'class': 'labelFormulaireChoixClient'}}) }}
                {{ form_errors(form.Client) }}
                {{ form_widget(form.Client, {'attr': {'class': 'selectFormulaireChoixClient champChoixClient'}}) }}

                <br />

                {{ form_widget(form.Choisir, {'label': 'Choisir ce client', 'attr': {'class': 'boutonFormulaire' }}) }}

                <br class="champNouveauClient">

                {{ form_label(form.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireChoixClient champNouveauClient'}}) }}
                {{ form_errors(form.Nom) }}
                {{ form_widget(form.Nom, {'attr': {'class': 'textFormulaireChoixClient champNouveauClient champChoixClient'}}) }}

                <br />

                {{ form_label(form.Adresse, "Adresse :", {'label_attr': {'class': 'labelFormulaireChoixClient champNouveauClient'}}) }}
                {{ form_errors(form.Adresse) }}
                {{ form_widget(form.Adresse, {'attr': {'class': 'textFormulaireChoixClient champNouveauClient champChoixClient'}}) }}

                <br class="champNouveauClient">

                {{ form_label(form.Fax, "Fax :", {'label_attr': {'class': 'labelFormulaireChoixClient champNouveauClient'}}) }}
                {{ form_errors(form.Fax) }}
                {{ form_widget(form.Fax, {'attr': {'class': 'textFormulaireChoixClient champNouveauClient champChoixClient'}}) }}

                <br class="champNouveauClient">

                {{ form_widget(form.Créer, {'label': 'Créer', 'attr': {'class': 'boutonFormulaire champNouveauClient' }}) }}

                <script>
                    $(window).load(function () {
                        if ($('#form_Client').val() === '') {
                            $('#form_Client').removeAttr('required');
                            $('.champNouveauClient').attr('required', 'required');
                            $('.champNouveauClient').show();
                            $('#form_Choisir').hide();
                        } else {
                            $('#form_Client').attr('required', 'required');
                            $('.champNouveauClient').hide();
                            $('#form_Choisir').show();
                            $('.champNouveauClient').removeAttr('required');
                        }

                        $('#form_Client').change(function () {
                            if ($('#form_Client').val() === '') {
                                $('#form_Client').removeAttr('required');
                                $('.champNouveauClient').attr('required', 'required');
                                $('.champNouveauClient').show();
                                $('#form_Choisir').hide();
                            } else {
                                $('#form_Client').attr('required', 'required');
                                $('.champNouveauClient').hide();
                                $('#form_Choisir').show();
                                $('.champNouveauClient').removeAttr('required');
                            }
                        });

                        resizeFormLabelAndData($('.labelFormulaireChoixClient'), $('.champChoixClient'), $('.formulaireChoixClient p'));
                    });
                </script>

            </p>

        </fieldset> 

        {{ form_end(form) }}

    </div>

{% endblock %}

