{% extends "::layout.html.twig" %}

{% block titrePage %} Mes ticket {% endblock %}

{% block contenu %}

    <h2> Mes tickets </h2>

    <table id="mesTickets">
        <tr> 
            <td> Objet </td>
            <td> Date d'ajout </td>
            <td> Status </td>
            <td> Valider </td>
            <td> Supprimer </td>
        </tr>

        {% for ticket in tickets %}
            <tr>

                <td> {{ ticket.objet }} </td>

                <td> {{ ticket.dateajout }} </td>

                {% if ticket.status == "En attente" %}
                    <td class="enAttente"> {{ ticket.status }} </td>
                {% elseif ticket.status == "En traitement" %}
                    <td class="enTraitement"> {{ ticket.status }} </td>
                {% elseif ticket.status == "Traité" %}
                    <td class="traité"> {{ ticket.status }} </td>
                {% endif %}
                
                <td class="valider"> <img src="{{ asset('bundles/noxintranetsupport/images/validation.png') }}" alt="valider"> </td>
                
                <td class="supprimer"> <img src="{{ asset('bundles/noxintranetsupport/images/suppression.png') }}" alt="supprimer"> </td>

            </tr>
        {% endfor %}

    </table>
{% endblock %}