{% extends "::layout.html.twig" %}

{% block titrePage %} Nouveau ticket {% endblock %}

{% block contenu %}

    <div id="divFormulaireNews" >

        {{ form_start(formulaire, {'attr': {'id': 'formulaireNews'}}) }}
        
        <h2> Ajouter un ticket </h2>

        {{ form_errors(formulaire) }}


        {# Label et champ titre. #}
        {# Génération du label. #}

        <div>
            {{ form_label(formulaire.objet, "Objet du ticket : ", {'label_attr': {'class': 'label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(formulaire.objet) }}

            {# Génération de l'input. #}
            {{ form_widget(formulaire.objet, {'attr': {'class': 'text'}}) }}

        </div>

        <div>

            {# Label et champ contenu. #}
            {{ form_label(formulaire.contenu, "Contenu du ticket : ", {'label_attr': {'class': 'label'}}) }}

            {{ form_widget(formulaire.contenu, {'attr': {'class': 'textArea'}}) }}

            {{ form_errors(formulaire.contenu) }}

        </div>

        <p id="submitFormulaireNews">

            {{ form_widget(formulaire.valider, {'attr': {'class': 'boutonFormulaire'}}) }}

            {{ form_end(formulaire) }}

        </p>

    </div>

{% endblock %}{# empty Twig template #}
