{% extends "::layout.html.twig" %}

{% block titrePage %} Administration assistant d'affaires {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block contenu %}

    <div class="sousMessageAcceuil">
        <h4> Profils : </h4>
    </div>

    <div id='DivFormulaireAjoutProfil'>

        {{ form_start(formAjoutProfil, {'attr': {'class': 'formulaireAdministrationAjoutProfil'}}) }}
        {{ form_errors(formAjoutProfil) }}

        <fieldset>

            <legend><span>Ajouter un profil</span></legend>

            {{ form_label(formAjoutProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationAjoutProfil'}}) }}
            {{ form_errors(formAjoutProfil.Nom) }}
            {{ form_widget(formAjoutProfil.Nom, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil'}}) }}

            {{ form_widget(formAjoutProfil._token) }}

            {{ form_widget(formAjoutProfil.Ajouter, {'attr': {'class': 'submitFormulaireAdministrationAjoutProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formAjoutProfil) }}

    </div>

    <div id='DivFormulaireSuppressionProfil'>

        {{ form_start(formSuppresionProfil, {'attr': {'class': 'formulaireAdministrationSuppressionProfil'}}) }}
        {{ form_errors(formSuppresionProfil) }}

        <fieldset>

            <legend><span>Supprimer un profil</span></legend>

            {{ form_label(formSuppresionProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationSuppressionProfil'}}) }}
            {{ form_errors(formSuppresionProfil.Nom) }}
            {{ form_widget(formSuppresionProfil.Nom, {'attr': {'class': 'selectFormulaireAdministrationSuppressionProfil'}}) }}

            {{ form_widget(formSuppresionProfil._token) }}

            {{ form_widget(formSuppresionProfil.Supprimer, {'attr': {'class': 'submitFormulaireAdministrationSuppressionProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset> 

        {{ form_end(formSuppresionProfil) }}

    </div>


    <div class="sousMessageAcceuil">
        <h4> Feuilles de suivis : </h4>
    </div>

    <div class='DivFormulaireAjoutFichier'>

        {{ form_start(formAjoutFichier, {'attr': {'class': 'formulaireAjoutFichier'}}) }}
        {{ form_errors(formAjoutFichier) }}

        <fieldset>

            <legend><span>Ajouter un fichier</span></legend>

            <p>
                {{ form_errors(formAjoutFichier.file) }}
                {{ form_widget(formAjoutFichier.file, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}

                {{ form_widget(formAjoutFichier._token) }} <br /><br />

                {{ form_widget(formAjoutFichier.Ajouter, {'attr': {'class': 'submitFormulaireAjoutFichier', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutFichier) }}

    </div>


    <div class="sousMessageAcceuil">
        <h4> Champs : </h4>
    </div>

    <div class='DivFormulaireAjoutFormulaire'>

        {{ form_start(formAjoutFormulaire, {'attr': {'class': 'formulaireAjoutFormulaire'}}) }}
        {{ form_errors(formAjoutFormulaire) }}

        <fieldset>

            <legend><span>Editer un fichier</span></legend>

            <p>
                {{ form_label(formAjoutFormulaire.Type, "Fichier :", {'label_attr': {'class': 'labelFormulaireAjoutFormulaire'}}) }}
                {{ form_errors(formAjoutFormulaire.Type) }}
                {{ form_widget(formAjoutFormulaire.Type, {'attr': {'class': 'selectFormulaireAjoutFormulaire'}}) }}

                {{ form_widget(formAjoutFormulaire._token) }}

                {{ form_widget(formAjoutFormulaire.Editer, {'attr': {'class': 'submitFormulaireAjoutFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutFormulaire) }}

    </div>

{% endblock %}
