{% extends "::layout.html.twig" %}

{% block titrePage %} Edition de champ {% endblock %}

{% block messageAccueil %}Edition de champ - {{ champ }}{% endblock %}

{% block contenu %}

    <div class='DivFormulaireAjoutDonnee'>

        {{ form_start(formAjoutDonnee, {'attr': {'class': 'formulaireAjoutDonnee'}}) }}
        {{ form_errors(formAjoutDonnee) }}

        <fieldset>

            <legend>Ajouter une donnée</legend>       

            <p style="margin: 0;">
                <label for='addDonneeName' style='display: inline-block; width: 100%; text-align: center; margin-top: 2%;'>Données</label><br />
                <input type='text' name='addProfilName'  style='width: 30%; margin: 0; margin-bottom: 1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; text-align: center;'><button type='button' name='addDonnee' class='boutonFormulaire' style='width: 9%; margin-left: 1%;'>+</button><br />
                {{ form_errors(formAjoutDonnee.Donnees) }}
                {{ form_widget(formAjoutDonnee.Donnees, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil', 'size': '15', 'style': 'width: 40%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;' }}) }}<br />
                <button name='deleteDonnee' type='button' class='boutonFormulaire' style='width: 40%; font-size: 0.8vw; margin-top: 1%;'>Supprimer</button>
            </p>

        </fieldset> 

        {{ form_end(formAjoutDonnee) }}

    </div>

{% endblock %}
