{% extends "::layout.html.twig" %}

{% block titrePage %} Administration assistant d'affaires {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block contenu %}

    <div class="titreFormulaireAA" onclick="
            assistantAffaireToggle([
                $('#DivFormulaireAjoutProfil'),
                $('#DivFormulaireSuppressionProfil')
            ], $(this));">
        <h4> Profils <img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='formulaireAAImg'><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='formulaireAAImgDown'></h4>
    </div>

    <div id='DivFormulaireAjoutProfil' class='formulaireAA'>

        {{ form_start(formAjoutProfil, {'attr': {'class': 'formulaireAdministrationAjoutProfil'}}) }}
        {{ form_errors(formAjoutProfil) }}

        <fieldset>

            <legend>Ajouter un profil</legend>

            {{ form_label(formAjoutProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationAjoutProfil'}}) }}
            {{ form_errors(formAjoutProfil.Nom) }}
            {{ form_widget(formAjoutProfil.Nom, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil'}}) }}

            {{ form_widget(formAjoutProfil._token) }}

            {{ form_widget(formAjoutProfil.Ajouter, {'attr': {'class': 'submitFormulaireAdministrationAjoutProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formAjoutProfil) }}

    </div>

    <div id='DivFormulaireSuppressionProfil' class='formulaireAA'>

        {{ form_start(formSuppresionProfil, {'attr': {'class': 'formulaireAdministrationSuppressionProfil'}}) }}
        {{ form_errors(formSuppresionProfil) }}

        <fieldset>

            <legend>Supprimer un profil</legend>

            {{ form_label(formSuppresionProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationSuppressionProfil'}}) }}
            {{ form_errors(formSuppresionProfil.Nom) }}
            {{ form_widget(formSuppresionProfil.Nom, {'attr': {'class': 'selectFormulaireAdministrationSuppressionProfil'}}) }}

            {{ form_widget(formSuppresionProfil._token) }}

            {{ form_widget(formSuppresionProfil.Supprimer, {'attr': {'class': 'submitFormulaireAdministrationSuppressionProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset> 

        {{ form_end(formSuppresionProfil) }}

    </div>

    <div class="titreFormulaireAA" onclick="
            assistantAffaireToggle([
                $('.DivFormulaireAjoutChamp'),
                $('.DivFormulaireSuppressionChamp'),
                $('.DivFormulaireSelectionChamp')
            ], $(this));
            resizeFormLabelAndData($('.labelFormulaireAjoutChamp'), $('.champFormulaireAjoutChamp'), $('.formulaireAjoutChamp p:nth-child(2)'));
         ">
        <h4> Champs <img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='formulaireAAImg'><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='formulaireAAImgDown'> </h4>
    </div>

    <div class='DivFormulaireAjoutChamp formulaireAA'>

        {{ form_start(formAjoutChamp, {'attr': {'class': 'formulaireAjoutChamp'}}) }}
        {{ form_errors(formAjoutChamp) }}

        <fieldset>

            <legend><p>Ajouter un champ</p></legend>

            <p>
                {{ form_label(formAjoutChamp.Type, "Type :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Type) }}
                {{ form_widget(formAjoutChamp.Type, {'attr': {'class': 'selectFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                <br />

                {{ form_widget(formAjoutChamp._token) }}

                {{ form_label(formAjoutChamp.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Nom) }}
                {{ form_widget(formAjoutChamp.Nom, {'attr': {'class': 'texteFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                <br />

                {{ form_label(formAjoutChamp.AjoutDonnees, "Permettre l'ajout de donnée supplémentaire par l'utilisateur") }}
                {{ form_errors(formAjoutChamp.AjoutDonnees) }}
                {{ form_widget(formAjoutChamp.AjoutDonnees, {'attr': {'class': 'checkboxFormulaireAjoutChamp' }}) }}

                <br />

                {{ form_label(formAjoutChamp.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Profil) }}
                {{ form_widget(formAjoutChamp.Profil, {'attr': {'class': 'selectFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                <br />

                {{ form_widget(formAjoutChamp.Ajouter, {'attr': {'class': 'submitFormulaireAjoutChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutChamp) }}

    </div>

    <div class='DivFormulaireSuppressionChamp formulaireAA'>

        {{ form_start(formSuppressionChamp, {'attr': {'class': 'formulaireSuppressionChamp'}}) }}
        {{ form_errors(formSuppressionChamp) }}

        <fieldset>

            <legend>Supprimer un champ</legend>       

            <p>
                {{ form_label(formSuppressionChamp.Nom, "Nom - Type - Profil", {'label_attr': {'class': 'labelFormulaireSuppressionChamp'}}) }} <br />
                {{ form_errors(formSuppressionChamp.Nom) }}
                {{ form_widget(formSuppressionChamp.Nom, {'attr': {'class': 'selectFormulaireSuppressionChamp' }}) }}
            </p>

            <p>
                {{ form_widget(formSuppressionChamp._token) }} 

                {{ form_widget(formSuppressionChamp.Supprimer, {'attr': {'class': 'submitFormulaireSuppressionChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formSuppressionChamp) }}

    </div>

    <div class='DivFormulaireSelectionChamp formulaireAA'>

        {{ form_start(formSelectionChamp, {'attr': {'class': 'formulaireSelectionChamp'}}) }}
        {{ form_errors(formSelectionChamp) }}

        <fieldset>

            <legend>Editer un champ de données</legend>       

            <p>
                {{ form_label(formSelectionChamp.Champs, "Champ :", {'label_attr': {'class': 'labelFormulaireSelectionChamp'}}) }}
                {{ form_errors(formSelectionChamp.Champs) }}
                {{ form_widget(formSelectionChamp.Champs, {'attr': {'class': 'selectFormulaireSelectionChamp' }}) }}
            </p>

            <p>
                {{ form_widget(formSelectionChamp._token) }} 

                {{ form_widget(formSelectionChamp.Editer, {'attr': {'class': 'submitFormulaireSelectionChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formSelectionChamp) }}

    </div>

    <div id="DivFormulaireAAModele" class="titreFormulaireAA" onclick="
            assistantAffaireToggle([
                $('#DivFormulaireSelectionDossier'),
                $('#DivFormulaireSelectionVersion'),
                $('.DivFormulaireAjoutFichier')
            ], $(this));
            Recherche('.selectFormulaireSelectionVersion');">
        <h4> Modèles <img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Right-32.png') }}' class='formulaireAAImg'><img src='{{ asset('bundles/noxintranetadministration/images/Arrow-Down-32.png') }}' class='formulaireAAImgDown'> </h4>
    </div>

    <div class='DivFormulaireAjoutFichier formulaireAA'>

        {{ form_start(formAjoutFichier, {'attr': {'class': 'formulaireAjoutFichier'}}) }}
        {{ form_errors(formAjoutFichier) }}

        <fieldset>

            <p>
                {{ form_label(formAjoutFichier.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutFichier'}}) }}
                {{ form_errors(formAjoutFichier.Profil) }}
                {{ form_widget(formAjoutFichier.Profil, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}
            </p>

            <legend>Ajouter un fichier</legend>

            <p>
                {{ form_errors(formAjoutFichier.file) }}
                {{ form_widget(formAjoutFichier.file, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}

                {{ form_widget(formAjoutFichier._token) }} <br /><br />

                {{ form_widget(formAjoutFichier.Ajouter, {'attr': {'class': 'submitFormulaireAjoutFichier', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutFichier) }}

    </div>

    <div id='DivFormulaireSelectionDossier' class="formulaireAA">

        {{ form_start(formSelectionDossier, {'attr': {'class': 'formulaireSelectionDossier'}}) }}
        {{ form_errors(formSelectionDossier) }}

        <fieldset>

            <legend>Profil</legend>

            {{ form_label(formSelectionDossier.profil, "Selection du profil :", {'label_attr': {'class': 'labelFormulaireSelectionDossier'}}) }}
            {{ form_errors(formSelectionDossier.profil) }}
            {{ form_widget(formSelectionDossier.profil, {'attr': {'class': 'selectFormulaireSelectionDossier'}}) }}

        </fieldset>

        {{ form_end(formSelectionDossier) }}

    </div>

    <div id='DivFormulaireSelectionVersion' class="formulaireAA">
        {{ form_start(formSelectionVersion, {'attr': {'class': 'formulaireSelectionVersion'}}) }}
        {{ form_errors(formSelectionVersion) }}

        <fieldset>

            <legend>Selection du modèle</legend>

            <p>
                <label for="rechercehSuivi">Recherche</label>
                <input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi"/>
                {{ form_errors(formSelectionVersion.Suivi) }}
                {{ form_widget(formSelectionVersion.Suivi, {'attr': {'class': 'selectFormulaireSelectionVersion', 'size': 15}}) }}
            </p>

            {{ form_widget(formSelectionVersion._token) }}

            <p>
                {{ form_widget(formSelectionVersion.Editer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
                {{ form_widget(formSelectionVersion.Supprimer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
            </p>

        </fieldset>

        {{ form_end(formSelectionVersion) }}

        <script>
            var request;
            var request2;
            $("#formSelectionDossier_profil").change(function () {
                getModelesByProfil();
            });
            $("#rechercehSuivi").on("keyup paste input", function () {
                getModelesByProfilAndName();
            });

            function getModelesByProfil() {

                if (typeof request !== 'undefined') {
                    request.abort();
                }
                $("#rechercehSuivi").val('');
                $('#formSelectionVersion_Suivi').find("option").remove();
                $('#formSelectionVersion_Suivi').css('background', "white url('http://" + window.location.hostname + "{{ asset('bundles/noxintranetressources/images/loading.gif') }}" + "') no-repeat center");
                $('#formSelectionVersion_Suivi').css('background-size', '50%');
                request = $.ajax({
                    //On lui indique le type d'envoie des informations

                    type: 'POST',
                    //On lui indique le chemin de la fonction

                    url: '{{ path('nox_intranet_administration_affaires_ajax_get_modele_by_profil') }}',
                    //On lui donne la valeur du choix qu'on a fait, et id est la variable qui va contenir notre valeur, nous la retrouvons dans notre controller

                    data: 'profil=' + $("#formSelectionDossier_profil").val(),
                    //Enfin nous lui disons de remplir notre formulaire avec le resultat  

                    success: function (response) {

                        $('#formSelectionVersion_Suivi').css('background', 'white');
                        if (response.length !== 0) {
                            $.each(response, function (i, item) {
                                $('#formSelectionVersion_Suivi').append(new Option(item, i));
                            });
                            $('#formSelectionVersion_Suivi option:nth-child(even)').css('background', 'SeaShell');
                            $('#formSelectionVersion_Suivi option').each(function () {
                                $(this).attr('title', $(this).text());
                            });
                            $('#formSelectionVersion_Suivi').removeAttr('disabled');
                            $('#formSelectionVersion_Editer').removeAttr('disabled');
                            $('#formSelectionVersion_Supprimer').removeAttr('disabled');
                        } else {
                            $('#formSelectionVersion_Suivi').attr('disabled', 'disabled');
                            $('#formSelectionVersion_Editer').attr('disabled', 'disabled');
                            $('#formSelectionVersion_Supprimer').attr('disabled', 'disabled');
                        }
                    }
                });
            }
            function getModelesByProfilAndName() {

                if (typeof request2 !== 'undefined') {
                    request2.abort();
                }
                $('#formSelectionVersion_Suivi').find("option").remove();
                $('#formSelectionVersion_Suivi').css('background', "white url('http://" + window.location.hostname + "{{ asset('bundles/noxintranetressources/images/loading.gif') }}" + "') no-repeat center");
                $('#formSelectionVersion_Suivi').css('background-size', '50%');
                request2 = $.ajax({
                    //On lui indique le type d'envoie des informations

                    type: 'POST',
                    //On lui indique le chemin de la fonction

                    url: '{{ path('nox_intranet_administration_affaires_ajax_get_modele_by_profil_and_name') }}',
                    //On lui donne la valeur du choix qu'on a fait, et id est la variable qui va contenir notre valeur, nous la retrouvons dans notre controller

                    data: {profil: $("#formSelectionDossier_profil").val(), nom: $("#rechercehSuivi").val()},
                    //Enfin nous lui disons de remplir notre formulaire avec le resultat  

                    success: function (response) {

                        $('#formSelectionVersion_Suivi').css('background', 'white');
                        if (response.length !== 0) {
                            $.each(response, function (i, item) {
                                $('#formSelectionVersion_Suivi').append(new Option(item, i));
                            });
                            $('#formSelectionVersion_Suivi option:nth-child(even)').css('background', 'SeaShell');
                            $('#formSelectionVersion_Suivi option').each(function () {
                                $(this).attr('title', $(this).text());
                            });
                            $('#formSelectionVersion_Suivi').removeAttr('disabled');
                            $('#formSelectionVersion_Editer').removeAttr('disabled');
                            $('#formSelectionVersion_Supprimer').removeAttr('disabled');
                        } else {
                            $('#formSelectionVersion_Suivi').attr('disabled', 'disabled');
                            $('#formSelectionVersion_Editer').attr('disabled', 'disabled');
                            $('#formSelectionVersion_Supprimer').attr('disabled', 'disabled');
                        }
                    }
                }
                );
            }
        </script>

    </div>

{% endblock %}
