{% extends "::layout.html.twig" %}

{% block titrePage %} Administration assistant d'affaires {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block contenu %}

    <div class="sousMessageAcceuil">
        <h4> Profils : </h4>
    </div>

    <div id='DivFormulaireAjoutProfil'>

        {{ form_start(formAjoutProfil, {'attr': {'class': 'formulaireAdministrationAjoutProfil'}}) }}
        {{ form_errors(formAjoutProfil) }}

        <fieldset>

            <legend>Ajouter un profil</legend>

            {{ form_label(formAjoutProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationAjoutProfil'}}) }}
            {{ form_errors(formAjoutProfil.Nom) }}
            {{ form_widget(formAjoutProfil.Nom, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil'}}) }}

            {{ form_widget(formAjoutProfil._token) }}

            {{ form_widget(formAjoutProfil.Ajouter, {'attr': {'class': 'submitFormulaireAdministrationAjoutProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formAjoutProfil) }}

    </div>

    <div id='DivFormulaireSuppressionProfil'>

        {{ form_start(formSuppresionProfil, {'attr': {'class': 'formulaireAdministrationSuppressionProfil'}}) }}
        {{ form_errors(formSuppresionProfil) }}

        <fieldset>

            <legend>Supprimer un profil</legend>

            {{ form_label(formSuppresionProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationSuppressionProfil'}}) }}
            {{ form_errors(formSuppresionProfil.Nom) }}
            {{ form_widget(formSuppresionProfil.Nom, {'attr': {'class': 'selectFormulaireAdministrationSuppressionProfil'}}) }}

            {{ form_widget(formSuppresionProfil._token) }}

            {{ form_widget(formSuppresionProfil.Supprimer, {'attr': {'class': 'submitFormulaireAdministrationSuppressionProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset> 

        {{ form_end(formSuppresionProfil) }}

    </div>


    <div class="sousMessageAcceuil">
        <h4> Feuilles de modèle : </h4>
    </div>

    <div class='DivFormulaireAjoutFichier'>

        {{ form_start(formAjoutFichier, {'attr': {'class': 'formulaireAjoutFichier'}}) }}
        {{ form_errors(formAjoutFichier) }}

        <fieldset>

            <p>
                {{ form_label(formAjoutFichier.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutFichier'}}) }}
                {{ form_errors(formAjoutFichier.Profil) }}
                {{ form_widget(formAjoutFichier.Profil, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}
            </p>

            <legend>Ajouter un fichier</legend>

            <p>
                {{ form_errors(formAjoutFichier.file) }}
                {{ form_widget(formAjoutFichier.file, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}

                {{ form_widget(formAjoutFichier._token) }} <br /><br />

                {{ form_widget(formAjoutFichier.Ajouter, {'attr': {'class': 'submitFormulaireAjoutFichier', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutFichier) }}

    </div>

    <div class="sousMessageAcceuil">
        <h4> Champs : </h4>
    </div>

    <div class='DivFormulaireAjoutChamp'>

        {{ form_start(formAjoutChamp, {'attr': {'class': 'formulaireAjoutChamp'}}) }}
        {{ form_errors(formAjoutChamp) }}

        <fieldset>

            <legend>Ajouter un champ</legend>

            <p>
                {{ form_label(formAjoutChamp.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Nom) }}
                {{ form_widget(formAjoutChamp.Nom, {'attr': {'class': 'texteFormulaireAjoutChamp' }}) }}
            </p>

            <p>
                {{ form_label(formAjoutChamp.Type, "Type :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Type) }}
                {{ form_widget(formAjoutChamp.Type, {'attr': {'class': 'selectFormulaireAjoutChamp' }}) }}

                {{ form_widget(formAjoutChamp._token) }}
            </p>

            <p>
                {{ form_label(formAjoutChamp.AjoutDonnees, "Permettre l'ajout de donnée supplémentaire par l'utilisateur", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.AjoutDonnees) }}
                {{ form_widget(formAjoutChamp.AjoutDonnees, {'attr': {'class': 'checkboxFormulaireAjoutChamp' }}) }}
            </p>

            <p>
                {{ form_label(formAjoutChamp.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                {{ form_errors(formAjoutChamp.Profil) }}
                {{ form_widget(formAjoutChamp.Profil, {'attr': {'class': 'selectFormulaireAjoutChamp' }}) }}

                {{ form_widget(formAjoutChamp._token) }}
            </p>

            <p>
                {{ form_widget(formAjoutChamp.Ajouter, {'attr': {'class': 'submitFormulaireAjoutChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutChamp) }}

    </div>

    <div class='DivFormulaireSuppressionChamp'>

        {{ form_start(formSuppressionChamp, {'attr': {'class': 'formulaireSuppressionChamp'}}) }}
        {{ form_errors(formSuppressionChamp) }}

        <fieldset>

            <legend>Supprimer un champ</legend>       

            <p>
                {{ form_label(formSuppressionChamp.Nom, "Nom - Type - Profil", {'label_attr': {'class': 'labelFormulaireSuppressionChamp'}}) }} <br />
                {{ form_errors(formSuppressionChamp.Nom) }}
                {{ form_widget(formSuppressionChamp.Nom, {'attr': {'class': 'selectFormulaireSuppressionChamp' }}) }}
            </p>

            <p>
                {{ form_widget(formSuppressionChamp._token) }} 

                {{ form_widget(formSuppressionChamp.Supprimer, {'attr': {'class': 'submitFormulaireSuppressionChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formSuppressionChamp) }}

    </div>

    <div class='DivFormulaireSelectionChamp'>

        {{ form_start(formSelectionChamp, {'attr': {'class': 'formulaireSelectionChamp'}}) }}
        {{ form_errors(formSelectionChamp) }}

        <fieldset>

            <legend>Editer un champ de données</legend>       

            <p>
                {{ form_label(formSelectionChamp.Champs, "Champ :", {'label_attr': {'class': 'labelFormulaireSelectionChamp'}}) }}
                {{ form_errors(formSelectionChamp.Champs) }}
                {{ form_widget(formSelectionChamp.Champs, {'attr': {'class': 'selectFormulaireSelectionChamp' }}) }}
            </p>

            <p>
                {{ form_widget(formSelectionChamp._token) }} 

                {{ form_widget(formSelectionChamp.Editer, {'attr': {'class': 'submitFormulaireSelectionChamp', 'class': 'boutonFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formSelectionChamp) }}

    </div>

    <div class="sousMessageAcceuil">
        <h4> Modèles : </h4>
    </div>

    <div id='DivFormulaireSelectionDossier'>

        {{ form_start(formSelectionDossier, {'attr': {'class': 'formulaireSelectionDossier'}}) }}
        {{ form_errors(formSelectionDossier) }}

        <fieldset>

            <legend>Profil</legend>

            {{ form_label(formSelectionDossier.profil, "Selection du profil :", {'label_attr': {'class': 'labelFormulaireSelectionDossier'}}) }}
            {{ form_errors(formSelectionDossier.profil) }}
            {{ form_widget(formSelectionDossier.profil, {'attr': {'class': 'selectFormulaireSelectionDossier'}}) }}

        </fieldset>

        {{ form_end(formSelectionDossier) }}

    </div>

    <div id='DivFormulaireSelectionVersion'>
        {{ form_start(formSelectionVersion, {'attr': {'class': 'formulaireSelectionVersion'}}) }}
        {{ form_errors(formSelectionVersion) }}

        <fieldset>

            <legend>Selection du modèle</legend>

            <p>
                <label for="rechercehSuivi">Recherche</label>
                <input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi"/>
                {{ form_errors(formSelectionVersion.Suivi) }}
                {{ form_widget(formSelectionVersion.Suivi, {'attr': {'class': 'selectFormulaireSelectionVersion', 'size': 15}}) }}
            </p>

            {{ form_widget(formSelectionVersion._token) }}

            <p>
                {{ form_widget(formSelectionVersion.Editer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
                {{ form_widget(formSelectionVersion.Supprimer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
            </p>

        </fieldset>

        {{ form_end(formSelectionVersion) }}

    </div>

{% endblock %}
