{% extends "::layout.html.twig" %}

{% block titrePage %} Administration assistant d'affaires {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block contenu %}

    <div class="sousMessageAcceuil">
        <h4> Profils : </h4>
    </div>

    <div id='DivFormulaireAjoutProfil'>

        {{ form_start(formAjoutProfil, {'attr': {'class': 'formulaireAdministrationAjoutProfil'}}) }}
        {{ form_errors(formAjoutProfil) }}

        <fieldset>

            <legend><span>Ajouter un profil</span></legend>

            {{ form_label(formAjoutProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationAjoutProfil'}}) }}
            {{ form_errors(formAjoutProfil.Nom) }}
            {{ form_widget(formAjoutProfil.Nom, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil'}}) }}

            {{ form_widget(formAjoutProfil._token) }}

            {{ form_widget(formAjoutProfil.Ajouter, {'attr': {'class': 'submitFormulaireAdministrationAjoutProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset>

        {{ form_end(formAjoutProfil) }}

    </div>

    <div id='DivFormulaireSuppressionProfil'>

        {{ form_start(formSuppresionProfil, {'attr': {'class': 'formulaireAdministrationSuppressionProfil'}}) }}
        {{ form_errors(formSuppresionProfil) }}

        <fieldset>

            <legend><span>Supprimer un profil</span></legend>

            {{ form_label(formSuppresionProfil.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationSuppressionProfil'}}) }}
            {{ form_errors(formSuppresionProfil.Nom) }}
            {{ form_widget(formSuppresionProfil.Nom, {'attr': {'class': 'selectFormulaireAdministrationSuppressionProfil'}}) }}

            {{ form_widget(formSuppresionProfil._token) }}

            {{ form_widget(formSuppresionProfil.Supprimer, {'attr': {'class': 'submitFormulaireAdministrationSuppressionProfil', 'class': 'boutonFormulaire' }}) }}

        </fieldset> 

        {{ form_end(formSuppresionProfil) }}

    </div>


    <div class="sousMessageAcceuil">
        <h4> Feuilles de suivis : </h4>
    </div>

    <div class='DivAjoutFeuilleSuivi'>
        <form class='formulaireAjoutFeuilleSuivi'>
            <fieldset>
                <legend><span> Gestionnaire de feuilles de suivis </span></legend>
                <p> <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/feuillesSuivis', 'Gestionnaire de fichiers - Feuilles de suivis');"> Ajout/Supression de feuilles de suivis </a> </p>
            </fieldset>
        </form>
    </div>


    <div class="sousMessageAcceuil">
        <h4> Champs : </h4>
    </div>

    <div class='DivFormulaireAjoutFormulaire'>

        {{ form_start(formAjoutFormulaire, {'attr': {'class': 'formulaireAjoutFormulaire'}}) }}
        {{ form_errors(formAjoutFormulaire) }}

        <fieldset>

            <legend><span>Editer un fichier</span></legend>

            <p>
                {{ form_label(formAjoutFormulaire.Type, "Fichier :", {'label_attr': {'class': 'labelFormulaireAjoutFormulaire'}}) }}
                {{ form_errors(formAjoutFormulaire.Type) }}
                {{ form_widget(formAjoutFormulaire.Type, {'attr': {'class': 'selectFormulaireAjoutFormulaire'}}) }}

                {{ form_widget(formAjoutFormulaire._token) }}

                {{ form_widget(formAjoutFormulaire.Editer, {'attr': {'class': 'submitFormulaireAjoutFormulaire' }}) }}
            </p>

        </fieldset> 

        {{ form_end(formAjoutFormulaire) }}

    </div>

    <!--
    <div class='DivFormulaireSuppressionFormulaire'>

    {{ form_start(formSuppressionFormulaire, {'attr': {'class': 'formulaireAdministrationSuppressionFormulaire'}}) }}
    {{ form_errors(formSuppressionFormulaire) }}

    <fieldset>

        <legend><span>Supprimer un Champ</span></legend>

    {{ form_label(formSuppressionFormulaire.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAdministrationSuppressionFormulaire'}}) }}
    {{ form_errors(formSuppressionFormulaire.Nom) }}
    {{ form_widget(formSuppressionFormulaire.Nom, {'attr': {'class': 'selectFormulaireAdministrationSuppressionFormulaire'}}) }}

    {{ form_widget(formSuppressionFormulaire._token) }}

    {{ form_widget(formSuppressionFormulaire.Supprimer, {'attr': {'class': 'submitFormulaireAdministrationSuppressionFormulaire', 'class': 'boutonFormulaire' }}) }}

</fieldset> 

    {{ form_end(formSuppressionFormulaire) }}

</div>
    -->

{% endblock %}
