{% extends "::layout.html.twig" %}

{% block titrePage %} Administration assistant d'affaires {% endblock %}

{% block messageAccueil %}Administration assistant d'affaires{% endblock %}

{% block contenu %}

    <div id="DivChoixActionInfo" style='width: 70%; margin: auto; text-align: center; margin-bottom: 2%;'>
        <div style='display: inline-block; width: 33.33%; text-align: center;'>
            <button type="button" name='profils' class='boutonFormulaire' style='font-size: 0.9vw;'>Profils</button>
        </div><!--
        --><div style='display: inline-block; width: 33.33%; text-align: center;'>
            <button type="button" name='champs' class='boutonFormulaire' style='font-size: 0.9vw;'>Champs</button>
        </div><!--
        --><div style='display: inline-block; width: 33.33%; text-align: center;'>
            <button type="button" name='modeles' class='boutonFormulaire' style='font-size: 0.9vw;'>Modèles</button>
        </div>
    </div>

    <div id='DivProfils' style='display: none; width: 70%; margin: auto;'>

        {{ form_start(formProfils, {'attr': {'class': 'formulaireAdministrationAjoutProfil'}}) }}
        {{ form_errors(formProfils) }}

        <fieldset>

            <legend>Ajouter un profil</legend>

            <p style="margin: 0;">
                <label for='addProfilName' style='display: inline-block; width: 100%; text-align: center; margin-top: 2%;'>Profils</label><br />
                <input type='text' name='addProfilName'  style='width: 30%; margin: 0; margin-bottom: 1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; text-align: center;'><button type='button' name='addProfil' class='boutonFormulaire' style='width: 9%; margin-left: 1%;'>+</button><br />
                {{ form_errors(formProfils.Profils) }}
                {{ form_widget(formProfils.Profils, {'attr': {'class': 'textFormulaireAdministrationAjoutProfil', 'size': '15', 'style': 'width: 40%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;' }}) }}<br />
                <button name='deleteProfil' type='button' class='boutonFormulaire' style='width: 40%; font-size: 0.8vw; margin-top: 1%;'>Supprimer</button>
            </p>

        </fieldset>

        {{ form_end(formProfils) }}

    </div>

    <div id='DivChamps' style='display: none;'>

        <div class='DivFormulaireAjoutChamp formulaireAA'>

            {{ form_start(formAjoutChamp, {'attr': {'class': 'formulaireAjoutChamp'}}) }}
            {{ form_errors(formAjoutChamp) }}

            <fieldset>

                <legend>Ajouter un champ</legend>

                <div style='width: 70%; margin: auto;'>
                    {{ form_label(formAjoutChamp.Type, "Type :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                    {{ form_errors(formAjoutChamp.Type) }}
                    {{ form_widget(formAjoutChamp.Type, {'attr': {'class': 'selectFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                    <br />

                    {{ form_widget(formAjoutChamp._token) }}

                    {{ form_label(formAjoutChamp.Nom, "Nom :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                    {{ form_errors(formAjoutChamp.Nom) }}
                    {{ form_widget(formAjoutChamp.Nom, {'attr': {'class': 'texteFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                    <br />

                    <div style='display: none; vertical-align: middle; margin: 1% 0% 2% 0%;'>
                        <span style='display: inline-block; width: 90%; vertical-align: middle;'> 
                            {{ form_label(formAjoutChamp.AjoutDonnees, "Permettre l'ajout de donnée supplémentaire par l'utilisateur") }}
                            {{ form_errors(formAjoutChamp.AjoutDonnees) }}
                        </span><!--
                        --><span style='display: inline-block; width: 10%; vertical-align: middle;'>
                            {{ form_widget(formAjoutChamp.AjoutDonnees, {'attr': {'class': 'checkboxFormulaireAjoutChamp' }}) }}
                        </span>
                    </div>

                    {{ form_label(formAjoutChamp.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutChamp'}}) }}
                    {{ form_errors(formAjoutChamp.Profil) }}
                    {{ form_widget(formAjoutChamp.Profil, {'attr': {'class': 'selectFormulaireAjoutChamp champFormulaireAjoutChamp' }}) }}

                    <br />

                    {{ form_widget(formAjoutChamp.Ajouter, {'attr': {'class': 'submitFormulaireAjoutChamp', 'class': 'boutonFormulaire', 'style': 'margin-top: 1%;' }}) }}
                </div>

            </fieldset> 

            {{ form_end(formAjoutChamp) }}

        </div>

        <div class='DivFormulaireSuppressionChamp formulaireAA'>

            {{ form_start(formSuppressionChamp, {'attr': {'class': 'formulaireSuppressionChamp'}}) }}
            {{ form_errors(formSuppressionChamp) }}

            <fieldset>

                <legend>Supprimer un champ</legend>       

                <p style="width: 70%; margin: auto;">
                    {{ form_label(formSuppressionChamp.Nom, "Nom - Type - Profil", {'label_attr': {'class': 'labelFormulaireSuppressionChamp'}}) }} <br />
                    {{ form_errors(formSuppressionChamp.Nom) }}
                    {{ form_widget(formSuppressionChamp.Nom, {'attr': {'class': 'selectFormulaireSuppressionChamp' }}) }}
                </p>

                <p style="width: 70%; margin: auto; margin-top: 1%;">
                    {{ form_widget(formSuppressionChamp._token) }} 

                    {{ form_widget(formSuppressionChamp.Supprimer, {'attr': {'class': 'submitFormulaireSuppressionChamp', 'class': 'boutonFormulaire' }}) }}
                </p>

            </fieldset> 

            {{ form_end(formSuppressionChamp) }}

        </div>

        <div class='DivFormulaireSelectionChamp formulaireAA'>

            {{ form_start(formSelectionChamp, {'attr': {'class': 'formulaireSelectionChamp'}}) }}
            {{ form_errors(formSelectionChamp) }}

            <fieldset>

                <legend>Editer un champ de données</legend>       

                <p style="width: 70%; margin: auto;">
                    {{ form_label(formSelectionChamp.Champs, "Champ :", {'label_attr': {'class': 'labelFormulaireSelectionChamp'}}) }}
                    {{ form_errors(formSelectionChamp.Champs) }}
                    {{ form_widget(formSelectionChamp.Champs, {'attr': {'class': 'selectFormulaireSelectionChamp' }}) }}
                </p>

                <p style="width: 70%; margin: auto; margin-top: 1%;">
                    {{ form_widget(formSelectionChamp._token) }} 

                    {{ form_widget(formSelectionChamp.Editer, {'attr': {'class': 'submitFormulaireSelectionChamp', 'class': 'boutonFormulaire' }}) }}
                </p>

            </fieldset> 

            {{ form_end(formSelectionChamp) }}

        </div>

    </div>

    <div id='DivModeles' style='display: none;'>

        <div class='DivFormulaireAjoutFichier formulaireAA'>

            {{ form_start(formAjoutFichier, {'attr': {'class': 'formulaireAjoutFichier'}}) }}
            {{ form_errors(formAjoutFichier) }}

            <fieldset>

                <p>
                    {{ form_label(formAjoutFichier.Profil, "Profil :", {'label_attr': {'class': 'labelFormulaireAjoutFichier'}}) }}
                    {{ form_errors(formAjoutFichier.Profil) }}
                    {{ form_widget(formAjoutFichier.Profil, {'attr': {'class': 'fileFormulaireAjoutFichier' }}) }}
                </p>

                <legend>Ajouter un fichier</legend>

                <p>
                    {{ form_errors(formAjoutFichier.file) }}
                    {{ form_widget(formAjoutFichier.file, {'attr': {'class': 'fileFormulaireAjoutFichier', 'style': 'font-size: 0.8vw;' }}) }}

                    {{ form_widget(formAjoutFichier._token) }} <br /><br />

                    {{ form_widget(formAjoutFichier.Ajouter, {'attr': {'class': 'boutonFormulaire' }}) }}
                </p>

            </fieldset> 

            {{ form_end(formAjoutFichier) }}

        </div>

        <div id='DivFormulaireSelectionDossier' class="formulaireAA">

            {{ form_start(formSelectionDossier, {'attr': {'class': 'formulaireSelectionDossier'}}) }}
            {{ form_errors(formSelectionDossier) }}

            <fieldset>

                <legend>Profil</legend>

                {{ form_label(formSelectionDossier.profil, "Selection du profil :", {'label_attr': {'class': 'labelFormulaireSelectionDossier'}}) }}
                {{ form_errors(formSelectionDossier.profil) }}
                {{ form_widget(formSelectionDossier.profil, {'attr': {'class': 'selectFormulaireSelectionDossier'}}) }}

            </fieldset>

            {{ form_end(formSelectionDossier) }}

        </div>

        <div id='DivFormulaireSelectionVersion' class="formulaireAA">
            {{ form_start(formSelectionVersion, {'attr': {'class': 'formulaireSelectionVersion'}}) }}
            {{ form_errors(formSelectionVersion) }}

            <fieldset>

                <legend>Selection du modèle</legend>

                <p>
                    <label for="rechercheSuivi">Recherche</label>
                    <input placeholder="Ex : Ventes 2016" type="text" id="rechercheSuivi" style="width: 100%;"/>
                    {{ form_errors(formSelectionVersion.Suivi) }}
                    {{ form_widget(formSelectionVersion.Suivi, {'attr': {'class': 'selectFormulaireSelectionVersion', 'size': 15}}) }}
                </p>

                {{ form_widget(formSelectionVersion._token) }}

                <p>
                    {{ form_widget(formSelectionVersion.Editer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
                    {{ form_widget(formSelectionVersion.Supprimer, {'attr': {'class': 'submitFormulaireSelectionVersion' }}) }}
                </p>

            </fieldset>

            {{ form_end(formSelectionVersion) }}

        </div>

    </div>

    <script>

        $(window).load(function () {
            selectInterlocuteurAction();
            toggleCheckboxAjoutDonnees();
            searchSuivi('#rechercheSuivi', '.selectFormulaireSelectionVersion');
            ajaxAddProfil();
            ajaxDeleteProfil();
        });

        // Affiche/Cache les 'div' de profils/Champs/Modèles.
        function selectInterlocuteurAction() {
            // Lors d'un clique sur le bouton de profils.
            $("button[name='profils']").click(function () {
                $('#DivProfils').show(); // Affiche la 'div' de profils.
                $('#DivChamps').hide(); // Cache la 'div' de champs.
                $('#DivModeles').hide(); // Cache la 'div' de modèles.
            });
            // Lors d'un clique sur le bouton de champs.
            $("button[name='champs']").click(function () {
                $('#DivProfils').hide(); // Affiche la 'div' de profils.
                $('#DivChamps').show(); // Cache la 'div' de champs.
                $('#DivModeles').hide(); // Cache la 'div' de modèles.
            });
            // Lors d'un clique sur le bouton de modèles.
            $("button[name='modeles']").click(function () {
                $('#DivProfils').hide(); // Affiche la 'div' de profils.
                $('#DivChamps').hide(); // Cache la 'div' de champs.
                $('#DivModeles').show(); // Cache la 'div' de modèles.
            });
        }

        // Affiche cache la 'checkbox' d'ajout de données supplémentaire par l'utilisateur en fonction du type de champ séléctionné.
        function toggleCheckboxAjoutDonnees() {
            $('#formAjoutChamp_Type').change(function () {
                // Si le type de champ séléctioné est 'Données'.
                if ($('#formAjoutChamp_Type option:selected').text() === 'Données') {
                    $('#checkboxBR').remove();
                    $('#formAjoutChamp_AjoutDonnees').closest('div').after("<br id='checkboxBR'>");
                    $('#formAjoutChamp_AjoutDonnees').closest('div').css('display', 'inline-block');
                    $('#formAjoutChamp_AjoutDonnees').attr('required', 'required');
                }
                // Si le type de champ séléctioné n'est pas 'Données'.
                else {
                    $('#formAjoutChamp_AjoutDonnees').closest('div').hide();
                    $('#checkboxBR').remove();
                    $('#formAjoutChamp_AjoutDonnees').removeAttr('required');
                }
            });
        }

        // Affiche les suivis selon le nom recherché.
        function searchSuivi(champRecherche, selecteur) {

            // Initialisation d'un timer pour executer la fonction après 1 seconde sans frappe.
            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            // Lorsque une valeur est entré dans la barre de recherche.
            $(champRecherche).keyup(function () {
                typewatch(function () {
                    // Pour chaque résultat.
                    $(selecteur + ' option').each(function () {
                        // Si il ne correspond pas à la recherche...
                        if ($(this).text().search(new RegExp($(champRecherche).val(), 'i')) === -1) {
                            $(this).hide(); // ...On le cache.
                        }
                        // Si il correspond à la recherche.
                        else {
                            // On le montre et on lui donne son nom comme attribut 'title'.
                            $(this).show();
                            $(this).attr('title', $(this).text());
                        }
                    });
                    // On applique une couleur différente au résultat pair et impair.
                    $(selecteur + ' option:visible:odd').css('background', 'SeaShell');
                    $(selecteur + ' option:visible:even').css('background', 'white');
                }, 500);
            });
        }

        // Ajoute un profil.
        function ajaxAddProfil() {
            // Lors d'un clic sur le bouton d'ajout de N°Commande.
            $("button[name='addProfil']").click(function () {
                // Si le numéro de commande n'est pas vide.
                if ($.trim($("input[name='addProfilName']").val()).length > 0) {
                    // On change le contenu du bouton d'ajout de numéro de commande par un gif de chargement et on le désactive.
                    $("button[name='addProfil']").attr('disabled', true);
                    $("button[name='addProfil']").html('&nbsp;');
                    $("button[name='addProfil']").css({
                        'background-image': "url({{ asset('bundles/noxintranetressources/images/noCommandeTraitement.gif')}})",
                        'background-position': 'center center',
                        'background-repeat': 'no-repeat',
                        'background-size': 'auto 50%'
                    });
                    // On sauvegarde le numéro en base de donnée avec une fonction Ajax.        
                    $.ajax({
                        url: '{{ path('nox_intranet_administration_affaires_add_profil') }}',
                        type: 'POST',
                        data: {'profil': $("input[name='addProfilName']").val()},
                        success: function (response) {
                            // On change le contenu du bouton par celui d'origine et on le réactive.
                            $("button[name='addProfil']").removeAttr('disabled');
                            $("button[name='addProfil']").html('+');
                            $("button[name='addProfil']").css({
                                'background-image': "none",
                                'background-position': 'center center',
                                'background-repeat': 'no-repeat',
                                'background-size': 'auto 50%'
                            });
                            // Si le numéro d'affaire n'existe pas déjà.
                            if (response === 'true') {
                                // On fait apparaître le nouveau numéro dans le selecteur de numéros.
                                var newOption = $("<option value='" + $("input[name='addProfilName']").val() + "' style='text-align: center; background-color: green;'>" + $("input[name='addProfilName']").val() + "</option>");
                                $("select[name='formAjoutProfil[Profils]']").append(newOption);
                                // On scroll en bas du sélécteur de numéro.
                                $("select[name='formAjoutProfil[Profils]']").scrollTop($("select[name='formAjoutProfil[Profils]']")[0].scrollHeight);
                                // On anime la couleur de fond du nouveau numéro.
                                newOption.animate({
                                    backgroundColor: 'white'
                                }, 3000);
                                // On efface le contenue de nouveau numéro.
                                $("input[name='addProfilName']").val('');
                            }
                            // Si le numéro d'affaire existe déjà.
                            else {
                                // On efface le contenue de nouveau numéro et on affiche un message d'avertissement.
                                var messageErreur = $("<p style='display: inline-block; margin: 0% 0% 1% 0%; color: red;'>Le profil existe déjà !</p>");
                                $("label[for='addProfilName']").after(messageErreur);
                                setTimeout(function () {
                                    messageErreur.fadeOut(1000, function () {
                                        messageErreur.remove();
                                    });
                                }, 4000);
                                $("input[name='addProfilName']").val('');
                            }
                        }
                    });
                }
            });
        }

        // Supprime un profil.
        function ajaxDeleteProfil() {
            // Lors d'un clic sur le bouton de suppression de numéro de commande.
            $("button[name='deleteProfil']").click(function () {
                // Si une valeur est séléctionnée.
                if ($("select[name='noCommandeSelector']").val() !== null) {
                    // On change le contenu du bouton de suppression de numéro de commande par un gif de chargement et on le désactive.
                    $("button[name='deleteProfil']").attr('disabled', true);
                    $("button[name='deleteProfil']").html('&nbsp;');
                    $("button[name='deleteProfil']").css({
                        'background-image': "url({{ asset('bundles/noxintranetressources/images/noCommandeTraitement.gif')}})",
                        'background-position': 'center center',
                        'background-repeat': 'no-repeat',
                        'background-size': 'auto 50%'
                    });
                    // On supprime le numéro de la base de données avec une fonction Ajax.
                    $.ajax({
                        url: '{{ path('nox_intranet_administration_affaires_delete_profil') }}',
                        type: 'POST',
                        data: {'profil': $("select[name='formAjoutProfil[Profils]']").val()},
                        success: function () {
                            // On change le contenu du bouton par celui d'origine et on le réactive.
                            $("button[name='deleteProfil']").removeAttr('disabled');
                            $("button[name='deleteProfil']").html('Supprimer');
                            $("button[name='deleteProfil']").css({
                                'background-image': "none",
                                'background-position': 'center center',
                                'background-repeat': 'no-repeat',
                                'background-size': 'auto 50%'
                            });
                            // On efface le numéros de commande dans le sélécteur de numéro.
                            $("select[name='formAjoutProfil[Profils]'] option:selected").remove();
                        }
                    });

                }
            });
        }
    </script>

{% endblock %}
