{% extends "::layout.html.twig" %}

{% block titrePage %}
    Serveurs
{% endblock %}

{% block messageAccueil %}Serveurs{% endblock %}

{% block contenu %}

    <div id="divAdministrationAdmin">

        <table>

            <tr>
                <td> Agence </td>
                <td> Connexion </td>
                <td> Déconnexion </td>
            </tr>

            {% for serveur in serveurs %}


                <tr>
                    <td>
                        <p> {{ serveur.agence }} </p>
                    </td>
                    <td> 
                        <a class='lienArchive' href="{{ path('nox_intranet_serveur_download_script_connexion', { 'agence': serveur.agence }) }}" onclick="popupDownloadServeurConnexion();"> 
                            <img src="{{ asset('bundles/noxintranetressources/images/Connect-48.png') }}"> 
                        </a>
                    </td>
                    <td> 
                        <a class='lienArchive' href="{{ path('nox_intranet_serveur_download_script_deconnexion') }}" onclick="popupDownloadServeurDeconnexion();"> 
                            <img src="{{ asset('bundles/noxintranetressources/images/Disconnect-48.png') }}"> 
                        </a>
                    </td>
                </tr>

            {% endfor %}


        </table>

    </div>

</div>

{% endblock %}
