{% extends "::layout.html.twig" %}

{% block titrePage %}Evaluer un sous-traitants{% endblock %}

{% block messageAccueil %}Evaluer un sous-traitants{% endblock %}

{% block contenu %}
<div style='width: 70%; margin: auto;'>

        {{ form_start(formInfoEffectuerFicheEvaluationST, {'attr': {'style': 'text-align: center; background-color: rgba(255,255,255, 0.6);'}}) }}
        
        <table>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.NumAffaire, "Numéro de l'affaire") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.NumAffaire) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.IntituleAffaire, "Intitulé de l'affaire") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.IntituleAffaire) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.Agence, "Votre agence") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.Agence) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.NomST, "Nom du sous-traitant") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.NomST) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.DenominationSocialeST, "Dénomination sociale du sous-traitant") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.DenominationSocialeST) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.SiretST, "Siret du sous-traitant") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.SiretST) }}</td>
            </tr>
            <tr>
                <th>{{ form_label(formInfoEffectuerFicheEvaluationST.EmailCA, "Email du CA (chargé d'affaire)") }}</th>
                <td>{{ form_widget(formInfoEffectuerFicheEvaluationST.EmailCA) }}</td>
            </tr>
        </table>
        </br>
        {{ form_widget(formInfoEffectuerFicheEvaluationST.Valider, {'attr': {'class': 'boutonFormulaire', 'style': 'margin-top: 1%; padding: 2%;' }}) }}
        {{ form_end(formInfoEffectuerFicheEvaluationST) }}
    </div>
        
        
{% endblock %}
 