{% extends "::layout.html.twig" %}

{% block style %}
    <style>
        #form_fiche_evaluation_st_info_container {
            width: 70%; 
            margin: auto; 
        }

        #form_fiche_evaluation_st_info_container form {
            text-align: center; 
            background-color: rgba(255,255,255, 0.6);
        }

        .form_field_container {
            display: table-row;
        }

        .form_field_container label {
            display: table-cell;
            padding: 0.3em 0.5em;
            text-align: right;
        }
    </style>
{% endblock %}

{% block titrePage %}Evaluer un sous-traitants{% endblock %}

{% block messageAccueil %}Evaluer un sous-traitants{% endblock %}

{% block contenu %}
    <div id="form_fiche_evaluation_st_info_container" style=''>

        {{ form_start(formInfoEffectuerFicheEvaluationST) }}

        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.NumAffaire, "Numéro de l'affaire :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.NumAffaire) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.IntituleAffaire, "Intitulé de l'affaire :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.IntituleAffaire) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.Agence, "Votre agence :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.Agence) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.NomST, "Nom du sous-traitant :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.NomST) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.DenominationSocialeST, "Dénomination sociale du sous-traitant :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.DenominationSocialeST) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.SiretST, "Siret du sous-traitant :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.SiretST) }}
        </div>
        <div class="form_field_container">
            {{ form_label(formInfoEffectuerFicheEvaluationST.EmailCA, "Email du CA (chargé d'affaire) :") }}
            {{ form_widget(formInfoEffectuerFicheEvaluationST.EmailCA) }}
        </div>

        {{ form_widget(formInfoEffectuerFicheEvaluationST.Valider, {'attr': {'class': 'boutonFormulaire', 'style': 'margin-top: 1%; padding: 2%;' }}) }}

        {{ form_end(formInfoEffectuerFicheEvaluationST) }}

    </div>


{% endblock %}
