{% extends "::layout.html.twig" %}

{% block titrePage %}
    NOX Virtual Reality
{% endblock %}

{% block messageAccueil %}NOX Virtual Reality{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class='zoneEdition'>

            <button id='texteEditButton' class='boutonFormulaire'>Editer</button>

            {{ form_start(formulaire, {'attr': {'id': 'formulaireTexte' }}) }}

            {{ form_errors(formulaire) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(formulaire.text) }}

            {# Génération de l'input. #}
            {{ form_widget(formulaire.text, {'attr': {'class': 'textField' }}) }}

            {{ form_end(formulaire) }}

        </div>

    {% endif %}

    <div class='zoneTexte'>
        {{ texte|raw }}
    </di>

{% endblock %}
{# empty Twig template #}
{# empty Twig template #}
