{% extends "::layout.html.twig" %}

{% block titrePage %}
    Monitoring des scripts planifiés
{% endblock %}

{% block messageAccueil %}Monitoring des scripts planifiés{% endblock %}

{% block contenu %}
    <style>
        form[name='addScript'] {
            display: inline-block;
            width: auto;
            padding: 0;           
            border: none;

        }

        form[name='addScript'] fieldset {
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;
            background-color: rgba(255,255,255, 0.7);
        }

        #formDiv {
            text-align: center;
            margin-bottom: 2em;
        }

        #monitoringTable {
            width: 70%;
            margin: auto;
            border-collapse: collapse;         
            text-align: center;
            margin-bottom: 2em;
        }

        #monitoringTable, #monitoringTable tr, #monitoringTable th, #monitoringTable td {
            border: 1px solid black;
        }

        #monitoringTable th {
            background-color: #1F4E79;
            color: white;
        }

        .led-green {
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background-color: #ABFF00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        }

        .led-red {
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background-color: #F00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
            -webkit-animation: blinkRed 0.5s infinite;
            -moz-animation: blinkRed 0.5s infinite;
            -ms-animation: blinkRed 0.5s infinite;
            -o-animation: blinkRed 0.5s infinite;
            animation: blinkRed 0.5s infinite;
        }

        @-webkit-keyframes blinkRed {
            from { background-color: #F00; }
            50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
            to { background-color: #F00; }
        }
        @-moz-keyframes blinkRed {
            from { background-color: #F00; }
            50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
            to { background-color: #F00; }
        }
        @-ms-keyframes blinkRed {
            from { background-color: #F00; }
            50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
            to { background-color: #F00; }
        }
        @-o-keyframes blinkRed {
            from { background-color: #F00; }
            50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
            to { background-color: #F00; }
        }
        @keyframes blinkRed {
            from { background-color: #F00; }
            50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
            to { background-color: #F00; }
        }

        .statusLed {
            padding-top: 2%;
            padding-bottom: 2%;
        }

        .led-yellow {
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background-color: #FF0;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
            -webkit-animation: blinkYellow 1s infinite;
            -moz-animation: blinkYellow 1s infinite;
            -ms-animation: blinkYellow 1s infinite;
            -o-animation: blinkYellow 1s infinite;
            animation: blinkYellow 1s infinite;
        }

        @-webkit-keyframes blinkYellow {
            from { background-color: #FF0; }
            50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
            to { background-color: #FF0; }
        }
        @-moz-keyframes blinkYellow {
            from { background-color: #FF0; }
            50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
            to { background-color: #FF0; }
        }
        @-ms-keyframes blinkYellow {
            from { background-color: #FF0; }
            50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
            to { background-color: #FF0; }
        }
        @-o-keyframes blinkYellow {
            from { background-color: #FF0; }
            50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
            to { background-color: #FF0; }
        }
        @keyframes blinkYellow {
            from { background-color: #FF0; }
            50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
            to { background-color: #FF0; }
        }
        
        .delete_script {
            color: red;
            text-decoration: none;
            font-size: calc(20px + 0.2vw);
        }
        
        #addScript_description {
            box-sizing: border-box;
            width: 100%;
            height: 150px;
        }
    </style>

    <table id='monitoringTable'>
        <tr>
            <th>Nom du script</th>
            <th>Info</th>
            <th>Fréquence d'itération</th>
            <th>Dernière éxecution</th>
            <th>Statut</th>
            <th>Supprimer</th>
        </tr>
        {% for script in monitoredScripts %}
            <tr>
                <td>
                    {{ script.ScriptName }}
                </td>
                <td>
                    <span title="{{ script.Description }}" style="border-bottom: 1px dotted black; cursor: help;">?</span>
                </td>
                <td>
                    Toutes les {{ script.Statut(kernelRootDir).frequencyHour }} heure(s)
                </td>
                <td>Le {{ script.Statut(kernelRootDir).lastIteration|date('d/m/Y à H:i:s') }}</td>

                {% set statusClass = {'En cours': 'led-yellow', 'Erreur': 'led-red', 'OK': 'led-green'} %}
                <td class="statusLed">
                    <div class='{{ statusClass[script.Statut(kernelRootDir).Statut] }}' title='Code de retour: {{ script.Statut(kernelRootDir).lastTaskResult }}'></div>
                </td>
                <td>
                    <a class="delete_script" href="{{ path("nox_intranet_delete_script_monitoring", {scriptId: script.Id}) }}">&#10006;</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div id="formDiv">
        {{ form_start(formAddScript) }}
        <fieldset>
            <legend>Ajouter un monitoring de script</legend>

            <p>{{ form_label(formAddScript.scriptName) }} : {{ form_widget(formAddScript.scriptName) }}</p>
            <p>
                {{ form_label(formAddScript.description) }}<br />
                {{ form_widget(formAddScript.description) }}
            </p>
            <p>{{ form_widget(formAddScript.add) }}</p>
        </fieldset>
        {{ form_end(formAddScript) }}
    </div>
{% endblock %}