{% extends "::layout.html.twig" %}

{% block titrePage %} Accueil {% endblock %}

{% block messageAccueil %}Bienvenue {% if app.user != null %} {{ app.user.firstname }} {{ app.user.lastname }} {% endif %}{% endblock %}
{% block sousMessageAccueil %}Nous sommes le {{ date()|date("d/m/Y") }}, l'intranet a été visité {{ nombreVues }} fois.{% endblock %}

{% block contenu %}

    <!--
    {% if news is defined %}
        {% for new in news %}

            <div class="divNews">

                <a onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '{{ new['lien'] }}', 'News SI');">
                    <img 
                        src="{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}" alt="PDF" 
                        onmouseover="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128-hover.png') }}';" 
                        onmouseout="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}';"
                        >
                </a>

                <ul>

                    <li> Nom du fichier : {{ new['nom'] }} </li>

            {% for propriete in new['proprietes'] %}

                {% if propriete['label'] == 'Title' %} <li> Titre : {{ propriete['valeur'] }} </li> {% endif %}

                {% if propriete['label'] == 'Author' %} <li> Auteur : {{ propriete['valeur'] }} </li> {% endif %}

                {% if propriete['label'] == 'Subject' %} <li> Sujet : {{ propriete['valeur'] }} </li> {% endif %}

                {% if propriete['label'] == 'Keywords' %} <li> Mots clés : {{ propriete['valeur'] }} </li> {% endif %}

                {% if propriete['label'] == 'Pages' %} <li> Nombre de page(s) : {{ propriete['valeur'] }} </li> {% endif %}

            {% endfor %}

            <li> Posté le : {{ new['dateEnvoi'] }} </li>

        </ul>

    </div>

        {% endfor %}
    {% endif %}
    -->

    <div class='zoneEditionAccueil'>

        {% if is_granted('ROLE_ADMIN') %}

            <button id='texteEditButton' class='boutonFormulaire'>Editer</button>

        {% endif %}

        {{ form_start(formulaire, {'attr': {'id': 'formulaireTexte' }}) }}

        {{ form_errors(formulaire) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(formulaire.text) }}

        {# Génération de l'input. #}
        {{ form_widget(formulaire.text, {'attr': {'class': 'textField' }}) }}

        {{ form_end(formulaire) }}

    </div>


    <div class='zoneTexteAccueil'>
        <p id='edito'> Edito </p>
        <div id='texteAccueil'>
            {{ texte|raw }}
        </div>
    </div>

    <div id="zoneNewsAccueil">

        <script src={{ asset('./js/jquery-2.2.0.min.js') }}></script>

        <!-- Affichage défilant mise à jours Externe -->
        {% if majExterne is defined and majExterne != null %}
            <p class="maj"> Mises à jour Externe </p>

            <div id='majExterne'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsExterne = new Array();

                {% for maj in majExterne %}
                    newsExterne.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majExterne p').fadeTo(3000, 100);
                        $('#majExterne p').html(arr[0]);
                        $('#majExterne p').fadeTo(3000, 0); // fade to "0" with a 1000ms duration
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majExterne p').fadeTo(3000, 100);
                                    $('#majExterne p').html(arr[i]);
                                    $('#majExterne p').fadeTo(3000, 0); // fade to "0" with a 1000ms duration
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsExterne);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant mise à jours Interne -->
        {% if majInterne is defined and majInterne != null %}
            <p class="maj"> Mises à jour Interne </p>
            <div id='majInterne'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsInterne = new Array();

                {% for maj in majInterne %}
                    newsInterne.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majInterne p').fadeTo(3000, 100);
                        $('#majInterne p').html(arr[0]);
                        $('#majInterne p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majInterne p').fadeTo(3000, 100);
                                    $('#majInterne p').html(arr[i]);
                                    $('#majInterne p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsInterne);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant mise à jours Marketing -->
        {% if majMarketing is defined and majMarketing != null %}
            <p class="maj"> Mises à jour Marketing </p>
            <div id='majMarketing'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsMarketing = new Array();

                {% for maj in majMarketing %}
                    newsMarketing.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majMarketing p').fadeTo(3000, 100);
                        $('#majMarketing p').html(arr[0]);
                        $('#majMarketing p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majMarketing p').fadeTo(3000, 100);
                                    $('#majMarketing p').html(arr[i]);
                                    $('#majMarketing p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsMarketing);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant mise à jours SI -->
        {% if majSI is defined and majSI != null %}
            <p class="maj"> Mises à jour SI </p>
            <div id='majSI'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsSI = new Array();

                {% for maj in majSI %}
                    newsSI.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majSI p').fadeTo(3000, 100);
                        $('#majSI p').html(arr[0]);
                        $('#majSI p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majSI p').fadeTo(3000, 100);
                                    $('#majSI p').html(arr[i]);
                                    $('#majSI p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsSI);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant mise à jours AQ -->
        {% if majAQ is defined and majAQ != null %}
            <p class="maj"> Mises à jour Assurance qualité </p>
            <div id='majAQ'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsAQ = new Array();

                {% for maj in majAQ %}
                    newsAQ.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majAQ p').fadeTo(3000, 100);
                        $('#majAQ p').html(arr[0]);
                        $('#majAQ p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majAQ p').fadeTo(3000, 100);
                                    $('#majAQ p').html(arr[i]);
                                    $('#majAQ p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsAQ);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant mise à jours Références -->
        {% if majRH is defined and majRH != null %}
            <p class="maj"> Mises à jour Références </p>
            <div id='majRH'>
                <p></p>
            </div>

            <script type="text/javascript">

                var newsRH = new Array();

                {% for maj in majRH %}
                    newsRH.push("<span class='dateMaj'>{{ maj.dateEnvoi|date('d/m/Y') }}</span> <br /> <a onclick=\"openDetailsPopUpWindow('http://' + document.location.hostname + '{{  maj.Lien }}', '{{ maj.Nom }}');\">{{ maj.Nom }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#majRH p').fadeTo(3000, 100);
                        $('#majRH p').html(arr[0]);
                        $('#majRH p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#majRH p').fadeTo(3000, 100);
                                    $('#majRH p').html(arr[i]);
                                    $('#majRH p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsRH);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant Poste à pourvoir -->

        <p class="maj"> Poste à pourvoir {% if is_granted('ROLE_RH') %} - <a class='editionAnnonces' href='{{ path('nox_intranet_edition_annonces', { 'categorie': 'Poste à pourvoir' }) }}'> Editer </a>{% endif %}</p>
        <div id='posteAPourvoir'>
            <p>{% if posteAPourvoir is defined and posteAPourvoir == null %}Pas de message pour le moment{% endif %}</p>
        </div>
        {% if posteAPourvoir is defined and posteAPourvoir != null %}
            <script type="text/javascript">

                var newsPosteAPourvoir = new Array();

                {% for maj in posteAPourvoir %}
                    newsPosteAPourvoir.push("<a style='cursor: default'>{{ maj.Message }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#posteAPourvoir p').fadeTo(3000, 100);
                        $('#posteAPourvoir p').html(arr[0]);
                        $('#posteAPourvoir p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#posteAPourvoir p').fadeTo(3000, 100);
                                    $('#posteAPourvoir p').html(arr[i]);
                                    $('#posteAPourvoir p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsPosteAPourvoir);

            </script>
        {% endif %}
        <!-------------------------------------------------->

        <!-- Affichage défilant Poste à pourvoir -->

        <p class="maj"> Nomination / organisation {% if is_granted('ROLE_RH') %} - <a class='editionAnnonces' href='{{ path('nox_intranet_edition_annonces', { 'categorie': 'Nomination / organisation' }) }}'> Editer </a>{% endif %}</p>
        <div id='nominationOrganisation'>
            <p>{% if nominationOrganisation is defined and nominationOrganisation == null %}Pas de message pour le moment{% endif %}</p>
        </div>
        {% if nominationOrganisation is defined and nominationOrganisation != null %}
            <script type="text/javascript">

                var newsNominationOrganisation = new Array();

                {% for maj in nominationOrganisation %}
                    newsNominationOrganisation.push("<a style='cursor: default'>{{ maj.Message }}</a>");
                {% endfor %}

                    function showNews(arr) {
                        $('#nominationOrganisation p').fadeTo(3000, 100);
                        $('#nominationOrganisation p').html(arr[0]);
                        $('#nominationOrganisation p').fadeTo(3000, 0);
                        var i = 1;
                        setInterval(
                                function () {
                                    $('#nominationOrganisation p').fadeTo(3000, 100);
                                    $('#nominationOrganisation p').html(arr[i]);
                                    $('#nominationOrganisation p').fadeTo(3000, 0);
                                    i++;
                                    if (i >= arr.length)
                                        i = 0;
                                }, 6000);
                    }

                    showNews(newsNominationOrganisation);

            </script>
        {% endif %}
        <!-------------------------------------------------->

    </div>

{% endblock %}
