{% extends "::layout.html.twig" %}

{% block style %}
    {% stylesheets '@NoxIntranetAccueilBundle/Resources/public/css/accueil.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block script %}
    {% javascripts '@NoxIntranetAccueilBundle/Resources/public/js/accueil.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block titrePage %} Accueil {% endblock %}

{% block messageAccueil %}Bienvenue {% if app.user != null %} {{ app.user.firstname }} {{ app.user.lastname }} {% endif %}{% endblock %}
{% block sousMessageAccueil %}Nous sommes le {{ date()|date("d/m/Y") }}, l'intranet a été visité {{ nombreVues }} fois.{% endblock %}

{% block contenu %}

    <div class="row">
        <div id="zoneEditionAccueil" class='col-lg-12 col-md-12 col-sm-12 hidden'>
            {{ form_start(formulaire, {'attr': {'id': 'formulaireTexte' }}) }}
            <div class="form-group">
                {{ form_widget(formulaire.text, {'attr': {'class': 'textField' }}) }}
            </div>
            <div class="text-center">
                <button type="button" id='texteEditCancelButton' class='btn btn-primary hidden'>Annuler</button>
                {{ form_widget(formulaire.modifier, {'attr': {'class': 'btn btn-primary' }}) }}
            </div>
            {{ form_end(formulaire) }}
        </div>
    </div>

    <div class="row">
        <div id="zoneTexteAccueilContainer" class="col-lg-6 col-md-6 col-sm-6 background-transparent-white">
            <div class="row">
                <div id='zoneTexteAccueilHeader'  class="navbar background-blue col-lg-12 col-md-12 col-sm-12">
                    <h4 class="navbar-text text-white">Édito</h4>
                    {% if is_granted('ROLE_COMMUNICATION') %}
                        <button id='texteEditButton' class='btn btn-default navbar-btn navbar-right'>Editer</button>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div id='zoneTexteAccueil' class="col-lg-12 col-md-12 col-sm-12">
                    <div id='texteAccueil'>
                        {{ texte|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div id="zoneNewsAccueil" class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 background-transparent-white">
            <script type="text/javascript">
                $(document).ready(function () {
                    ajaxGetNews("{{ path('nox_intranet_accueil_ajax_get_news') }}");
                });
            </script>
        </div>
    </div>

{% endblock %}
