{% extends "::layout.html.twig" %}

{% block titrePage %}
    Références
{% endblock %}

{% block messageAccueil %}Références{% endblock %}

{% block textEncart %}

    {% if text is defined %}{{ text|raw }}{% endif %}

    {% if is_granted('ROLE_ADMIN') %}

        {{ form_start(formulaire, {'attr': {'id': 'formulaireTexteEncart' }}) }}

        {{ form_errors(formulaire) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(formulaire.text) }}

        {# Génération de l'input. #}
        {{ form_widget(formulaire.text, {'attr': {'class': 'textEncartField'}}) }}

        {{ form_end(formulaire) }}

        <img src='{{ asset('bundles/noxintranetadministration/images/Text-Editor-32.png') }}' id='texteEncartImg'>

    {% endif %}

{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_REFERENCES') %} 

        <div id="menuAdminReferences" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/references', 'Gestionnaire de fichiers - Références');"> <h3>  Ouvrir le gestionnaire de fichier </h3> </a>
        </div>

    {% endif %}

    {% for reference in references %}

        <div class="divNews">

            <a onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '/Symfony/web/uploads/References/{{ reference['lien'] }}', 'Références');">
                <img 
                    src="{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}" alt="PDF" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}';"
                    >
            </a>

            <ul>

                {% for propriete in reference['proprietes'] %}

                    {% if propriete['label'] == 'Title' %} <li> Titre : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Author' %} <li> Auteur : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Subject' %} <li> Sujet : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Keywords' %} <li> Mots clés : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'ModDate' %} <li> Date : {{ propriete['valeur']|date('d/m/Y') }} </li> {% endif %}

                    {% if propriete['label'] == 'Pages' %} <li> Nombre de page(s) : {{ propriete['valeur'] }} </li> {% endif %}

                {% endfor %}

            </ul>

        </div>

    {% endfor %}

{% endblock %}
{# empty Twig template #}
