{% extends "::layout.html.twig" %}

{% block titrePage %}
    News SI
{% endblock %}

{% block messageAccueil %}News SI{% endblock %}

{% block contenu %}

    {% if is_granted('ROLE_COMMUNICATION') %} 

        <div id="menuAdminNewsSI" class='menuAdmin'>
            <h3> Interface de gestion de contenu </h3>
            <a onclick="openFichiersPopUpWindow('http://' + document.location.hostname + '/Symfony/web/app.php/elfinder/newsSI', 'Gestionnaire de fichiers - News SI');"> <h3> Ouvrir le gestionnaire de fichier </h3> </a>
        </div>

    {% endif %}

    {% for new in news %}

        <div class="divNews">

            <a onclick="openDetailsPopUpWindow('http://' + document.location.hostname + '{{ new['lien'] }}', 'News SI');">
                <img 
                    src="{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}" alt="PDF" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetcommunication/images/Adobe-PDF-Export-128.png') }}';"
                    >
            </a>

            <ul>
                
                <li> Nom du fichier : {{ new['nom'] }} </li>

                {% for propriete in new['proprietes'] %}

                    {% if propriete['label'] == 'Title' %} <li> Titre : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Author' %} <li> Auteur : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Subject' %} <li> Sujet : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Keywords' %} <li> Mots clés : {{ propriete['valeur'] }} </li> {% endif %}

                    {% if propriete['label'] == 'Pages' %} <li> Nombre de page(s) : {{ propriete['valeur'] }} </li> {% endif %}

                {% endfor %}

                <li> Posté le : {{ new['dateEnvoi'] }} </li>

            </ul>

        </div>

    {% endfor %}

{% endblock %}
