{% extends "::layout.html.twig" %}

{% block titrePage %}Matrice de compétences{% endblock %}

{% block messageAccueil %}Matrice de compétences{% endblock %}

{% block contenu %}
    <script>
        $(document).ready(function () {
            resizeRotatedCompetencesCells();
            toggleCompetences();
        });

        function resizeRotatedCompetencesCells() {
            // Largeur des cellules de compétence.
            var width = $('.rotateCategorieDiv').height();

            // Hauteur maximum des cellules.
            var maxHeight = 0;
            $('.rotateCategorieDiv').each(function () {
                if ($(this).width() > maxHeight) {
                    maxHeight = $(this).width();
                }
            });

            // On applique les nouvelles mesures.
            $('.competenceHeader').height(maxHeight);
            $('.competenceHeader').css('min-width', width);
        }

        function toggleCompetences() {
            // Lors du clique sur un titre de catégorie.
            $('.categorieHeader').on('click', function () {
                // Cellule et catégorie.
                var categorieCell = $(this);
                var categorie = categorieCell.data('categorie');

                // Si la catégorie est ouverte...
                if (categorieCell.data('state') === 'visible') {
                    // On réduit le colspan à 1 et on modifie l'état.
                    categorieCell.attr('colspan', '1');
                    categorieCell.data('state', 'hidden');
                }
                // Sinon...
                else {
                    // On redonne le colsapn et l'état d'origine.
                    categorieCell.attr('colspan', categorieCell.data('colspan'));
                    categorieCell.data('state', 'visible');
                }

                // Pour chaques titre de compétence...
                $('.competenceHeader').each(function () {
                    // Si la compétence fait partie de la catégorie...
                    if ($(this).data('categorie') === categorie) {
                        $(this).toggle(); // On l'affiche/cache.
                    }
                });
            });
        }

    </script>

    <style>
        #matriceCompetenceTable {
            table-layout: fixed;
        }

        #matriceCompetenceTable, #matriceCompetenceTable tr, #matriceCompetenceTable th, #matriceCompetenceTable td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .competenceHeader {
            white-space: nowrap;
            position: relative;
            padding: 0.5em;
        }

        .rotateCategorieDiv {
            position: absolute;
            transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            top: 50%;
            left: 50%;
        }

        .hiddenTh {
            display: none;
        }

        .categorie_selection_section {
            display: inline-block;
            vertical-align: top;
        }
    </style>


    <div>
        {% for categorie, competences in competencesArray %}
            <section class='categorie_selection_section'>
                <h3>{{ categorie }}</h3>
                {% for competence in competences %}
                    <li>
                        {{ competence }}
                    </li>
                {% endfor %}
            </section>
        {% endfor %}
    </div>

    <table id='matriceCompetenceTable'>
        <theader>
            <tr>
                <th colspan='8'>DONNEES INDIVIDUELLES</th>
                <th colspan='{{ competencesCount }}'>MATRICES COMPETENCES</th>
            </tr>
            <tr>
                <th colspan='8'>
                    INFOS SALARIES
                </th>
                {% for categorie, competences in competencesArray %}
                    <th colspan='{{ competences|length }}' class='categorieHeader' data-categorie='{{ categorie }}' data-colspan='{{ competences|length }}' data-state='visible'>
                        {{ categorie }}
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th>Société</th>
                <th>Etablissement</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Date d'ancienneté</th>
                <th>Statut</th>
                <th>Poste</th>
                    {% for categorie_name, categorie in competencesArray %}
                    <th class='competenceHeader hiddenTh' data-categorie='{{ categorie_name }}'>
                        <span>...</span>
                    </th>
                    {% for competence in categorie %}
                        <th class='competenceHeader' data-categorie='{{ categorie_name }}'>
                            <div class='rotateCategorieDiv'>{{ competence }}</div>
                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </theader>
        <tbody>
        </tbody>
    </table>
{% endblock %}