{% extends "::layout.html.twig" %}

{% block titrePage %}Matrice de compétences{% endblock %}

{% block messageAccueil %}Matrice de compétences{% endblock %}

{% block contenu %}
    <script src="{{ asset('./js/jquery.tablesorter/jquery.tablesorter.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            toggleCompetencesSelection();

            // Initialisation de la fonction de trie Jquery.
            $("#matriceCompetenceTable").tablesorter({
                sortList: [[1, 0]],
                headers: {
                    6: {sorter: false}
                }
            });
        });
        function toggleCompetencesSelection() {
            $('#categorie_selection_foldbar').on('click', function () {
                $('#categorie_selection_box').slideToggle();
                $('.categorie_selection_foldbar_indicator').toggle();
            });
        }

    </script>

    <style>
        #matriceCompetenceTable_Div {
            width: 100%;
            margin: auto;
            margin-top: 2em;
            margin-bottom: 2em;
            overflow: auto;
            height: 500px;
        }

        #competenceTable, #infosSalariesTable {
            table-layout: fixed;
        }

        #matriceCompetenceTable {
            margin: auto;
            border-collapse: collapse;
            width: 100%;
        }

        #matriceCompetenceTable, #matriceCompetenceTable tr, #matriceCompetenceTable th, #matriceCompetenceTable td {
            border: 1px solid black;
            text-align: center;
            font-size: calc(9px + 0.2vw);
            background-color: transparent;
        }

        #matriceCompetenceTable th, #matriceCompetenceTable td {
            padding: 0.5em;
        }

        #matriceCompetenceTable th {
            background-color: rgba(31,78,121,0.8);
            color: white;
        }

        #matriceCompetenceTable th.header {
            padding-right: 1.5em;
            background-image: url('{{ asset('js/jquery.tablesorter/themes/blue/bg.gif') }}'); 
            background-repeat: no-repeat;
            background-position: center right;
            cursor: pointer;
        }

        #matriceCompetenceTable th.headerSortUp { 
            background-image: url('{{ asset('js/jquery.tablesorter/themes/blue/asc.gif') }}'); 
        } 

        #matriceCompetenceTable th.headerSortDown { 
            background-image: url('{{ asset('js/jquery.tablesorter/themes/blue/desc.gif') }}'); 
        }

        #matriceCompetenceTable th div {
            position: absolute;
            padding: 0.5em;
            padding-right: 1.5em;
            top: 0;
            left: 0;
        }

        #matriceCompetenceTable td {
            background-color: rgba(255,255,255,0.8);
        }

        .categorie_selection_section {
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% / 3);
            font-size: calc(11px + 0.2vw);
            vertical-align: top;
            padding: 1em;
        }

        .competences_ul {
            margin: 0;
            padding-left: 1em;
            font-size: calc(11px + 0.2vw);
            list-style-type: none;
        }

        .categorie_selection_title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: calc(12px + 0.2vw);
        }

        #categorie_selection_div {
            width: 60%;
            margin: auto;
            font-size: 0;
            background-color: rgba(255,255,255, 0.6);
            border: 2px solid #1F4E79;
        }

        .competences_li label {
            font-size: calc(11px + 0.2vw);
        }

        #categorie_selection_foldbar {
            background-color: rgba(31,78,121,0.8);
        }

        .categorie_selection_foldbar_indicator {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            text-align: right;
            font-size: calc(12px + 0.2vw);
            padding: 0.25em 1em 0.25em 0.25em;
            margin: 0;
            color: white;
        }

        #categorie_selection_foldbar_text {
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
            font-size: calc(12px + 0.2vw);
            padding: 0.25em 0.25em 0.25em 2em;
            margin: 0;
            color: white;
        }

        #categorie_selection_box {
            height: 250px;
            overflow-y: auto;
            border-top: 2px solid #1F4E79;
        }

        .competence_td {
            font-size: 0;
        }

        .competence_container {
            display: inline-block;
            padding: 0.25em 0.10em;
        }

        .competence_principale_div, .competence_secondaire_div {
            display: inline-block;
            padding: 0.25em;
            font-size: calc(11px + 0.2vw);
            border-radius: 5px;
        }

        .competence_principale_div {
            background-color: #1f4e79;
            color: white;
        }

        .competence_secondaire_div {
            background-color: #5d9bd5;
            color: white;
        }

        #matriceTableSection {
            position: relative;
        }
    </style>


    <!-- Sélécteur de compétences -->
    <div id="categorie_selection_div">
        <div id="categorie_selection_foldbar">
            <p id="categorie_selection_foldbar_text">Sélection des compétences</p>
            <p class="categorie_selection_foldbar_indicator" style="display: none;">&#10134;</p>
            <p class="categorie_selection_foldbar_indicator">&#10133;</p>
        </div>
        <div id="categorie_selection_box" style="display: none;" data-state="open">
            {% for categorie, competences in competencesArray %}
                <section class='categorie_selection_section'>
                    <h3 class="categorie_selection_title">
                        <label><input type="checkbox">{{ categorie }}</label>
                    </h3>
                    <ul class="competences_ul">
                        {% for competence in competences %}
                            <li class="competences_li">
                                <label><input type="checkbox">{{ competence }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </div>
    </div>
    <!-- Fin du sélécteur de compétences -->

    <section id='matriceTableSection'>
        <div id="matriceCompetenceTable_Div">
            <table id='matriceCompetenceTable'>
                <thead>
                    <tr>
                        <th>Société<hr>Etablissement<div>Société<hr>Etablissement</div></th>     
                        <th>NOM<br />Prénom</th>
                        <th>Date<br /> de<br /> naissance</th>
                        <th>Date<br /> d'ancienneté</th>
                        <th>Statut</th>
                        <th>Poste</th>
                        <th>Compétence principale<hr>Compétences secondaires</th>
                    </tr>
                </thead>
                <tbody>
                    {% for matrice in matrices_competences %}
                        <tr>
                            <td class="table_left_header">{{ matrice.Societe }}<hr>{{ matrice.Etablissement }}</td>
                            <td class="table_left_header">{{ matrice.Nom }}<br />{{ matrice.Prenom }}</td>
                            <td class="table_left_header">{{ matrice.DateNaissance|date('d/m/Y') }}</td>
                            <td class="table_left_header">{{ matrice.DateAnciennete|date('d/m/Y') }}</td>
                            <td class="table_left_header">{{ matrice.Statut }}</td>
                            <td class="table_left_header">{{ matrice.Poste }}</td>
                            <td>
                                <span class='competence_container'>
                                    <div class='competence_principale_div'>{{ matrice.CompetencePrincipale is not null ? matrice.CompetencePrincipale : "Aucune" }}</div>
                                </span>
                                <hr>
                                {% if matrice.CompetencesSecondaires is not empty %}
                                    {% for competence in matrice.CompetencesSecondaires %}
                                        <span class='competence_container'>
                                            <div class='competence_secondaire_div'>{{ competence }}</div>
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <div class='competence_secondaire_div'>Aucune</div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}