{% extends "::layout.html.twig" %}

{% block titrePage %} Choix de l'interlocuteur {% endblock %}

{% block messageAccueil %}Choix de l'interlocuteur{% endblock %}

{% block contenu %}

    <div class="DivCreationSuiviRetour">
        <a href="{{ path('nox_intranet_assistant_affaire_nouvelle_choix_client', {'IdSuivi': IdSuivi}) }}"><img src='{{ asset('bundles/noxintranetressources/images/Left-Arrow-48.png') }}' alt='Flêche retour'>Retourner au choix du client</a>
    </div>

    <div id="DivChoixActionInterlocuteur" style='width: 70%; margin: auto; text-align: center; margin-bottom: 2%;'>
        <div style='display: inline-block; width: 50%; text-align: right;'>
            <button type="button" name='choixInterlocuteur' class='boutonFormulaire' style='font-size: 0.8vw; margin-right: 10%;'>Choix d'un interlocuteur</button>
        </div><!--
        --><div style='display: inline-block; width: 50%; text-align: left;'>
            <button type="button" name='ajoutInterlocuteur' class='boutonFormulaire' style='font-size: 0.8vw; margin-left: 10%;'>Ajout d'un interlocuteur</button>
        </div>
    </div>

    <div id="DivFormulaireChoixInterlocuteur">

        {{ form_start(formSelectionInterlocuteur, {'attr': {'class': 'formulaireChoixInterlocuteur'}}) }}
        {{ form_errors(formSelectionInterlocuteur) }}

        <fieldset>

            <legend>Choisir un interlocuteur</legend>

            <p style='margin: 0;'><!--
                --><label for="rechercheSuivi">Recherche</label><br /><!--
                --><input placeholder="Ex : Ventes 2016" name='rechercheSuivi' type="text" id="rechercheSuivi" style='width: 70%; margin-bottom: 2%; box-sizing: border-box;'/><br /><!--
                -->{{ form_errors(formSelectionInterlocuteur.NoInterlocuteur) }}<!--
                -->{{ form_widget(formSelectionInterlocuteur.NoInterlocuteur, {'attr': {'class': 'selectFormulaireChoixInterlocuteur champChoixInterlocuteur', 'size':'15', 'style': 'width: 70%; margin-bottom: 2%;'}}) }}<!--

                --><br /><!--

                -->{{ form_widget(formSelectionInterlocuteur.Choisir, {'label': 'Choisir cet interlocuteur', 'attr': {'class': 'boutonFormulaire' }}) }}<!--
                --></p>
        </fieldset> 

        {{ form_end(formSelectionInterlocuteur) }}

    </div>

    <div id="DivFormulaireAjoutInterlocuteur" style='display: none;'>

        {{ form_start(formAjoutInterlocuteur, {'attr': {'class': 'formulaireAjoutClient'}}) }}
        {{ form_errors(formAjoutInterlocuteur) }}

        <fieldset>

            <legend>Ajouter un interlocuteur</legend>

            <p style="margin: 0;">
                {{ form_label(formAjoutInterlocuteur.Nom_Contact, "Nom de l'interlocuteur :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Nom_Contact) }}
                {{ form_widget(formAjoutInterlocuteur.Nom_Contact, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Prenom_Contact, "Prénom de l'interlocuteur :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Prenom_Contact) }}
                {{ form_widget(formAjoutInterlocuteur.Prenom_Contact, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Titre, "Titre :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Titre) }}

                <span style="display: inline-block; width: 40%; margin-right: 10%; margin-bottom: 1%; border: 2px solid transparent; text-align: center;"> 
                    <span style="display: inline-block; text-align: left;">
                        {% for option in formAjoutInterlocuteur.Titre %}
                            <span> 
                                {{ form_widget(option, {'attr': { 'style': 'margin-right: 2%; width: auto;'}}) }}{{ form_label(option, option, {'label_attr': {'style' :'float: none; text-align: left;'}}) }}
                            </span><br />
                        {% endfor %}     
                    </span>
                </span>

                <br />

                {{ form_label(formAjoutInterlocuteur.Nom_Ville, "Ville :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Nom_Ville) }}
                {{ form_widget(formAjoutInterlocuteur.Nom_Ville, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Nom_Pays, "Pays :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Nom_Pays) }}
                {{ form_widget(formAjoutInterlocuteur.Nom_Pays, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Code_Postal, "Code Postal :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Code_Postal) }}
                {{ form_widget(formAjoutInterlocuteur.Code_Postal, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Ligne_Directe, "Ligne directe :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Ligne_Directe) }}
                {{ form_widget(formAjoutInterlocuteur.Ligne_Directe, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Portable, "Portable", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Portable) }}
                {{ form_widget(formAjoutInterlocuteur.Portable, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutInterlocuteur.Fax, "Fax", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutInterlocuteur.Fax) }}
                {{ form_widget(formAjoutInterlocuteur.Fax, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_widget(formAjoutInterlocuteur.Ajouter, {'label': 'Ajouter un interlocuteur', 'attr': {'class': 'boutonFormulaire', 'style': 'margin-top: 1%;' }}) }}

            </p>
        </fieldset> 

        {{ form_end(formAjoutInterlocuteur) }}

    </div>

    <script>
        $(window).load(function () {
            selectInterlocuteurAction();
            searchInSelector('#rechercheSuivi', '{{ noClient }}', '.selectFormulaireChoixInterlocuteur', '{{ path('nox_intranet_assistant_affaire_ajax_interlocuteur_getter') }}');
        });

        // Effectue une requête Ajax pour retourné la liste des elements correspondant au critére de recherche.
        function searchInSelector(champRecherche, client, selecteur, ajaxPath) {

            // Initialisation d'un timer pour executer la fonction après 1 seconde sans frappe.
            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();
            // Lorsque on entre une valeur de le champ de recherche.
            $(champRecherche).on("keyup paste input", function () {
                typewatch(function () {
                    // On remplace le contenu du sélécteur par une image de chargement.
                    $(selecteur).find("option").remove();
                    $(selecteur).css('background', "white url('http://" + window.location.hostname + "{{ asset('bundles/noxintranetressources/images/loading.gif') }}" + "') no-repeat center");
                    $(selecteur).css('background-size', '50%');
                    $.ajax({
                        type: 'POST',
                        url: ajaxPath,
                        data: {'critere': $(champRecherche).val(), 'numClient': client},
                        success: function (response) {
                            // On remplace i'image de chargement par un fond blanc.
                            $(selecteur).css('background', 'white');
                            // On ajout la liste des clients retourné par la requête Ajax.
                            $(selecteur).find("option").remove();
                            $.each(response, function (i, item) {
                                $(selecteur).append(new Option(item.nom, item.numero));
                            });
                            // On change la couleur de fond des résultats pair pour simplifier la lecture.
                            $(selecteur + ' option:nth-child(even)').css('background', 'SeaShell');
                            // On donne le nom du client à l'attribut title.
                            $(selecteur + ' option').each(function () {
                                $(this).attr('title', $(this).text());
                            });
                        }
                    });
                }, 500);
            });
        }

        // Affiche/Cache les 'div' de séléction/ajout d'interlocuteur.
        function selectInterlocuteurAction() {
            // Lors d'un clique sur le bouton de choix d'interlocuteur.
            $("button[name='choixInterlocuteur']").click(function () {
                $('#DivFormulaireChoixInterlocuteur').show(); // Affiche la 'div' de choix du client.
                $('#DivFormulaireAjoutInterlocuteur').hide(); // Cache la 'div' d'ajout de client.
            });
            // Lors d'un clique sur le bouton d'ajout d'interlocuteur.
            $("button[name='ajoutInterlocuteur']").click(function () {
                $('#DivFormulaireChoixInterlocuteur').hide(); // Cache la 'div' de choix du client.
                $('#DivFormulaireAjoutInterlocuteur').show(); // Affiche la 'div' d'ajout de client.
            });
        }
    </script>

{% endblock %}
