{% extends "::layout.html.twig" %}

{% block titrePage %} Choix de l'interlocuteur {% endblock %}

{% block messageAccueil %}Choix de l'interlocuteur{% endblock %}

{% block contenu %}

    <div id="DivFormulaireChoixInterlocuteur">

        {{ form_start(form, {'attr': {'class': 'formulaireChoixInterlocuteur'}}) }}
        {{ form_errors(form) }}

        <fieldset>

            <legend>Interlocuteur</legend>

            <p>
                <label for="rechercehSuivi">Recherche</label>
                <input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi"/>
                {{ form_errors(form.NoInterlocuteur) }}
                {{ form_widget(form.NoInterlocuteur, {'attr': {'class': 'selectFormulaireChoixInterlocuteur champChoixInterlocuteur', 'size':'15'}}) }}

                <br />

                {{ form_widget(form.Choisir, {'label': 'Choisir cet interlocuteur', 'attr': {'class': 'boutonFormulaire' }}) }}

                <script>
                    $(window).load(function () {
                        resizeFormLabelAndData($('.labelFormulaireChoixInterlocuteur'), $('.champChoixInterlocuteur'), $('.formulaireChoixInterlocuteur p'));
                        Recherche('.selectFormulaireChoixInterlocuteur');
                    });
                </script>
            </p>
        </fieldset> 

        {{ form_end(form) }}

    </div>

{% endblock %}

{# empty Twig template #}
