{% extends "::layout.html.twig" %}

{% block titrePage %} Choix du client {% endblock %}

{% block messageAccueil %}Choix du client{% endblock %}

{% block contenu %}

    <div id="DivFormulaireChoixClient">
        {{ form_start(formClient, {'attr': {'class': 'formulaireChoixClient'}}) }}
        {{ form_errors(formClient) }}

        <fieldset>

            <legend>Choix client</legend>

            <p style="margin: 0;"><!--
                --><label for="rechercheSuivi">Recherche</label><br /><!--
                --><input placeholder="Ex : Ventes 2016" type="text" id="rechercehSuivi" /><!--
                -->{{ form_errors(formClient.noClient) }}<!--
                -->{{ form_widget(formClient.noClient, {'attr': {'class': 'selectFormulaireChoixClient champChoixClient', 'size':'15', 'style': 'width: 70%;'}}) }}<!--

                --><br /><!--

                -->{{ form_widget(formClient.Choisir, {'label': 'Choisir ce client', 'attr': {'class': 'boutonFormulaire' }}) }}<!--
            --></p>
        </fieldset> 

        {{ form_end(formClient) }}
    </div>

    <div id="DivFormulaireClientAdr">
    </div>

    <div id="DivFormulaireAjoutClient">

        {{ form_start(formAjoutClient, {'attr': {'class': 'formulaireAjoutClient'}}) }}
        {{ form_errors(formAjoutClient) }}

        <fieldset>

            <legend>Ajout client</legend>

            <p>
                {{ form_label(formAjoutClient.Nom_Client, "Nom du client :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Nom_Client) }}
                {{ form_widget(formAjoutClient.Nom_Client, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Tel, "Téléphone :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Tel) }}
                {{ form_widget(formAjoutClient.Tel, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Fax, "Fax :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Fax) }}
                {{ form_widget(formAjoutClient.Fax, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Email, "Email :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Email) }}
                {{ form_widget(formAjoutClient.Email, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Nom_Ville, "Ville :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Nom_Ville) }}
                {{ form_widget(formAjoutClient.Nom_Ville, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Nom_Pays, "Pays :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Nom_Pays) }}
                {{ form_widget(formAjoutClient.Nom_Pays, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Code_Postal, "Code Postal :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Code_Postal) }}
                {{ form_widget(formAjoutClient.Code_Postal, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Adresse1, "Adresse :", {'label_attr': {'class': 'labelFormulaireAjoutClient'}}) }}
                {{ form_errors(formAjoutClient.Adresse1) }}
                {{ form_widget(formAjoutClient.Adresse1, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Adresse2, "", {'label_attr': {'class': 'labelFormulaireAjoutClient', 'style': 'opacity: 0'}}) }}
                {{ form_errors(formAjoutClient.Adresse2) }}
                {{ form_widget(formAjoutClient.Adresse2, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_label(formAjoutClient.Adresse3, "", {'label_attr': {'class': 'labelFormulaireAjoutClient', 'style': 'opacity: 0'}}) }}
                {{ form_errors(formAjoutClient.Adresse3) }}
                {{ form_widget(formAjoutClient.Adresse3, {'attr': {'class': 'textFormulaireAjoutClient champAjoutClient'}}) }}

                <br />

                {{ form_widget(formAjoutClient.Ajouter, {'label': 'Ajouter un client', 'attr': {'class': 'boutonFormulaire' }}) }}

            </p>
        </fieldset> 

        {{ form_end(formAjoutClient) }}

    </div>

    <script>
        $(window).load(function () {
            getClientsByCritere();
            getClientAdrByNClient();
            //resizeFormLabelAndData($('.labelFormulaireChoixClient'), $('.champChoixClient'), $('.formulaireChoixClient p'));
            //resizeFormLabelAndData($('.labelFormulaireAjoutClient'), $('.champAjoutClient'), $('.formulaireAjoutClient p'));
        });

        // Effectue une requête Ajax pour retourné la liste des clients correspondant au critére de recherche.
        function getClientsByCritere() {

            // Initialisation d'un timer pour executer la fonction après 1 seconde sans frappe.
            var typewatch = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            // Lorsque on entre une valeur de le champ de recherche.
            $("#rechercehSuivi").on("keyup paste input", function () {
                typewatch(function () {
                    // On remplace le contenu du sélécteur par une image de chargement.
                    $('#formClient_noClient').find("option").remove();
                    $('#formClient_noClient').css('background', "white url('http://" + window.location.hostname + "{{ asset('bundles/noxintranetressources/images/loading.gif') }}" + "') no-repeat center");
                    $('#formClient_noClient').css('background-size', '50%');

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('nox_intranet_assistant_affaire_ajax_client_getter') }}',
                        data: 'critere=' + $("#rechercehSuivi").val(),
                        success: function (response) {
                            // On remplace i'image de chargement par un fond blanc.
                            $('#formClient_noClient').css('background', 'white');
                            // On ajout la liste des clients retourné par la requête Ajax.
                            $('#formClient_noClient').find("option").remove();
                            $.each(response, function (i, item) {
                                $('#formClient_noClient').append(new Option(item, i));
                            });
                            // On change la couleur de fond des résultats pair pour simplifier la lecture.
                            $('#formClient_noClient option:nth-child(even)').css('background', 'SeaShell');
                            // On donne le nom du client à l'attribut title.
                            $('#formClient_noClient option').each(function () {
                                $(this).attr('title', $(this).text());
                            });
                        }
                    });
                }, 1000);
            });
        }

        // Retourne les adresses en fonction du client.
        function getClientAdrByNClient() {
            // Lorsqu'un client est séléctionné.
            $('#formClient_noClient').change(function () {
                var Nclient = $(this).val(); // On récupére son numéro.
                $('#DivFormulaireClientAdr').html(''); // On vide le contenu de la 'div' des adresses de client.
                $.ajax({
                    type: 'POST',
                    url: '{{ path('nox_intranet_assistant_affaire_ajax_client_adr_getter') }}',
                    data: 'NClient=' + Nclient,
                    success: function (response) {
                        // On initalise le nouveau contenu HTML et le nombre d'adresse.
                        var newInput = "";
                        var compteurCoordonnees = 1;

                        // Pour chaque adresse.
                        $.each(response, function () {
                            // On génére le code HTML de l'adresse
                            newInput += "<form class='formulaireClientAdr'> <fieldset> <legend>Coordonnées " + compteurCoordonnees + "</legend> <p>";
                            $.each(this, function (key, value) {
                                // Si la valeur est vide, on indique 'Aucune donnée."
                                if (value === '') {
                                    value = 'Aucune donnée.';
                                }
                                newInput += "<label for=\"" + key + "\" class='labelFormulaireClientAdr'>" + key + " : </label>";
                                newInput += "<input name=\"" + key + "\" type=\"text\" title=\"" + value + "\" value=\"" + value + "\" class='champClientAdr' readonly> <br />";
                            });
                            newInput += "</p> </fieldset> </form> <br />";
                            compteurCoordonnees++; // On incrémente le compteur d'adresse.
                        });

                        $('#DivFormulaireClientAdr').html(newInput); // On injecte le code HTML dans la 'div' des adresses.
                        resizeFormLabelAndData($('.labelFormulaireClientAdr'), $('.champClientAdr'), $('.formulaireClientAdr p'));
                    }
                });
            });
        }

    </script>

{% endblock %}

