{% extends "::layoutV2.html.twig" %}

{% block titrePage %} Ressources {% endblock %}

{% block messageAccueil %}Ressources{% endblock %}

{% block contenu %} 
    
    <style>
        .iconContener .row figure{
            text-align: center;
                margin: 25px 0;
        } 
        
        .iconContener .row span{
            font-size: 100px;
            background-color: rgb(31,78,121);
            width: 150px;
            height: 150px;
            text-align: center;
            line-height: 150px;
            color: #fff;

        } 
        
        .iconContener .row a:hover span  {
            background-color: #fff ;
            color: rgb(31,78,121);
        }
        .iconContener .row a:hover span figcaption{
            color: rgb(31,78,121);
            font-weight: bold;
        } 
        
        .iconContener .row span figcaption{
            height: 87px;
            margin-top: -87px;
            color: #fff;
            font-size: 12px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
        } 
        
        .iconContener .row figcaption.deuxligne{
            height: 38px;
            margin-top: -31px;
            color: #fff;
            font-size: 12px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
            line-height: 14px;
            
        } 

        .iconContener .row h4{
            margin-left: 15px;
        } 

        @media (min-width: 768px) and (max-width: 991px) { 
            .iconContener .row span{
                width: 125px;
                height: 150px;
            }
        }
    </style>
    
    <div class="iconContener">
        <div class="row">
            
            <!-- Archives -->
            <a href="{{ path('nox_intranet_archives') }}" class="icon">
                <figure class="col-xs-3" > 
                        <span class="fa fa-archive"><figcaption>Archives</figcaption></span>
                </figure>
            </a>

            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
                <!-- Assistant d'affaire -->
                <a href="{{ path('nox_intranet_assistant_affaire') }}" class="icon">
                    <figure class="col-xs-3" >
                        <span class="fa fa-handshake-o"><figcaption>Assistant d'affaire</figcaption></span>
                    </figure>
                </a>
            {% endif %}

            <!-- Assurance qualité -->
            <a href="{{ path('nox_intranet_aq') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-check-square-o"><figcaption>Assurance qualité</figcaption></span>
                </figure>
            </a>

            <!-- Développement professionnel -->
            <a href="{{ path('nox_intranet_developpement_professionnel_formulaire') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-graduation-cap"><figcaption class="deuxligne">Développement professionnel</figcaption></span>
                </figure>
            </a>         

            <!-- FAQ -->
            <a href="{{ path('nox_intranet_faq') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-question"><figcaption>FAQ</figcaption></span>
                </figure>
            </a> 

            <!-- Interface VOIP -->
            <a href="https://172.16.35.1:9443/onexportal.html" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-headphones"><figcaption>Interface VOIP</figcaption></span>
                </figure>
            </a> 

            <!-- Imprimantes (A tester !)
            <a href="{{ path('nox_intranet_imprimantes') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-print"><figcaption>Imprimantes</figcaption></span>
                </figure>
            </a>
            -->

            
            <!-- Liens -->
            <a href="{{ path('nox_intranet_liens') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-link"><figcaption>Liens</figcaption></span>
                </figure>
            </a>

            <!-- NOX Virtual Reality -->
            <a href="{{ path('nox_intranet_nox_virtual_reality') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-camera"><figcaption>NOX Virtual Reality</figcaption></span>
                </figure>
            </a>

            <!-- Partage de documents -->
            <a href="http://partage.groupe-nox.com/" class="icon" target="_blank">
                <figure class="col-xs-3" >
                    <span class="fa fa-exchange"><figcaption>Partage de documents</figcaption></span>
                </figure>
            </a>

            <!-- Partage de documents -->
            <a href="{{ path('nox_intranet_pointage') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-thumb-tack"><figcaption>Pointage</figcaption></span>
                </figure>
            </a>

            <!-- Procédures (A ajouter)
            <a href="{{ path('nox_intranet_procedures') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-file-text-o"><figcaption>Procédures</figcaption></span>
                </figure>
            </a>
            -->


            <!-- Prestations internes -->
            <a href="{{ path('nox_intranet_prestations_internes') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-weixin"><figcaption>Prestations internes</figcaption></span>
                </figure>
            </a>

            <!-- Références -->
            <a href="{{ path('nox_intranet_references') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-puzzle-piece"><figcaption>Références</figcaption></span>
                </figure>
            </a>

            <!-- RH -->
            <a href="{{ path('nox_intranet_rh') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-group"><figcaption>RH</figcaption></span>
                </figure>
            </a>

            <!-- Serveurs -->            
            <a href="{{ path('nox_intranet_serveurs') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-server"><figcaption>Serveurs</figcaption></span>
                </figure>
            </a>

            <!-- SIREN -->            
            <a href="{{ path('nox_intranet_ressources_siren') }}" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-fort-awesome"><figcaption>SIREN</figcaption></span>
                </figure>
            </a>

        </div>
        <div class="row">

            <!-- Visioconférence salle 1 -->            
            <a href="https://webrtc.g2j.vc/g2j/#/?conference=669644327" target="_blank" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-volume-control-phone"><figcaption>Capitole 1</figcaption></span>
                </figure>
            </a>

            <!-- Visioconférence salle 2 -->            
            <a href="https://webrtc.g2j.vc/g2j/#/?conference=669644328" target="_blank" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-volume-control-phone"><figcaption>Capitole 2</figcaption></span>
                </figure>
            </a>

            <!-- Visioconférence salle 1 -->            
            <a href="https://webrtc.g2j.vc/g2j/#/?conference=669644329" target="_blank" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-volume-control-phone"><figcaption>Capitole 3</figcaption></span>
                </figure>
            </a>

            <!-- Visioconférence salle 2 -->            
            <a href="https://webrtc.g2j.vc/g2j/#/?conference=669644330" target="_blank" class="icon">
                <figure class="col-xs-3" >
                    <span class="fa fa-volume-control-phone"><figcaption>Capitole 4</figcaption></span>
                </figure>
            </a>
        
        </div>
    </div>

{% endblock %}