{% extends "::layout.html.twig" %}

{% block titrePage %} Ressources {% endblock %}

{% block messageAccueil %}Ressources{% endblock %}

{% block contenu %} 
    <div class="iconContener">

        <!-- Archives -->
        <a href="{{ path('nox_intranet_archives') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Archive-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Archive-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Archive-128.png') }}';"
                    > 
                <figcaption>Archives</figcaption>
            </figure>
        </a>

        <!-- Assistant d'affaire -->
        <a href="{{ path('nox_intranet_assistant_affaire') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Business-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Business-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Business-128.png') }}';"
                    > 
                <figcaption>Assistant d'affaire</figcaption>
            </figure>
        </a>

        <!-- Assurance qualité -->
        <a href="{{ path('nox_intranet_aq') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetcommunication/images/Thumbs-Up-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetcommunication/images/Thumbs-Up-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetcommunication/images/Thumbs-Up-128.png') }}';"
                    > 
                <figcaption>Assurance qualité</figcaption>
            </figure>
        </a>

        <!-- Compétences (en attente)
        <a href="{{ path('nox_intranet_competences') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Competences-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Competences-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Competences-128.png') }}';"
                    > 
                <figcaption>Compétences</figcaption>
            </figure>
        </a>
        <!---------------------------->

        <!-- FAQ -->
        <a href="{{ path('nox_intranet_faq') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/FAQ-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/FAQ-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/FAQ-128.png') }}';"
                    > 
                <figcaption>FAQ</figcaption>
            </figure>
        </a>

        <br />

        <!-- Imprimantes (A tester !)
        <a href="{{ path('nox_intranet_imprimantes') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Printer-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Printer-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Printer-128.png') }}';"
                    > 
                <figcaption>Imprimantes</figcaption>
            </figure>
        </a>
        -->

        <!-- Liens -->
        <a href="{{ path('nox_intranet_liens') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Link-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Link-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Link-128.png') }}';"
                    > 
                <figcaption>Liens</figcaption>
            </figure>
        </a>

        <!-- Procédures (A ajouter)
        <a href="{{ path('nox_intranet_procedures') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Procedures-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Procedures-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Procedures-128.png') }}';"
                    > 
                <figcaption>Procédures</figcaption>
            </figure>
        </a>
        -->

        <!-- Références -->
        <a href="{{ path('nox_intranet_references') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Reference-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Reference-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Reference-128.png') }}';"
                    > 
                <figcaption>Références</figcaption>
            </figure>
        </a>

        <!-- RH -->
        <a href="{{ path('nox_intranet_rh') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/User-Group-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/User-Group-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/User-Group-128.png') }}';"
                    > 
                <figcaption>RH</figcaption>
            </figure>
        </a>

        <!-- Serveurs -->            
        <a href="{{ path('nox_intranet_serveurs') }}" class="icon">
            <figure>
                <img 
                    src="{{ asset('bundles/noxintranetressources/images/Server-128.png') }}" 
                    onmouseover="this.src = '{{ asset('bundles/noxintranetressources/images/Server-128-hover.png') }}';" 
                    onmouseout="this.src = '{{ asset('bundles/noxintranetressources/images/Server-128.png') }}';"
                    > 
                <figcaption>Serveurs</figcaption>
            </figure>
        </a>

    </div>

{% endblock %}